[2017-09-20 04:23] Ralim commented on #94
Hi,
Firstly, this is not a duplicate afaik and thank you for noticing. edge cases in my logic like these are the biggest causes of the issues on this repository :/ I try to test...

You are correct in every single thing you have said, my logic is at fault here.
However, at the moment I'm sort of treating the 1.x software as on the path to being deprecated by the 2.x branch (Which has entirely new

[2017-09-20 04:25] Ralim commented on #25
@perillamint Yes, I will make an organisation shortly, any idea what the best name is?
Currently not sure if eDesignOpenSource or something is worth it or? (Since don't want to use TS100 as it's not the only product really)

[2017-09-20 05:20] thanks4opensource commented on #94
Thanks, @Ralim. The pseudo-code for 2.x looks good to me. I can't imagine a valid use case for shutdown time less than sleep time, but you never know what someone will come up with. ;)

I'll try to beta test 2.x as soon as you put it up. But the combination of this plus the MSENSE problem **is** driving me crazy. I'm having enough trouble trying to teach myself fine-pitch SMT soldering as it is!

[2017-09-20 06:52] perillamint commented on #25
@Ralim Their company name is MiniDSO and they use MIN as their logo, so I suggest OpenMIN as our org name. I don't have any better idea about this. Out of naming creativity :'(

[2017-09-20 06:59] Ralim commented on #25
E-design is the parent to miniware aka minidso.
They use E-design for the es128, but miniware on the ts100 oddly.

So really not sure where to go :P

[2017-09-20 07:03] perillamint commented on #25
Maybe eDesignOSFW? or eDesignMod?

I got this two in my head now

[2017-09-20 07:04] Ralim commented on #25
eDesignOSS?

[2017-09-20 07:08] perillamint commented on #25
eDesignOSS. That looks good.

[2017-09-20 07:36] perillamint commented on #25
OK. I transfered my two repo into eDesignOSS org.

[2017-09-20 07:37] Ralim commented on #25
I'll transfer this one as soon, just need to set aside time to clean up some stuff first :)

[2017-09-20 14:42] vifino commented on #25
@Ralim It worked, thank you!

I do have a few issues with it, however. It seems very, very slow. Having to hold the buttons to get them to register (~0.5-1s at least), OLED visibly redrawing in settings. Other than that, it looks quite cool.

[2017-09-20 14:49] vifino commented on #25
@perillamint It did! Even my stupidity with trying to flash an intel hex encoded file instead of a binary didn't break it!
Thank you so much for your work! Made things much easier for me.

[2017-09-20 14:54] perillamint commented on #25
@vifino BTW, You could use http://hex2bin.sourceforge.net/ to convert hex to DFU-able bin. I converted recent 1.17.1 HEX into BIN. If you want a stable version, here is the file which I converted using hex2bin. https://www.dropbox.com/s/8p8i21az24q72zo/ts100.bin?dl=0

[2017-09-20 15:15] vifino commented on #25
@perillamint Thank you! I tried to do it using srecord, resulted in a huge binary, which obviously didn't work.
I really appreciate you handing me the bin, and of course your work. :)

[2017-09-20 17:30] dogtopus opened #95 "[v2.0 FR] Chinese/Japanese/Korean translation"
IMO there are several things that need to be done to make this possible:
1. Fonts - we can use [GNU Unifont](https://en.wikipedia.org/wiki/GNU_Unifont) for this (in the upcoming v2.0 licensing should not be an issue since v2.0 will use GPLv3 and Unifont is GPLv2). The same font could also be used on all other languages (including English) due to its large coverage of characters.
2. Update the font

[2017-09-20 18:03] LongHairedHacker commented on #11
Just for the record: I've flashed mine (DFU 3.43) from Arch Linux. Same behaviour as @novirium describes. Lower case filename didn't work at all. All caps filename works rather consistently.

Might be good a idea to add that to the readme, as it took me file to look over the info in the wiki.

[2017-09-20 19:32] awigen commented on #11
Hi @LongHairedHacker and @novirium,

Please try the flasher script and report any problems.

Cheers,
Alex

[2017-09-21 10:50] LongHairedHacker commented on #11
The flasher script won't work for me as I don't have sudo installed.
Also my setup uses udisk to automount usb drives, which would likely interferes with the mount in the scripts.

In the end it doesn't matter since I can get it to flash fine without the script.
The only problem was that the file name has to be all upper case.

[2017-09-21 11:18] Ralim commented on #95
Hi,
The Unifont is a really good suggestion as a font to use!
1.
However, at 16x16 I feel that 6 characters really will not leave much room on the screen for the various options (though I have very little idea about other languages (sorry), so this could be wrong).

Also for 2.x and onwards there is the half height font (maximum of 8 pixels tall) that is used for the detailed screens for informati

[2017-09-21 15:28] perillamint commented on #95
Korean here. IMO, In case of Hangul, we could use "Dokkaebi fonts" which composite Hangul glyphs on-the-fly using Hangul Jamo chunks.

By using this method, font ROM will take about 12KiB, much smaller than several megabytes of font image.

Here is my humble documentation about that method: https://wiki.gentoo.moe/wiki/Dokkaebi-decomposed-font

[2017-09-21 15:53] perillamint commented on #95
@Ralim Chinese (and its derivative alphabets) and Korean alphabets tend to much more "dense" compared then latin alphabets, so it could be a lot tricker task, but not impossible.

For example, "Low volt" message could translate into "전압 부족" in Korean and "低電壓" in Hanja (sorry, it isn't "Chinese version" of Hanja, I just typed "Korean version" Hanja), which will fit in OLED screen.

[2017-09-21 22:46] Ralim commented on #95
@perillamint
12KiB could work okay (there is the room) for the fonts, is that including both a 16-bit tall and an 8-bit tall glyph set?

I'm aware that they are much denser than latin alphabets, just not sure *how* dense they are, and how well they handle being shrunk to 8-pixel tall characters?

[2017-09-21 23:04] perillamint commented on #95
Maybe Hangul *can* survive under 8x8, but it will hurt readability a lot.

Chinese Traditional glyphs will not survive under 8x8 due to its complexity.

I don't have any experience about Chinese Simplified, so I couldn't tell about it.

[2017-09-23 06:45] tigert commented on #86
Ok, battery icons and heating and cooling icon are in my fork, in "icon-drawing" branch: https://github.com/tigert/ts100/tree/icon-drawing/icons-in-progress

  * battery-*.bmp are well, battery levels. I think we should just not show any power symbol when no lipo-cell-setting is selected in settings. I mean, one could do a "plug" icon, but I think less is more here.
  * temperature-*.bmp - °C and

[2017-09-25 00:44] t-xdk opened #96 "Danish Translation"
it would be nice to have it translated into danish

[code]

[2017-09-25 09:50] uncle-fed commented on #91
I am working on creating the font already, as I mentioned here
https://github.com/Ralim/ts100/issues/87#issuecomment-328835815

Shall I stop? I don't want to do a lot work requiring precision and time, if somebody is doing already.

[2017-09-25 09:54] runy1984 commented on #91
do we all look forward to!!!

[2017-09-25 09:57] uncle-fed commented on #91
Then I suggest not to create more issues for the same topic but to keep it in one.
I created issue #87 already for Cyrillic font / Russian / Ukrainian translation, there is no need to have two issues for this. Can we please move this discussion into the original issue #87 and close this one?

[2017-09-25 10:00] uncle-fed commented on #82
This also should be merged with issue #87 where I am working on Cyrillic font that will cover Russian, Ukrainian, Belorussian, Bulgarian and other Cyrillic based alphabets.

[2017-09-25 11:29] runy1984 commented on #91
Yes as you see fit and do it!

[2017-09-25 12:41] uncle-fed commented on #87
While working on the Cyrillic font I have a question regarding the current Latin font.
The Latin font has been made so that for most capitalised characters and also numeric symbols have no empty space above them and 2 pixels of space below them. Is there a special reason to have it this way? I am asking this because a few Cyrillic (and also German / Italian / French) characters have special accent

[2017-09-26 09:46] Ralim commented on #91
Closing this issue as I agree with @uncle-fed that their issue is the main root for this one.

[2017-09-26 09:46] #91 closed

[2017-09-26 09:49] Ralim commented on #87
The current font is encoded that ways purely as that is how the original code I based off it is.
I have no reservation against changing the current font to be shifted up one pixel if that makes other glyphs easier to create 😄

Also on this, any chance at all it would be possible to do an 8-pixel high version of these eventually as well (for 2.x detailed screens to be able to be translated)?

[2017-09-26 09:56] Ralim commented on #37
This has been added to the 2.x branch as a new feature (with the different button handling).
I'm closing this issue off as it will be in the 2.x branch that's coming soon (when I nail a bit more).

[2017-09-26 09:56] #37 closed

[2017-09-26 10:00] uncle-fed commented on #87
Sure, I can do 8-pixel high version. Is it still 12px wide?

[2017-09-26 12:15] Ralim commented on #87
At the moment its 5x8, for the current font, but it's not even full coverage of the larger font so not sure if I'll end up re-creating it. I would *like* to stick with 5 wide and 8 high, but it will come down to what is doable in fonts and what is just not possible.

So more than open to ideas on this one as I have very little knowledge about what would work for you.

[2017-09-26 19:20] xavkno opened #97 "Just found this ts100 as an Oscilloscope"
I found this while searching for reviews of the ts100 on YouTube.
Aperrently this is based on this firmware: https://youtu.be/Gg9mKVMbp0I

[2017-09-26 19:47] mikromCZ commented on #97
awesome! I found Tetris instead: https://www.youtube.com/watch?v=Buzew1z1AhQ

[2017-09-27 01:47] Ralim commented on #86
Looks awesome,
I have included these icons in the [2.x alpha release](https://github.com/Ralim/ts100/releases/tag/v2.0-alpha1) that I have pushed up.

Would love any suggestions on a new image for the idle screen :)

[2017-09-27 04:05] perillamint commented on #95
FYI: Here is data from Twitter, which analyzed tweet length difference between CJK and non-CJK.

It tends CJK alphabets are approx 2x denser(in meaning of information Entropy per char) than latin alphabets. https://blog.twitter.com/official/en_us/topics/product/2017/Giving-you-more-characters-to-express-yourself.html

[2017-09-27 10:20] uncle-fed commented on #87
I've looked at a few Cyrillic characters that are most wide, like this ones:
https://en.wikipedia.org/wiki/Nje#/media/File:Cyrillic_letter_Nje_-_uppercase_and_lowercase.svg
https://en.wikipedia.org/wiki/Shcha#/media/File:Cyrillic_letter_Shcha_-_uppercase_and_lowercase.svg

We most definitely would require 6px width. For most glyphs we should aim at using 5px with the rightmost 1px reserved for spa

[2017-09-27 10:29] uncle-fed commented on #87
Regarding my pull request https://github.com/Ralim/ts100/pull/98 that adds 12x16 Cyrillic characters.
I hope the current code handles double-byte UTF-8 encoded characters because you'll have to deal with that in the end. Cyrillic UTF-8 range is all double-byte where the first byte is always 0xD0 or 0xD1 (I made each characters code available in the comments).

[2017-09-27 10:50] Ralim commented on #87
@uncle-fed
6-pixel width should be fine, it's currently using 6 but was hoping for 5. No real issue though 😄

Yes currently it does handle double bytes, not particularly neatly but it works :) (2.x branch).

I'm hoping to be able to get a tester 2.x release up for you shortly :)

Thank you for marking the double bytes next to them all :)

[2017-09-27 12:09] tigert commented on #86
Idle screen being the one when the iron is "off" and on power supply power?

[2017-09-27 12:23] Ralim commented on #86
Yeah sorry, the one that was the soldering iron logo :)

[2017-09-27 14:42] uncle-fed commented on #87
Another thought for the 6x8 font: we should probably implement single case (uppercase or lowercase) only characters. It makes little sense having both upper and lowercase characters for menus / options with such a low-res screen. Also, if the vertical resolution of TS100 display is 16px, then we should reserve 1px for vertical spacing, so in the end our font will be 5x7 with 1 extra pixel to the r

[2017-09-27 15:33] tigert commented on #86
Right. Would this work?

![image](https://user-images.githubusercontent.com/2587818/30922564-2e648170-a3b2-11e7-9027-c8092fcee557.png)

I know translation is tricky, but if we made sure strings were short enough, and the small font was 5 pixels tall (was it?) we could do  ( + TEXT + ) and then draw the lines above and below to complete the button?

[2017-09-27 15:49] tigert commented on #86
Actually, we should reserve the 16px on left for the possible battery icon, but that can be taken into account by the string lengths if that otherwise is a workable idea.

[2017-09-27 18:09] tigert commented on #86
So I tested it out, and the graphics look nice in action. I expected the "cooling/heating/steady" pid loop to update the heating / not heating graphic though? Shouldn't it blink it when it re-heats after it reaches set temperature, stops heating (this works)  and then heats again when it has cooled enough. This re-heat does not seem to show up in the icon.

[2017-09-27 22:08] michael-blue2 opened #99 "Feature Request: adjustable time for logo"
Is it really hard to make 1 more setting menu which will let you select how many seconds the logo will appear? :D

[2017-09-27 22:28] thanks4opensource commented on #94
@Ralim: Just spent a few hours testing  v2.0-alpha1, and I have just one word to describe it: Totally freakin' awesome! Oops, that's three words.  ;)

Exactly what I've been dreaming of. I'm using SLTME 10S, SHTME 05, and MSENSE 8. Works perfectly. Never goes to sleep in my hand, yet sleeps almost immediately when placed in the holder. MSENSE 9 is a little **too** touchy -- I like to tin the tip a

[2017-09-28 00:31] Ralim commented on #99
On the list of things to change is to make it just dismiss with button press 😄
Is that okay ?

[2017-09-28 01:44] Ralim commented on #94
@thanks4opensource Glad to hear its working well for you :)

Hehe yeah, 9 is way too sensitive for me to be able to use as well :)
I'm definitely leaving it there for the one person who is magically super gentle.

Oh, thanks for spotting that, Fixed the description in the code already :)
I *can* add Fahrenheit back in if you wish, I was just trying to avoid needing to support it 😬

[2017-09-28 01:48] Ralim commented on #86
@tigert
Currently, there isn't support for drawing text not aligned to the two 8 bit high strips. I *can* add it later on if we need though. Would it be possible to do a variation that is pictoral (ie symbols so no text?) which would avoid the need for translation :)

Ah, the current way I'm implementing this is the picture changes to heating if the heat drive is > 25%, this may not trigger on som

[2017-09-28 01:54] Ralim commented on #95
@perillamint
The 8x8 mode is just for the advanced screens, so it might work to have it fairly low readability since it only shows 3 values (We could also do pictoral symbols instead of actual words if that works easier ?)

[2017-09-28 02:00] Ralim commented on #87
@uncle-fed
I'm completely open to single case or both at this point honestly it's up to you 😄
I agree that 5x7 makes the most sense as the actual character sizing if you can make it work?

[2017-09-28 02:01] Ralim commented on #58
Correction, its on holding the front (tip) button. But working :)

[2017-09-28 02:01] #58 closed

[2017-09-28 02:01] #64 closed

[2017-09-28 02:03] Ralim commented on #65
In the new firmware, the motion sensitivity is retuned and appears to be working a lot better.
Re-open this (or comment) if you are still having issues, anyone 😁

[2017-09-28 02:03] #65 closed

[2017-09-28 02:04] Ralim commented on #67
This has been added to the new firmware, because of the way this works on the idle screen the over temp will occur first followed by the tip error screen, unfortunately. Working on that now w:)

[2017-09-28 02:06] Ralim commented on #70
In the 2.x fork if you enable advanced screens the temperature is shown live on the main screen now :)

[2017-09-28 02:06] Ralim commented on #69
In the 2.x fork you can now long hold the rear button (usb end) to exit the soldering mode as well as the double press.

[2017-09-28 02:08] Ralim commented on #75
I'm going to close this as this is in the 1.17 release and the 2.x release :)

[2017-09-28 02:08] #75 closed

[2017-09-28 02:15] Ralim commented on #79
In the 2.x fork now you *should* be able to do this, however at the low temperatures the response is a little jumpy because of the amount of power being delivered to the tip, so be careful with the temperature before you just apply it 😄 (*I'm not responsible if you burn yourself*). I would suggest using a lower cell count battery to reduce the jumping of the tip at the low end.

In regards to the

[2017-09-28 02:15] Ralim commented on #83
The newer code is GPL V3, and so I'm going to close this as the 2.x fork should be becoming the main release soon (hopefully)

[2017-09-28 02:15] #83 closed

[2017-09-28 02:16] Ralim commented on #74
@erpalma Any chance you would be interested in testing the 2.x beta test release? Should be approaching around 12S by my count thanks to the better drive system.

[2017-09-28 02:17] Ralim commented on #76
@csdpm Letting you know 2.x alpha is up if you feel like testing it :)

[2017-09-28 04:04] thanks4opensource commented on #94
@Ralim: Sorry if I'm representing the few of  us stuck back in the Fahrenheit/inches/pounds stone age, but I'd use the option for the idiosyncratic reason I listed above. Frankly, I'd rather get the U.S. manufacturer of my mass-market consumer heat gun (poor man's hot-air rework station) to support Celsius, but the firmware's not field upgradable and they'd ignore my request even if it was.

I've

[2017-09-28 04:16] Ralim commented on #94
@thanks4opensource
It's no problem at all, I was just focusing on the larger audience first 😄

Actually, in this case, it should be fairly easy to support as the PID control loop is completely independent of the temperature unit (it works in terms of the raw measurement of the tip temp).

Hehe if you put it that way 😁 Ill add it to the stack.

[2017-09-28 04:34] Ralim commented on #99
Okay, for now, I've made it wait 1 second or skip on button press. Thoughts ?

[2017-09-28 05:37] michael-blue2 commented on #99
Isnt it the default that comes with 1s? I think 2seconds will be perfect woth the skip aswel on button press:) sometimes you just want to show that logo around and the other times you just need to solder and dont care about it :)

[2017-09-28 06:38] Ralim commented on #99
Sounds fair, I can bump it up to 2 seconds easily.

[2017-09-28 07:44] michael-blue2 commented on #99
perfect then :D, should i close the issue/request?

[2017-09-28 08:03] tigert commented on #99
The show-until-buttonpress would be problematic because the idle image after the logo shows the hint for what button turns the iron on

[2017-09-28 08:06] tigert commented on #86
yeah, I can think of picture symbols.

I was running on power supply. now, and it showed "heat" until it reached the target temp, then the "not heating" only.

[2017-09-28 08:07] Ralim commented on #99
Show-until-buttonpress shows until either button is pressed and also 'consumes' that button press so it should not cause anything else to occur after its dismissed.

[2017-09-28 09:08] tigert commented on #86
Lets try this - I will have to see it on the iron to determine whether it is readable or not.

![image](https://user-images.githubusercontent.com/2587818/30958300-5a430210-a445-11e7-985e-b2eb38775c41.png)

Pushed idlescreen.bmp to my branch.

It's also a bit tricky because you have to have those buttons there to make the connection to buttons, but that eats a lot of pixels for the actual icon. But

[2017-09-28 12:57] csdpm commented on #76
Thanks Ben. Yes, the temperature looks fine now. :)

[2017-09-28 13:01] csdpm commented on #69
Much better. Thanks :)

[2017-09-28 15:15] uncle-fed commented on #87
Here's a link for some inspiration (watch for the licensing terms):

https://fontstruct.com/gallery/tag/386/5x7

[2017-09-29 01:23] #69 closed

[2017-09-29 01:24] #76 closed

[2017-09-29 09:05] girst commented on #11
for me, the following worked (as root):

 * `mount -t msdos /dev/sdb /mnt`
 * `cp $FOO/APPV217.hex /mnt/ts100.hex` (**note the destination filename**)
 * `sync`

then monitor `dmesg -w` for changes. it will likely show up as a different device file.

 * `umount /mnt`
 * `mount -t msdos /dev/sdc /mnt` (**note:** it changed from `sdb` to `sdc`)
 * `ls /mnt/ts100.rdy`
 * `umount /mnt`

[2017-09-29 11:14] venumz opened #101 "Feature request: make boost mode latching"
First of all, awesome work, your firmware is brilliant.
Only thing I find annoying is that the boost mode requires holding down the button the whole time you need it up. Maybe you could change the state to boost mode as soon as it starts and leave it there until you press the button (nearest to the tip).
Regards

[2017-09-29 17:23] tigert commented on #101
That is kinda the point of the boost mode.

If you need to solder something bigger and think you need more heat, may I kindly suggest you to try the C4 tip?

[2017-09-29 18:35] venumz commented on #101
Thanks for the suggestion, my tip is fine, is just that I lose precision when I'm holding down the button so a latching option would be awesome for me.

[2017-09-30 06:47] uncle-fed commented on #87
According to this page: https://creativecommons.org/share-your-work/licensing-considerations/compatible-licenses/ the casionostalgia font license is not compatible with GPL.  :(

[2017-09-30 16:30] vince-br-549 opened #102 "while soldering display if element is heating or not"
While running with an input of 12 volts and attempting to solder a large item the  temperature  doesn't  seem to change yet the  iron is not able to melt the solder.

I expected to see two things.  1. the temperature to drop, and 2 some indication that the iron was attempting to apply full power  to the heating element.

So I don't know if the power to the heating element is digital ( on or off  o

[2017-10-01 00:19] Ralim commented on #102
Hi,
Can I first ask which firmware you are running? 1.x or 2.x series?
If you are running the 1.x series can you possibly try the 2.x series as it has a newer, better method for the tip control?

When you are running at 12V there isn't a huge amount of heat present at the tip (~35W), so it will take time for the other part of the joint to heat up.

The tip control is variable (PWM), and there have

[2017-10-01 01:24] Ralim commented on #68
Closing this as this is being addressed in the graphics for 2.x issue

[2017-10-01 01:24] #68 closed

[2017-10-01 02:42] Ralim commented on #96
Hi,
I haven't missed this or forgotten about it!
Thank you for contributing this as well :)
I'm just currently getting translations working in 2.x at the moment so it will be up when the other languages come up in 2.x (soon hopefully, time permitting).

[2017-10-01 02:44] Ralim commented on #94
Pushed up alpha 2 of the 2.x branch, this adds Fahrenheit back in. In a nicer form than before, in that all temperatures are then performed in F rather than just soldering temp.

[2017-10-01 02:45] Ralim commented on #86
I added this idlescreen to the v2 alpha if you would like to try it ?

[2017-10-01 02:49] vince-br-549 commented on #102
I am running V1.17.1 .  I just now see the V2.
PWM  ahh that is good.  I just converted from 12V to 20V  maybe I'll wait a
little on the V2 series and see how it goes.
I'm using the D24 wedge tip.

I guess I have to order me another DIY soldering kit to get a feel for this
new toy.

By the way  upgrading via Linux was trivial.  I didn't use the script.

Thanks for your quick response.  I just now

[2017-10-01 03:11] Ralim commented on #102
I would suggest trying the 2.x firmware just to see. It should perform massively better at 20V than 12V.
Yeah, its PWM but its a double PWM implementation so it can only update the PID at ~10Hz which is not ideal but its about the best that can be done at the moment. (Still toying with it).

The D24 is a fairly good tip for larger work and should be working fine for your joints. Maybe just try add

[2017-10-01 10:08] tigert commented on #102
if you need more heat, the C4 tip (the large, round, angled) has been great for me for bigger things like soldering thicker battery wires to solder pads.

If you are new to soldering in general, it is also about technique. It helps to pre-tin the wires and pads with solder first, possibly adding flux, and then just heating the thing to melt it together.

[2017-10-01 17:04] dogtopus commented on #95
The smallest pixel simplified/traditional Chinese font I ever saw was 12x12. The readability was OK but a lot of details are already missing and certain characters look weird (although the developer of that font already tried their best to optimize it). So I would say 12x12 is probably the smallest you can get for Chinese (both simplified and traditional) characters (except for the really simple o

[2017-10-01 20:33] thanks4opensource commented on #94
Thanks, @Ralim.  You're the "Fastest Coding Man In Show Business"!  Just did a small test with 2.0-alpha2 and it warms my xenophobic heart to be able to use "real"(tm) Fahrenheit degrees. ;)

A few small problems, some not related to the degree units, one easy to fix, some more difficult and debatable:

1. Cool-down "WARN!xxx" LCD turn-off seems stuck at 30 degrees even in Fahrenheit mode, and wil

[2017-10-02 20:07] Cpt-Huck commented on #101
If you loose precision, why dont you just change the temp to a higher one instead ? In my opinion, I would forget to disable boost mode. Holding the button is fine for me.. idk.. but this should not be implemented without an option to disable that !

[2017-10-02 22:42] Ralim commented on #94
Hi,
I have patched some of your points and pushed to the repository. However, I'm holding off on another alpha build for a little bit longer so I'll message back where when another test release goes live.

In regards to your points:
1. Fixed, sorry about that one
2. I have gone through and done this is most areas as far as I can find, let me know if there is anywhere I missed. This is mostly me up

[2017-10-02 22:51] Ralim commented on #95
@dogtopus Thankyou for this.

At this point, I'm thinking that the best way to go from here would be to support these glyphs in the 16 high larger font space, but if the user drops to the advanced screens these will have to be in Latin characters just because of the low resolution used to show more information.

I can add support for 16x16 fonts if this will be the easiest, however, I do not curre

[2017-10-02 22:52] Ralim commented on #86
@tigert Let me know what you think 😄
I like it, though I was thinking about if it's worth trying to figure out wider symbols to fill the leftover space?

[2017-10-02 22:58] Ralim commented on #101
Unfortunately, I'm with @tigert and @Cpt-Huck here.
If you are using boost mode all the time, why not just adjust up the soldering temperature?
Its intended to only be used when you're about to do a small number of joints that are larger than normal.

One thing to note, if you are instead doing a lot of large joints with a small few joints, you can actually use the boost mode in reverse by setting

[2017-10-02 23:11] Ralim commented on #87
Damn :( The font not being GPL is a pain :/
If you do manage to find any compatible ones I would be seriously interested in supporting more characters :) Just don't feel confident doing my own interpretation of the glyphs as I don't really know what I'm doing with them 😄

I'm still working on the Russian font working, by the way, just having some characters not decoding correctly at the moment. Ho

[2017-10-03 01:59] Ralim commented on #25
@vifino Yeah sorry that bin file I uploaded was broken :/ oops.
I'm uploading .bin files of the newer firmware as I go as well, so feel free to try them :)

[2017-10-03 05:00] vifino commented on #25
@Ralim I'll surely do so. Probably not now though. It's 7 am and I've been up all night learning Lojban. ^_^

[2017-10-03 05:07] vifino commented on #97
I'd love to see this integrated into the main firmware. Just get a common ground and you're ready to party.

[2017-10-03 05:27] Ralim commented on #97
@vifino This modification requires a manual hardware mod to wire the ground of your tip through to one of the ADC channels (they use one of the buttons). This means if you poke your iron at any voltage above approx 3.5V relative to your iron power's ground you will damage that input and not be able to use your iron correctly again. This also opens up ESD damage to the ic and prevents you from havi

[2017-10-03 07:01] thanks4opensource commented on #94
Thanks, @Ralim. I'll grab the next alpha whenever you put it up. (I still haven't had the time to create a build environment to compile the sources myself.)  If you've found space for "F"/"C" suffixes on all the temperature displays, that's awesome. I think it's a very good thing to have regardless one's units preference.

Like I said, I was doing a lot of testing and couldn't quite pin down what

[2017-10-03 07:06] uncle-fed commented on #87
Regarding the characters not working, do you mean that there are problems with the C code or did I get them encoded wrong? If its the programming code, I am curious why only some characters are misbehaving? Shouldn't the code be generic to treat all characters equally (at least within a certain range). Could I perhaps help with this issue?

[2017-10-03 08:03] venumz commented on #101
Thanks for your feedback, it was just an idea, I can live without it.
I use to do smd work mostly, but in my boards sometimes I have big through hole joints, I use boost mode there, I figure that I can change the grip a bit to make it more comfortable holding down the button.
Your firmware is awesome anyway, keep up the good work.

[2017-10-03 16:51] vifino commented on #97
@Ralim Oh, yuck. Nevermind then! I'd rather have a working iron than a broken iron that could pretend it's an oscilloscope for all of 5 seconds. :)

[2017-10-03 16:55] thanks4opensource commented on #94
OK, I think I've found something repeatable. Full settings list:
[code]

With 2.0-alpha2, if the iron is explicitly put into shutdown via long cord-side button, the LCD will blink "WARN!xxx" until 30 (F or C, known bug, fixed) and then turn off. If instead it goes into shutdown via the 1 minute timeout, the LCD immediately turns off despite temperature still being approx. 200C, and requires a butt

[2017-10-03 17:24] vifino commented on #25
@Ralim I've just tried it again, muuuuch better!
I like it a lot sofar. I am not sure if I imagine this, but could it heat just a tiny bit faster? It doesn't overshoot but reaches the temperature perfectly quite quickly. (On 24V)
The first half-second it gets confused, however, it displayed temperature way past 500 degrees celsius, but then it comes back to ~40 degrees and everything works fine ag

[2017-10-03 18:26] tigert commented on #101
Was there an initial idea that the boost mode goes higher than the otherwise maximum temperature, and thus would only be maintained while actively pressing the button, to avoid damage to the device if it was accidentally left on for a long time? I am not sure if this is actually the case though.

[2017-10-03 18:30] tigert commented on #86
It seems to work OK
![image](https://user-images.githubusercontent.com/2587818/31142025-c3f0a7d6-a881-11e7-9be7-a520275e22e4.png)
https://www.instagram.com/p/BZyX7wCl88W/

I was also thinking of making the buttons wider, though I will also then try to make the icons bigger, otherwise it's kind of silly. Thanks for implementing this far. :-)

[2017-10-03 19:29] Trezona opened #103 "Flashing the temperature till it reaches 50deg"
Hi Ben, I’ve just noticed that in version 2 the flashing temperature runs to 30deg now and not 50deg as in version 1. Is there any reason for this? I did prefer 50deg.

[2017-10-03 19:59] dogtopus commented on #95
@Ralim I would say that the safest way is to include the 16x16 font. The [12x12 font](https://github.com/SolidZORO/zpix-pixel-font) I saw uses a custom license (looks like CC-BY-NC-ND+paid commercial license according to the description from an older version (current version doesn't even have a clear license since the author removed the old license terms)) which is incompatible with GPLv3. Also I

[2017-10-04 04:23] powercycle commented on #11
Using the above for me didn't work, Xubuntu 16.04.

[2017-10-04 05:38] rawrsy opened #104 "Two minor suggestions (text related)"
Hi Ralim, love the firmware. Running 2.0 but I would like to make two little suggestions that *may* or may not make the thing easier to use. The first, is to replace the "WARN!(temp)" message with "HOT!(temp)", as this might make it look a bit neater.

Second suggestion, came to light when I noticed how readable the little version and date bootup message is with the tiny text. Would it not be a go

[2017-10-04 16:38] Cpt-Huck commented on #104
Both suggestions are great!

[2017-10-04 16:39] Cpt-Huck commented on #104
Also testing the newest FW atm and will report bugs if I find some!

[2017-10-04 23:15] Ralim commented on #103
This was mostly me trying to simplify the code as I re-wrote it, so in a few places, I used the same constants for thresholds. This can be changed easily though :)

[2017-10-04 23:17] Ralim commented on #104
Hi,
The text "WARN" has also been ("COOL","HOT","!!!!") in previous firmware, and every time people ask for it to be changed someone else wants it to be something else :grimacing:
As this is the 2.x alphas I want to hear this feedback!
I might swap it for "HOT" in the next alpha and see how it looks.

For the second suggestion, the big reason this cannot be done is because of the multiple language

[2017-10-04 23:26] Ralim commented on #25
Hi @vifino,
Ah, okay looks like the PID has a little bit of wind up somewhere, I'll look into that.

 Also, another thing to note is that there is a rolling average filter on what is displayed on the screen, so when the screen is showing that it's at temp it has probably been at temp for around 1 second at the temperature sensor. This is done because the temp sensor is a little bit away from the t

[2017-10-04 23:29] Ralim opened #105 "Q - Do we need boost mode enable setting ??"
Hi,
It seems like everyone who comments here seems to use the boost mode these days.
Does anyone like to have it turned off for any reason?

Just thinking it could clean up and remove an extra menu item if no-ones really changing it much.

[2017-10-04 23:30] Ralim commented on #101
@tigert Sort of...
The original firmware only allowed you to set the tip up to 400C, whereas in this firmware I have raised that to 450C. The idea of the boost mode was to try to encourage users to solder at the ~350C or so normally and only boost up when needed for larger connections to try and help tip life and stress on the unit itself (as the handle starts to get quite warm at the higher tempe

[2017-10-04 23:32] Ralim commented on #86
I quite like the icons, and its nicer in its simplicity :) I was just thinking we could try and widen them so they are longer shaped like the physical buttons?

[2017-10-04 23:35] Ralim commented on #95
@dogtopus
Fair enough :)

I'll try and get Unifont converted over soon. (Might be a delay here, down a pc at home atm)

[2017-10-05 03:04] thanks4opensource commented on #105
Maybe I'm the only one, but I do **not** use boost mode. When I need to change temperature it's simple enough just to use the "up"/"down", "tip"/"LCD" buttons.

I'll have to check, but how does real/normal temperature change work in boost mode? Do you have to press the LCD button for a mode change so the buttons raise and lower the temp setting? If so, adds another step for us "non-boosters". Also

[2017-10-05 03:30] thanks4opensource commented on #25
@Ralim: Continuing to move off-subject for this issue, and you weren't asking me, anyway ;)  ...

The 2.0 alpha's PID behavior subjectively seems a little laggy compared to 1.7. Nothing I can prove, and maybe I'm imagining it. In terms of display, at least in "ADVDSP F" it seems like the power bar graph (which replaced the squiggly heater lines which always looked like bacon to me) used to briefly

[2017-10-05 08:09] vifino commented on #25
@Ralim No, I mean, it heats a bit faster, I believe. :)

strlen does not sound like macros... But it doesn't matter, those are micro optimizations for things that don't really matter, the chip in the ts100 is more than capable.

Regarding the temperature display jump in the first few fractions of a second, I believe it could indeed be just a little disconnect for a few milliseconds. I tried to rep

[2017-10-05 08:15] vifino commented on #25
Oh, and regarding the advanced display for the soldering mode: Similar to what you have now in the main screen, voltage, temperature, set temperature, heating output in percentage, stuff like that.

I also figured out the weird 500 degree celsius issue by enabling the advanced display: It was a bad calibration. Now it's all good. Just the description text remains a mystery to me.

[2017-10-05 11:28] Ralim commented on #105
So how it works is : Whilever you hold the front button it will change the setpoint temperature its set to, to the boost temp instead. When you let go of the button it will drop back down again. Short pressing the buttons will still just enter temperature changing as per normal.
Long pressing the usb end button still just exits as per normal.

Thanks for your vote though :)

[2017-10-05 12:27] Ralim commented on #25
@thanks4opensource

The PID *should* be faster, but the whole system is different style (it's now uncoupled and different non-syncronized timing). So not really sure how to compare that honestly :smile:
The not showing the heat icon is most likely down to a bit of PID tuning (The PID is currently tuned for good stability at the cost of a slight increase in response time). Should still be damn quic

[2017-10-05 12:40] tigert commented on #86
Yeah, lets try these.
![image](https://user-images.githubusercontent.com/2587818/31227322-1bec0488-a9e2-11e7-87d0-0fcc72253e57.png)

Updated the idlescreen.bmp on my branch accordingly - I realized this does not leave space for the battery icon though, which is a bummer - I will work on a version that is 12 pixels shorter.

[2017-10-05 12:42] Ralim commented on #86
They look good, but yeah cut off the battery icon :/
If you can make both fit it would be awesome :D

[2017-10-05 12:55] tigert commented on #86
Actually yeah, I think it fits.
![image](https://user-images.githubusercontent.com/2587818/31228207-4def2ea8-a9e5-11e7-9fda-b577f42cef32.png)

Updated the idlescreen.bmp once more to be 12 pixels smaller horizontally.

[2017-10-05 15:52] thanks4opensource commented on #86
@tigert: I really like the look of these new, wider icons. I found the previous ones in 2.0alpha2 to be way too small -- I didn't know it was a wrench in the settings icon, looked like the letter "X" to me.

Never underestimate the ability of a user to misunderstand things. :)  Thanks for all your work on the graphics.

[2017-10-05 16:06] thanks4opensource commented on #105
Thanks, @Ralim. Sounds like boost mode doesn't get in the way of normal temperature setting, so I won't miss turning it off too badly if it goes away. Still think the more customization options and choices the better. :)

[2017-10-05 18:12] tigert commented on #86
Yeah, the hard part is the vertical lack of pixels, the wrench is sort of OK but the "soldering iron with smoking tip" is a bit sketchy, not least because I don't want it to look like a smoking cigarette :-)

[2017-10-05 20:26] mikromCZ commented on #97
oh! they made also screwdriver! opportunity for another custom firmware?
https://www.youtube.com/watch?v=il86j54dTzc

[2017-10-05 20:34] Trezona commented on #105
I love the boost mode. I use it quite often. I find it very handy.

[2017-10-05 21:25] Ralim commented on #97
Yep I know the ES120 rather well.
Already started on an alternate firmware for it :) But its probably at least 50 hours of dev time away from being useable as a firmware sadly. (Takes a fair bit to get everything up and running)

[2017-10-05 23:08] vifino commented on #25
@Ralim I don't know either, but a recalibration fixed it, so that's all I care about. :)

While I would always love faster/better/fancier things and features, v2 definitly satisfies most if not all my needs and wishes. I do look forward to what you can come up with, definitly including the advanced solder mode, as I believe it to be much more useful than the regular one, voltage sag would be nice

[2017-10-06 06:01] Ralim commented on #71
Hi @erpalma
So at the moment, long press on the back button (usb) is used for exit.
Would you still want this feature? If so how would you activate it?

[2017-10-06 06:26] Ralim commented on #105
I'm definitely leaving it in, was just wondering if I should leave the menu option. Which I will for now :)

[2017-10-06 06:26] #105 closed

[2017-10-06 06:26] #54 closed

[2017-10-06 06:27] #59 closed

[2017-10-06 06:27] #70 closed

[2017-10-06 06:28] #31 closed

[2017-10-06 06:28] #36 closed

[2017-10-06 06:29] #18 closed

[2017-10-06 10:40] Ralim commented on #86
@tigert
Alpha 3 up with new graphics. Muuch nicer :D

[2017-10-06 10:41] Ralim commented on #103
This should be solved in Alpha 3 😄

[2017-10-06 10:41] Ralim commented on #104
Alpha 3 should have the text swapped to "HOT!"
Nothing I can really do for a small font unfortunately :(

[2017-10-06 17:39] lnnocentius opened #106 "sleep mode and auto shutdown won't work"
For some reason, any build beyond V2.0 of the Ralim firmware does not activate it's auto sleep feature. But on V1.17 and even on stock firmware everything works fine and dandy, so I think we can rule out that my unit is wonky.

My settings for my iron are:

350 degC temperature
PWRSCR DC
STMP 150
STME 10S
SHTME 05
MSENSE 8
TMPUNT C
ADVDSP T
DSPROT A
BOOST T
BTMP 450
ASTART F
CLBLNK F
also calibrat

[2017-10-06 22:01] Ralim commented on #106
Hi,
In the new 2.x firmware the motion sensitivity is alot more sensitive. Depending on the particular tolerance of the ic used in your iron it may not be able to sleep at a motion sensitivity of 8.

Could you try taking the sensitivity down to say 5 testing there and bringing it back up?

[2017-10-06 23:14] thanks4opensource commented on #106
@lnnocentius -- what Ralim said. MSENSE is much improved in the 2.0 alphas. Turn it down to your liking. For me, 8 or even 7 stays awake in my hand but goes to sleep when set down (I use "STME 10S" like you). It's perfect! ;)

@Ralim -- 2.0 alpha3 continues the improvements. Thanks! Degrees F everywhere I've checked for it, and "HOT!" changes to start menu (@tigert, the new icons look great) and t

[2017-10-06 23:55] #103 closed

[2017-10-07 01:23] Ralim commented on #106
@thanks4opensource
I could replicate that locally. Looks like its patched in the Alpha 4 if you could try :)

[2017-10-07 05:35] thanks4opensource commented on #106
@Ralim -- Two alpha releases in one day! It's like having my own personal software developer! ;)

Shutdown warning screen works for me, both via timeout and explicit button press. Fixed/good/thanks. A few more minor comments ...

Maybe one more pass keeping everything in internal sensor temperature units and converting to degrees C or F only when displaying or getting input? Default temperature on

[2017-10-07 06:02] lnnocentius commented on #106
@Ralim --- tried to turn down MSENSE to 5, clamped my ts100 to my bench vise to be sure it won.t move. Still no dice I'm afraid. I checked the seating of the STM 32 module but still no difference. Maybe a bug on how low I set my SLTMP? I'll try setting MSENSE to 3 later when I get home. It's also the same with shut down time

[2017-10-07 06:06] lnnocentius commented on #106
Also, I don't know if this will mean anything, but when my iron is idle and I have set it to a temperature of let's say, 350 degC, it will continuously show a temp that is floating at 348-352. It never stays still on 350 degC.

[2017-10-07 07:24] Ralim commented on #106
@thanks4opensource
Well its different days to me :P (Aussie)
It's a bit of a pain to store the thresholds in the internal raw readings as those are not compensated for the cold junction temperature (actual temp is raw + cold junction temp - calibration value).

Moving it to match the cord makes sense, I'll look into that one though :)

Haha, I enjoy the open source community since I can have the c

[2017-10-07 10:31] lnnocentius commented on #106
tried MSENSE 1, still not going into sleep mode nor shutdown. Maybe my TS100 is secretly consuming my coffee stash

[2017-10-07 16:00] csdpm opened #107 "Detailed view instead of Idle screen graphic (only)"
The new idle screen graphic is very nice, but only really useful while getting used to the iron. It would be good if there was an option to change this to the Detailed view screen (as happens when advanced display is enabled) - but for that screen ONLY.

I'm finding that the Detailed view is too small for my aging eyes for the Sleep and Shutdown modes (too hard for me to see the temperature) So I

[2017-10-07 16:11] csdpm opened #108 "Single press heating from Shutdown?"
Sorry Ben, one more.

It would be good if you could turn the iron back on from Shutdown with a single button press. At the moment it needs two, one to go to the idle screen and then another to turn it on.

The situation I'm thinking is where you've just exceeded your normally adequate shutdown time threshold (far sooner than the end of cooldown return to idle) and you just want to pick up the iron

[2017-10-08 19:51] Kenneth-N opened #109 "Bad tip error"
While briefly playing with v2.0 alpha 4, I encountered error BAD TIP.
So I reset the settings and the error is not showing anymore.
Before the error I played around with lots of settings (sensitivity seems to work fine now) and possibly activated the temp cal while it was still +200 degrees. This was when I tried to get out of the menus by pushing both buttons at the same time, several attempts, a

[2017-10-08 23:23] dogtopus commented on #102
There is an optional tip power indication in v1.x that may partially fulfill what you want, but disappeared on v2.x
Kinda want it back :(

[2017-10-08 23:28] dogtopus commented on #109
That might be the cause, since the BAD TIP warning works by catching the abnormal high temperature reading on the tip IIRC, and if you calibrate the tip when it's still hot, it will add a large offset to the tip temperature reading, which may trip the BAD TIP warning.

[2017-10-09 08:00] Ralim commented on #102
@dogtopus The current 2.x firmware is set up so that the heating icon appears when the PWM is > 10%.
In the 1.x firmware, the bar graph showed a scale of roughly 0-20%.
Generally, if you want to see if the tip is performing significant (ie not just temperature maintenance) the icon will change to heating.

I didn't add it back in 2.x because it was never really calibrated and never received any fe

[2017-10-09 08:07] Ralim commented on #109
Almost certainly the issue would have been the temperature calibration being done incorrectly.
As this would cause issues in the entire temperature decoding chain.
The reset settings would load a typical value for the temperature offset as well, so if it's performing well after the reset it's most likely the calibration.

[2017-10-09 16:56] Kenneth-N commented on #109
Is there any code preventing the calibration when the iron is way too hot?
If not, maybe it should be there.

Anyway, reported the issue just in case someone else have encountered it AND if I did not cause it by playing around with the settings :-)

So I will close this then.

[2017-10-09 16:56] #109 closed

[2017-10-09 23:00] Ralim commented on #109
At the moment the system uses the brain of the operator for the calibration, as the iron handle *must* be at the same temperature as the tip. It's annoying to put lockouts on the tip in case the tip has a bad offset.

[2017-10-09 23:07] Ralim commented on #106
Hmm damn okay, I'll build up a debug firmware that prints out the readings from your accelerometer for diagnostics.

[2017-10-09 23:17] Ralim commented on #108
No problem :)

I can make it so that if you press the front button on the shutdown (temp warning) screen it can jump straight to soldering mode rather than exit to the idle screen.

The only gotcha with this is that the screen you are seeing for the warning is the same as the one that will appear on startup if the tip is hot etc (i.e. there is only one warning screen).
This means that pressing the

[2017-10-10 03:07] perillamint commented on #97
@Ralim BTW, did you managed to connect SWD to ES120? I managed to disassemble it (thanks for disassembly tips :)). Like what you said, there are no exposed test pads waiting for us. I think the only way to connect SWD is solder directly on STM32F103, but it requires very fine iron tip and a quite skilful touch (aka, microsoldering) which I don't have both. :(

[2017-10-10 04:30] Ralim commented on #97
@perillamint I didn't try for SWD and instead just developing debuggerless atm :)
The original firmware & bootloader turn off the SWD by the looks of things too.

[2017-10-10 12:40] mindfuucker opened #110 "What will break first when overvolting?"
Hello,

I have a 7S li-ion pack with a max voltage of 29.4V. This is 5V more then the recommended maximum voltage. If I replace the input capacitors, what will break next? Will the converter IC break? Wil the power dissipation melt the device?

A 20V zener is used in front of the step-down converter, what is its purpose?

Have any of you tried an over-voltage and dit yours live to tell the tale?

[2017-10-10 15:36] csdpm commented on #108
Thanks, that works for me as long as nobody else has an issue with it. :)

Hopefully it won't be a safety issue for anyone as, if powered up from cold, it's only one press to go to soldering from idle anyway. If the tip is already hot at startup, it implies that you've just been using it too.

[2017-10-10 18:07] vince-br-549 opened #111 "Boost setting tops out at 450 when using Fahrenheit with V2 alpha4"
If I set Fahrenheit mode then boost should go up to 800 or so degrees no?

I set boost temp to highest it would go ... 450 ( F or C ?)
Then when I try to use it,  the temp drops from my set temp of 700 degrees F down.... Assuming it was
headed down to 450 F.

[2017-10-11 10:07] chargerdude70 commented on #85
I have the same issue with one straight out of the box. Heats to cherry red and shows sen-err. Tried extra tip I ordered with it and still no good

[2017-10-11 10:40] Ralim commented on #85
@chargerdude70
Can you please verify if the same issue occurs with the original firmware?
Did you test the original firmware first when you received the iron?

[2017-10-11 14:39] chargerdude70 commented on #85
That was with original fw. After seeing that issue and reading this github thread....I did not bother to update the fw to your goodness.

[2017-10-11 14:43] chargerdude70 commented on #85
@Ralim^^^^

[2017-10-11 21:00] Ralim commented on #85
@chargerdude70 It's weird that these issues are appearing suddenly. Can I ask where you picked up your iron from? Is yours also from the same Banggood listing?
If they are from the same source I'll let eDesign know there might be a production issue.

[2017-10-11 21:16] chargerdude70 commented on #85
@Ralim
ordered from banggood ..got it during their anniversary sale... they were out of stock so I had to wait for new stock....  just received it on 10-4 and started playing with it yesterday

[2017-10-11 21:38] chargerdude70 commented on #85
@dchosking
I asked them to send a new one. I do not know how it's going to work out. I purchase it $20 less than what they're asking for now. I do not want a refund it's going to cost me $20 more. If that mosfet is bad I can replace for a $1.65.

[2017-10-11 21:46] chargerdude70 commented on #85
@Ralim
Do you know if the mosfet can be diagnosed with the MCU daughter board removed? And if so would you know a procedure on how to do so?

[2017-10-12 09:42] Ralim commented on #85
@chargerdude70
I would first remove power and the daughter board, and just test the Drain-Sink of the mosfet to see if its shorted. If it is then its most likely just the mosfet needing replacement.

If the mosfets not shorted, I would apply power but no MCU and see if it still overheats. If it does, then something else on the pcb has failed. I would then work backwards along the schematic to see

[2017-10-12 09:58] Ralim commented on #110
Hi,
I agree that the 150-ohm resistor that is used to limit the enable signal is the most likely candidate to fail.
At 29V you will also be overloading the input to the ADC of the stm32, which won't hurt it so to say, but it won't work effectively.

I would also be worried about the extra power dissipation in the MOSFET, it's not especially well heatsinked and so may heat up over user and be damag

[2017-10-12 10:58] chargerdude70 commented on #85
@Ralim

BG's response to my issue. At work for next 12 hrs so wont know until much later if it's a fix or not.

![response](https://user-images.githubusercontent.com/6600288/31492795-98632626-af1a-11e7-84c3-0b612d7c98bd.PNG)

[2017-10-12 22:18] Ralim commented on #111
Ah, yep. I'll fix this when I push out the next alpha shortly :)

[2017-10-13 08:25] tigert commented on #86
Sweet, need to try!

[2017-10-13 13:47] chargerdude70 commented on #85
Updated FW to 2.17 per BG request and still no deal.

https://www.youtube.com/watch?v=XJF1YH6FLMA

[2017-10-14 11:06] kokein opened #112 "CAL VIN *jump* VIN Calibration"
Hi Ralim,

I found that there is lack of one "point" of number while VIN Cal setup.
I have the exactly 24V from my power adapter, but when entering VIN Cal. there is no 24V to select :)
It jumps from 29,9V up to 24.1V ...  Or am I doing something wrong?

[2017-10-14 19:50] gidimiz opened #113 "Feature request: setting button sequance"
Hi.
I just tested v2.0-alpha.4.
When in the settings, its great that you can see what each option is if you wait x sec. but:
1. To exit you need to press one of the buttons. if you press the tip one, it exits and changes the option you had. if you press the back, it exits and moves to the next option. the best will be: if you press any key, it will exit the long description and will wait for the u

[2017-10-16 22:10] Ralim commented on #113
Hi,
Number 1 is certainly a bug that shouldn't be there.

 Number 2 is up to both users to suggest corrected descriptions or the translators for the language translations.

Number 3 already happens, if you keep holding the scroll key it won't re-enter the settings. It will, however, finish the settings and then enter the about screen that has the firmware version, but you can use any key to exit t

[2017-10-16 22:14] Ralim commented on #112
Hi,
This is just how it currently works.
The ADC in the STM32 is sampling the incoming data in the range of 0-32768.
Then this is divided down by an integer factor to create a number that is stored in 100's of mV. (ie 19.5V = 195).

When you are adjusting the input you are adjusting the division factor that divides the data into the 100mV number. Because this is integer maths, there is no perfect

[2017-10-16 22:35] Ralim commented on #107
Hi,
This should be quite doable to implement for the next alpha of the firmware.
I can just split the setting into two, one for the idle screen and one for the soldering screens.

[2017-10-17 10:06] kokein commented on #112
Ok. Not a big deal ;) thx

wt., 17.10.2017, 00:14 użytkownik Ben V. Brown <notifications@github.com>
napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-10-17 21:46] #112 closed

[2017-10-18 08:27] Ralim commented on #106
Hi @lnnocentius,
Could you try the attached firmware? It will print out the LCD the readings from your units accelerometer to see if it's just not reading correctly or if there is something funky with one of the axis.
It should pause on startup and then show 3 numbers if you leave it still these should settle down to fairly low values (<100). Let me know what happens on your unit :)

[TS100.zip](h

[2017-10-18 09:21] Ralim commented on #94
Hey @thanks4opensource Could you check if this is patched in the newer alphas, I'm fairly sure I've got this fixed, but would like your opinion 😁

[2017-10-18 18:31] csdpm commented on #107
That's perfect thank you!

You even did the Zzzz! :)

[2017-10-18 21:00] thanks4opensource commented on #94
Yes, has been working perfectly in 2.0-alpha.4. I figured "no news is good news" -- my apologies if you were waiting for an explicit response.

Many improvements in alpha.5, but sorry to have to report one problem in regards to this issue. Don't know if the long button press to see version info is new (I think I was the one to request it?) and it's perfect from the startup and menu screens. But I

[2017-10-18 22:24] Ralim commented on #111
@vince-br-549 This should be patched in Alpha 5 hopefully :)

[2017-10-18 22:24] #108 closed

[2017-10-18 22:24] #107 closed

[2017-10-18 22:37] Ralim commented on #94
@thanks4opensource
Yeah no problem, I thought I would touch base anyway to check in on it :)

I've updated the a5 release to bugfix that one😉.
 Hopefully, anyway, It fixes it for me locally here :)
The bug was the exiting soldering iron code not 'consuming' the button press when it exited, so it would skip the warning screen. Hopefully, that ones patched for now :)

Let me know if that fixes it fo

[2017-10-19 05:13] thanks4opensource commented on #94
Thanks for the quick bugfix! Downloaded, flashed, brief test. Looks good, works perfectly!

Yeah, functional and code coverage testing is hard. Unit tests? Been there, done that -- they take more time than the actual code itself. How about the same STM MCU that's in the TS100, on a breakout board, connected to *another* MCU that feeds it simulated inputs on the correct ports and watches the PWM, L

[2017-10-19 05:52] Ralim commented on #94
No problem, if I reproduce it often it can be a quick fix :)

Yeah that's sort of where I am, for the amount of time I could spend trying to write tests and emulate the behaviour of the screen I may as well have pushed it out and received 5 bug reports first. I'm amazed some time how fast people can find edge cases in the code.

Though I wouldn't complain if someone were to test the whole thing, i

[2017-10-21 05:43] lnnocentius commented on #106
@Ralim All of the axis that is displayed is spiking about a little above 100. The top right one is the jumpiest. The TS100 was resting on my soldering stand with this reading.  The iron was resting at a 30 degree angle.

When I clamp the iron horizontally to my bench vise, the bottom left readout is the only one that is going above 100 (just frequent spikes towards 100, usually rests at 32-16)

He

[2017-10-21 19:02] noxhirsch opened #114 ""flickering" values"
Hi,
at first I have to say great firmware - thank you very much! 👍
I noticed that the temperature is often switching between two values (e.g. 219°C and 220°C) several times a second (I don't know how fast it's changig, but it feels very fast 😉) and the infill of the battery icon is "jumping" up and down.
Maybe it's possible to smooth the values a little bit?

[2017-10-22 00:08] Ralim commented on #114
Hi @noxhirsch,

The screen updates at approximately 20Hz at the moment and the tip temperature is measured at 10Hz.
There is a filter that is adding around half a second of averaging to the temperature readings (Since they are extremely noisy). I can increase the display filter easily (its decoupled from the PID).

I personally prefer the rapid update rate of the screen as it shows the trend of th

[2017-10-22 09:01] noxhirsch commented on #114
Hi @Ralim,
slowing down the filter a little bit would be really great! 👍
I don't know if it's possible (without a lot of work), but maybe you could average the battery display even more, so it is more stable (if it's decoupled from the temperature averaging)

[2017-10-23 11:56] 78suited commented on #106
Same problem here. When using the default FW from MiniWare it works fine (v2.17) and also with the Ralim V1.17.1 release. But with the latest Alpha V2.0 Alpha 5 #2 it doesn't. Have been playing around with all settings but still no sleepmode or auto shutdown.

[2017-10-26 19:45] LexioTech commented on #106
Same issues here, my TS100 arrived today, tried it with the stock firmware, the sleep mode works, flahed the latest 2. something 5 build no sleep, no auto off :) I hope this can be fixed because otherwise I love the UI and the settings are so nice :) Keep up the great work!

[2017-10-26 22:33] #111 closed

[2017-10-26 22:42] Ralim commented on #106
Hi,
Still trying to figure out why your irons, in particular, are having issues.
The numbers @lnnocentius has in the video are perfectly normal.
The system shouldn't trigger movement until the summation of those numbers is > 600 at max sensitivity, and > ~2000 at minimum sensitivity.

I have attached another tester firmware, that will print the value its testing against in the bottom right, If som

[2017-10-27 04:49] Ralim commented on #14
Hi,
Sorry about the delay getting back to you.
Can you confirm that you were running 1.17.1 and could you also provide the hex file you uploaded to the iron so I can test locally?

[2017-10-27 09:04] 78suited commented on #106
@Ralim https://youtu.be/Vsnm2wsSUEs is this okay or do you want to see something else?

[2017-10-27 17:52] Bluebrain2000 commented on #14
I just tried it again to send you the logo I used, and now, suddenly it worked.
I did exactly the same like the last time.
Photoshop > png > converter > save .hex

Thanks anyway.

[2017-10-27 18:10] lnnocentius commented on #106
@Ralim here you go, the bottom right is just spiking from 0->100
https://youtu.be/vVYVJcKl0xU

[2017-10-28 02:24] Ralim commented on #106
Hey,
Thank you for your videos, they do show that the readings are mostly updating well, though the slight pausing gave me a hint to what it could have been, as my irons do not do that.

Both your irons readings are very close to what my one here is reading as otherwise.

Could you try this build, I've fixed a few small bugs, which may have caused more issues on your irons than on mine and exasper

[2017-10-28 02:49] Ralim commented on #113
Hi,
In the newer alphas (5+) Number 1 should be fixed :)

[2017-10-28 04:15] #104 closed

[2017-10-28 04:15] #67 closed

[2017-10-28 04:15] #79 closed

[2017-10-28 04:17] Ralim commented on #14
Normally this sort of temperamental behaviour is the DFU bootloader sadly :/
I have found under Linux that just attempting the flash multiple times works usually on the 2nd or 3rd time.

[2017-10-28 04:39] sibusaman commented on #14
In my experience, flashing fails the first time, always. Then the filesystem mounts again with *.ERR file, copying the *.hex file again into this resulted in success every time, until now.

I haven't faced it yet, but flashing large hex files by this method could pose a problem.

[2017-10-28 08:24] gidimiz commented on #113
Thanks for the quick update. I will check this and update you if I have any comments.

[2017-10-28 10:05] 78suited commented on #106
@Ralim works like a charm, did a little test and both functions work now. Much appreciated, keep up the good work! https://youtu.be/vkuQ9R_4jvc

[2017-10-28 11:08] christer commented on #106
@Ralim Also tested and it works on mine too.

[2017-10-28 11:22] LexioTech commented on #106
Awesome, thank you 👍 Works perfectly :)

[2017-10-28 11:37] LexioTech commented on #106
One little thing that (if possible) could be improved is the sensitivity. I'm all the way down to 1 now, and still if I bump my desk ever so slightly, the iron turns off the sleep mode and starts to heat up :) It works fine if you actually want to use sleep when you get up from your desk, but if you for example soldering for 3 minutes, then tinkering for 15 more, and then soldering again, the slee

[2017-10-28 15:15] LexioTech opened #115 "DC LOW when connecting DC powesupply, fixes after calibration"
Hi,

With the recent build given to us to fix the "no sleep no auto off" bug for certain people, If I disconnect and reconnect the power to my TS100, and try to turn it into heating mode it says "DC LOW", after this error if I go to the "CAL VIN" menu, enter -> wait until the voltage rises to the already calibrated value (19.8 V), and then exit the menu with clicking the 2 buttons together, then I

[2017-10-28 22:47] Ralim commented on #115
Hi,
This is known in that tester version I uploaded, the filtering on the DCinput isn't setup perfectly yet. I have a new alpha coming soon that fixes this :)

[2017-10-28 23:12] Ralim commented on #115
@LexioTech Should be fixed in Alpha 6

[2017-10-29 03:01] Bluebrain2000 commented on #14
I'll be back at my office PC on monday and check again with the logo file that didn't work.
But I definitely never got an .ERR file.
I flashed the firmware (which worked the first time) and then tried the logo (different) 2-3 times and I always got an .RDY file back, even though, no logo was displayed.

[2017-10-29 06:39] Ralim commented on #14
@Bluebrain2000 It would be good to have a reference of the logo files (both working and not) to look at for differences if you could :)

[2017-10-29 06:40] Ralim commented on #114
@noxhirsch I did slow down the filters a little bit in the alpha 6 release, and would be curious to see your thoughts on this?

[2017-10-29 09:35] noxhirsch commented on #114
@Ralim The battery is ways better 👍 The temperature is still flickering often ;) But I had an idea just in this second: Maybe if the temperature is set to 320°C you could display 320°C even if it's 319/321. As soon as the temperature differs more than 1°C from the preset, the real value will be shown. So you get a stable display when the temperature is at the right point, but you still get fast up

[2017-10-29 13:37] aziemer commented on #114
@Ralim The averaging of the displayed temperature (Modes.c line 461ff) is "sub-optimal" ;-)
You should exchange lines 461 and 462 to really make this a 3 sample averaging - as it stands now it's only 2 sample averaging as you first assign the current temp to the middle sample and then this already changed value gets assigned to the last sample.

[2017-10-29 14:44] csdpm opened #116 "Bug report (I think) temperature not dropping all the way to sleep V2 Alpha 6"
Hi Ben,

I've just noticed that the indicated tip temperature isn't dropping all the way to the sleep temperature. Sleep temperature is set at 150'C (default) but after the sleep timeout the temperature is dropping down and hovering between 167-169'C. I haven't seen this before. Standby timeout is set at 5 mins so there's plenty of time for it to drop.

My default screen is set to detailed, other

[2017-10-30 08:57] Ralim commented on #116
Hi,
Can you confirm what power source you are using? At higher input voltages its hard to regulate the temperature at the lower end? Ill try and replicate this locally as well. :)

[2017-10-30 09:26] csdpm commented on #116
Hi,

Yes sorry I should have included that. 24V (3A capable) on the nail. The iron was reading 23.6V until I calibrated it (I think it read correctly previously). If it's just mine then it's not a big issue, I can probably just up the sleep temp to 180 instead.

[2017-10-30 11:55] tigert opened #117 "Sleeping iron should not heat if sleep temperature > set tip temperature"
So I set the iron to 50C to test whether it would work as a hand warmer inside a transmitter glove (and it might work, 50C is a bit uncomfortable to touch with cold hands, but if there was a holder that keeps it away from fabric and fingers, why not) - it's a crazy use case but more geek points..

However there is a logical hazard in the current code: the moment the iron goes to sleep, it aims for

[2017-10-30 14:09] lnnocentius commented on #106
@Ralim sleep now finally works, thanks for the hard work on fixing the problem

Also, I second what @LexioTech has commented. Even at MSENSE 1 the iron is very sensitive, as even simply nudging the iron a bit takes it out of sleep mode. I think a initial motion buffer can be added?

[2017-10-30 17:02] EricJanVanDenBogaard commented on #97
The TS100 is great as a soldering iron but not as oscilloscope or games machine i guess :)
Maybe if no firmware updates are needed, and there is still any memory available then....
I think the TS100 is a great hardware tool and we are blessed with some great people able to make max use of it.

[2017-10-30 19:31] tigert opened #118 "dynamic sleep temperature?"
This is actually an afterthought to #117 (a problematic case if sleep temperature is set higher than soldering temperature)

When there is a fixed sleep temperature, it will be optimal for roughly just one soldering temperature. Of course this is most commonly the case too - when soldering you might just use one temperature ever. And boost never triggers sleep anyway because you have the iron on y

[2017-10-30 21:02] Ralim commented on #117
@tigert
As you well know there is no enforcement of this at the moment, the user can have sleep and boost temperatures set to whatever they like. For this style of use case would it not make more sense to just set MSENSE to 0 to disable sleep and shutdown?

I can add the logic to enforce Boost>set>sleep if really desired?

[2017-10-30 21:08] Ralim commented on #118
This is not left dynamic as you want to ensure that the sleeping temperature always remains below the temperature that the tip oxidises at, as well as below the melting temperature of solder (63/37 is 183C).

We don't want people to make the mistake of setting their soldering temp to ~400C and then have their sleep temp suddenly raised to ~190C which means the iron will oxidise and the solder will

[2017-10-30 21:11] Ralim commented on #114
@aziemer You are looking at the 1.x C code, this is for the 2.x CPP code base. (1.x is no longer being bug fixed).

@noxhirsch Yeah thats a possible idea. Ill try it out and get back to you :)

[2017-10-30 21:13] Ralim commented on #116
Ill verify locally and get back to you, having the higher voltage makes the PID more unstable at low input voltages (just because tiny duty cycle still raises the tip massively).

[2017-10-31 06:28] tigert commented on #117
Good points. Yeah, after reading your #118 reply I agree this requires more thought.

I think the logic to prevent sleep heating the iron hotter than you expect might be a good failsafe catch, though?

[2017-10-31 06:44] tigert commented on #118
Good point! :-) I did not realize the oxidation part. So then it actually does make sense to keep the sleep temperature somewhere around 150 indeed.

I would lean towards disabling the sleep logic when the temperature is set below the sleep temperature that, because it makes zero sense to heat the iron warmer when you sleep, and the tip won't oxidize no matter what. And if you want sleep logic, th

[2017-11-01 10:31] stri44 opened #119 "Boost delay 1.5sec"
Hello,
thank you for writing this firmware, I like it very much.
I checked out the latest Alpha and found it functional as well as a pleasure to use.
One issue: when I press boost, current goes up about 1.5 seconds later. This was not the case in previous versions.
Could you change the behaviour so that boost starts immediately after pressing the button.
Regards
Stri44

[2017-11-01 15:54] SijmenSchoon commented on #97
It's a really cool idea, but not really that feasible. Let's not let feature bloat get to this feature — as the Unix philosophy says: "Make each program do one thing well. To do a new job, build afresh rather than complicate old programs by adding new 'features'."

[2017-11-01 21:33] SijmenSchoon commented on #117
To me, the most logical solution would be setting the iron temperature to `min(systemSettings.SleepTemp, systemSettings.SolderingTemp)` when sleeping.

[2017-11-02 06:14] Ralim commented on #117
@SijmenSchoon That's exactly what I'm planning on adding to the firmware. Seems to be the safest and easiest option.

[2017-11-02 06:16] Ralim commented on #87
@runy1984
Time.
I just haven't had more time to work on other languages support in 2.x just yet.

[2017-11-03 13:44] csdpm commented on #116
It looks as if your PID instability thought is in the right direction... I've tried changing the sleep temperature up to 170'C and the temperature settles at ~187'c. Dropping the sleep set point down to 140'C causes the temperature to settle at ~160'C.

[2017-11-03 15:06] uncle-fed commented on #87
What about Cyrillic support in 1.x ? The fonts are now available and also the translated strings.

[2017-11-04 03:36] Ralim commented on #87
Hi,
Can you try the attached file? I'm missing some translations atm, but if you could check the font first. Then we can do the translations.

[TS100_ru.zip](https://github.com/Ralim/ts100/files/1442891/TS100_ru.zip)

[2017-11-04 03:44] #115 closed

[2017-11-04 03:45] #113 closed

[2017-11-04 07:16] runy1984 commented on #87
OK! check !

[2017-11-04 07:22] Ralim commented on #87
I've actually pushed out 2.x with the incomplete translations since its going to be the easiest way to get all of them updated. The above file is the same as the 2.x release.

Let me know if they show okay, and also translations for the missing ones would be awesome :)

[2017-11-04 07:41] runy1984 commented on #87
ОК!

[2017-11-05 18:07] matmemo commented on #116
I can confirm this too. I'm using a bench power supply at ~24V and the temperature drops to 167-169°C and stays there (sleep temp set to 150°C) like csdpm said above. Curiously it stays at the set 150°C if I force it to cool down that far by cooling the tip on a wet sponge.

For the time being I did just set the sleep temp to 130°C which makes it drop to ~150°C in air when the sleep mode is active

[2017-11-06 09:03] pilatomic opened #123 "Rounding tip temp"
Hi,

First, thank you for all the hard work on this firmware !

Just updated to rev 2.0 yesterday, and I noticed it does now round the measured temperature when it less than 3° from target temperature (main.cpp:78).

The primary reason I switched from the official firmware was exactly because it was rounding the temperature.

Could this be disabled ? I fail to see a usecase where a wrong tip tempe

[2017-11-06 09:10] Ralim commented on #123
Hi,
This was included as a request from #114.
I'm not sold on it either, though 3 degrees is a tiny amount of rounding and is less than some commercial units perform.

It's up to debate if it stays in future versions or not.

[2017-11-06 09:50] pilatomic commented on #123
Hi,

Yeah I understand how the temperature "jumping" is not nice.

Maybe displaying scrolling numbers would be easier, that way there are some possible display position between integer values.

I crafted a small GIF to explain what I mean :
http://pila.fr/wordpress/wp-content/uploads/demoScrollingTS100-1.gif

A temperature of 339.5°C would appear with half of 339 shown and half of 340.

What do yo

[2017-11-06 15:47] csdpm commented on #123
As an alternative suggestion, you could maybe reinstate the heater power level bar. That would allow you to see how hard the heater is having to work to maintain the tip temperature (the underlying reason for wanting minimal rounding) while still having a steady diplay. It would be simpler to implement than scrolling temperature too.

Just a thought anyway. I agree, the rounding does seem a bit to

[2017-11-06 17:05] pilatomic commented on #123
Actually, I think the left icon could be used as power indicator. Currently it only has 2 states : < 10% PWM and > 10% PWM. Maybe it could act as a power bar, with the height of the top part being related to the PWM value ?

Still, "hiding" the true tip temperature doesn't seem a good idea to me

[2017-11-06 21:19] matmemo commented on #116
Ok, I did some more testing and found that the problem really isn't that noticeable when using input voltages ~20V and a sleep temperature of 150°C. But at least for my device it's still there for lower temperatures and voltages. The easiest way to reproduce it is to set a low temperature in soldering mode and use the boost to drive the temperature up by 20-30°C.
When I let go of the button it sta

[2017-11-06 22:20] adrianmihalko opened #124 "Hungarian language"
I translated project into Hungarian language. Please add to the project.

[code]

[2017-11-07 13:27] dchoskingsage commented on #85
So i got my replacement and two weeks later same thing happened, i am so frustrated i dont even want to try and ask for a third replacement (which i am yet to be refunded for he first one that broke, i just bought my own replacement) .
I suspect that the items from BG are possibly clones or part of a batch that has some production issue.

Interestingly enough both failures happened after swapping

[2017-11-07 14:15] chargerdude70 commented on #85
I received a replacement for mine as well. It works as desired but I have yet to replace the tip for another so I cant verify as of yet if mine will do the same. BTW, mine were from BG as well.

[2017-11-08 10:32] Vidalcris opened #125 "I cannot see the full menu .."
Just installed V2.0_fr and i cannot go after ADVIDL.. so i cannot access boost settings and more.
I even tried to reinstall the original firmware and install again V2.0 but the problem is still there.

Alpha 6 is working fine.

[2017-11-08 10:58] Ralim commented on #125
Is the problem only present in the _fr version?

[2017-11-08 11:03] Vidalcris commented on #125
Maybe yes.
I have to say i'm tired to have to do all the settings again on each flash ;)
This is why i just flashed alpha 6 XD

[2017-11-08 11:05] Vidalcris commented on #125
Ok i confirm that the problem is not present with V2.0 (not french)

[2017-11-08 16:38] lnnocentius commented on #106
@Ralim the latest release fixed the sensitivity issues. I can now safely say that this thread is now resolved. Thanks for the hard work in fixing it

[2017-11-08 16:38] #106 closed

[2017-11-13 18:21] ShapovalovIgor opened #128 "Аdding a voltmeter function"
Сan I add a voltmeter function from the mod? https://github.com/alexgavs/arm-iar-ts100-mod2.12

[2017-11-14 16:04] kartoffelbaer opened #129 "Unable to install ts100_de.hex"
Hello,

when trying to install TS100_de.hex, I get the .err suffix, any idea how to find out what went wrong? The newest ts100.hex is working

kind regards

[2017-11-15 14:47] JustNoLimit opened #130 "Turkish Language Support"
#ifdef LANG_TR
const char* SettingsLongNames[16] = {
/*These are all the help text for all the settings.*/
/*No requirements on spacing or length*/
"Güç Kaynağı. kesim geriliminı ayarlar. <DC 10V> <S 3.3V hücre başına>",    //Power Source
		"Uyku Sıcaklığı <C>",    //Sleep Temp
		"Uyku Zaman Aşımı <Dakika/Saniye>",    //Sleep Timeout
		"Kapatma Zaman Aşımı <Dakika>",    //Shutdown Time
		"Hareket

[2017-11-16 02:25] Ralim commented on #129
Hello,
Do you mean that the english version works and the german version does not install?

Have you tried dragging the file onto the unit multiple times? Under some operation systems / computers it will install the firmware on the 2nd or 3rd attempt.

What computer are you using / OS etc ?

[2017-11-16 08:37] Ralim commented on #128
If you turn on the detailed idle screen on the 2.x firmware it will show the input voltage directly for you?

[2017-11-16 11:22] dchoskingsage commented on #85
You guy seem to know what you talking about, I would like to try replace the mofset but cant get that exact same one. Do you think this one would suffice.

https://www.mouser.co.za/ProductDetail/Vishay/SI4459ADY-T1-GE3/

Also sorry i am posting here i have no idea where else to get help from and i know this is not exactly the forum for this sort of support

[2017-11-19 01:53] joric commented on #97
@mikromCZ they've made tetris on the es120 screwdriver as well :)
https://www.youtube.com/watch?v=Q2bpTqUKbqA

[2017-11-19 05:05] Ralim commented on #85
Hi @dchosking
That mosfet won't work as a direct replacement. You are looking for a dual P MOSFET.

https://www.mouser.co.za/ProductDetail/ROHM-Semiconductor/SH8J31GZETB/?qs=sGAEpiMZZMshyDBzk1%2fWi9lDZIJVG72oj5Al7AXZulLtfR8s%2fUIC2w%3d%3d

This one, for example, meets the same specifications and has the same pinout.
Should be just a drop in replacement once you remove the original one.

[2017-11-20 20:17] WerVa opened #132 "Support Polish language"
#ifdef LANG_PL
const char* SettingsLongNames[16] = {
/*These are all the help text for all the settings.*/
/*No requirements on spacing or length*/
"Źródło zasilania. Ustaw napięcie odcięcia. <DC 10V> <S 3.3V dla ogniw Li>",    //Power Source
		"Temperatura uśpienia <°C>",    //Sleep Temp
		"Czas uśpienia <Minuty/Sekundy>",    //Sleep Timeout
		"Czas wyłączenia <Minuty>",    //Shutdown Time
		"Czu

[2017-11-20 23:12] Ralim commented on #132
I will need to check all the glyphs used are present in the firmware. If they are I can add support for this shortly. :)

[2017-11-21 18:21] qoobaa commented on #24
I was looking for the simplest way to power TS-100 or charge my laptop out of a USB PD enabled charger, and I've just stumbled upon this guy: https://www.aliexpress.com/item/USB-PD-trap-TYPE-C-Fast-Flip-Flop-pollinpg-device-detector-trigger/32830872838.html. I've just got one and it seems to work flawlessly.

[2017-11-22 10:03] jonnieZG opened #133 "Wrong instructions regarding Menu buttons in README"
Currently the README says "The button near the tip cycles through the options, and the one near the usb changes the selected option.".

It should be the other way around: "The button near the USB cycles through the options, and the one near the tip changes the selected option."

[2017-11-22 10:06] jonnieZG opened #134 "Proposal: "+" and "-" instead of "T" and "F""
In menus, it might be more intuitive to use "+" and "-" instead of "T" and "F".

[2017-11-22 11:49] jonnieZG opened #135 "Croatian language support"
### Version for a font with supported diacritics
This is the *preferred version* that should be used for a font that supports the following Croatian glyphs: ČĆĐŠŽčćđšž (see update in Issue #132 ).
[code]
### Version for the ASCII font only
This version should be used when the font does not support Croatian diacritics. There is an update to the font specified in issue #132 that supports Slavic lang

[2017-11-22 15:30] jonnieZG commented on #132
Polish alphabet falls under Windows-1250 encoding, the same as Croatian, Serbian, Slovenian and quite a few other Slavic languages. They are included in U+0100 to U+017F, or UTF-8 ranges C480-C4BF, C580-C5BF I've taken a look at the Font.h and OLED.cpp classes, and currently they are not supported.

The Russian Cyrillic font with letters defined in that range could be replaced during compile-time,

[2017-11-22 20:50] Mrkvozrout commented on #134
Thinkin about your proposal with conclusion that I would be more confused to see +- than TF as the latter is commonly known as true/false (at least in my circles).

But what about to use the proper accepted/rejected signs like **✓** (unicode "check mark") and **✗** ("ballot X") ?

[2017-11-22 21:32] Mrkvozrout commented on #101
I think that holding the button is just fine as it is not that stiff to influence handling precision.

But just as a thinking exercise:
The request could be implemented as a "Deadman's switch" similar to its usage in trains (see https://en.wikipedia.org/wiki/Sifa). The train driver needs to press a pushbutton regularly to keep going - if driver stops to press the button (e.g. fainted), the train w

[2017-11-22 21:47] jonnieZG commented on #134
I am quite a nerd, but in this context True and False are not the first things that come to my mind. Especially when you have translations to different languages. As you suggest, ballot signs would also be a better choice. I personally prefer + and -, but that's just me. ;) Whatever the majority settles about.

[2017-11-23 08:07] Ralim commented on #134
I am happy to swap to tick and cross marks. +- is fairly illogical to most people I have asked about their thoughts about this locally. Can I ask @jonnieZG what your cultural background is ?

[2017-11-23 08:14] Ralim commented on #133
Ah good catch.

[2017-11-23 08:17] jonnieZG commented on #134
I am an electrical engineer and Java architect, my mother tongue is Croatian, and am fluent in Italian and English. I read and write a lot. Besides working on many professional and hobby projects (Star Wars fandome related), I am also an official translator for [Waze](https://www.waze.com/), [Live for Speed](https://www.lfs.net/) and a few other, smaller products.

[2017-11-23 08:40] Ralim commented on #134
Woah, sorry I didn't mean to insult you I was just curious as to why you would prefer +/-. In translations the T/F can be changed to other symbols if preferred. Just to some people +/- does not correlate with an on/off notation if that makes sense?

[2017-11-23 08:52] jonnieZG commented on #134
Don't worry, no offense taken. It is normal to want to know some background of the people who are messing into your business! ;)

Well for me,, + and - symbols are as much intuitive as it gets, if we constrain on just one symbol per state, and exclude other special symbols. Comparing + and - it is clear that a "+" symbolizes something "with" and a "-" something "without".

On the other hand, 0 and

[2017-11-23 09:06] Ralim commented on #132
I'm happy to be replacing the characters at compile time that is no issue at all.
Just I'm over creating font maps for this project 😛
Ill include the ASCII version from #135 first and then update to full font if anyone ever is bored enough to make more font glyphs :)

[2017-11-23 09:06] jonnieZG commented on #132
I'll do it.

[2017-11-23 18:13] jonnieZG opened #137 "Tip temperature calibration sets tip temperature to 0"
After performing a tip calibration, the tip temperature is displayed as 000 when the tip is not heated.

Shouldn't it be set to 24 degrees, that being an average room temperature?

[2017-11-23 18:28] Ralim commented on #137
Hi,
The soldering iron contains a second temperature sensor inside the handle that is used for the calibration. Normally this is used for cold junction calibration.

During calibration the temperature offset between the tips raw reading and this temperature is stored, then is subtracted when performing normal measurements.

The downside to this is that the tip temperature may be the same as the in

[2017-11-23 18:34] #137 closed

[2017-11-24 09:04] Ralim commented on #132
This may be of help to you [Online Editor](http://ipbox.linkpc.net/tsfed/).
Massive thanks to @uncle-fed from #87

[2017-11-24 09:07] jonnieZG commented on #132
Great! I was using this one: https://www.pentacom.jp/pentacom/bitfontmaker2/ with a Java utility that I made for converting between the two formats, but this one by @uncle-fed I like even better.

[2017-11-24 10:24] Ralim commented on #129
@kartoffelbaer
Hi,
Any update on this?

[2017-11-24 22:26] jonnieZG commented on #132
I'm done. With the following update, all the Slavic languages will be able to be fully supported, including Czech, Slovak, Polish, Croatian, Serbian, Bosnian, Slovenian and others that use Latin script.

It supports characters from U+0100 to U+017F.

If LANG_RU is enabled, then it will define Cyrillic script. In all other cases, the alternative characters from the U+0100 to U+017F range will be de

[2017-11-24 22:33] sreichholf commented on #129
Hey, try renaming it to ts100.hex. Worked for me.

[2017-11-25 08:13] Ralim commented on #134
Yeah, I just find +- to be really confusing so I was curious what your background was :)

Honestly, this might become a language-specific change, since to some cultures T/F is more logical than +- ?

[2017-11-25 08:34] Mrkvozrout commented on #134
Isn't it already language specific?
I mean in the Translation.c there are:
[code]

[2017-11-25 08:36] Ralim commented on #134
Yes it is, but I mean that it might be that some languages/cultures will have this set to +/- and some T/F etc ?

[2017-11-25 08:41] Mrkvozrout commented on #134
I agree. I already used this possibility in the czech translation.

[2017-11-25 09:21] jonnieZG commented on #134
+1 for that

[2017-11-25 11:27] canc3rmoon opened #139 "cannot access settings menu"
Hi,
Just got a brand new unit today with DFU is 3.43 and stock Firmware 2.12.
I've flashed the latest firmware (window10, thinkpad t530), apparently with success. Each time I get a .RDY result. Yet I cannot enter the settings when pressing the button closest to the tail. Flashing older firmwares resulst in showing Firwmare 2.12. Any suggestions pointing me in the right direction is highly apprecia

[2017-11-25 12:29] jonnieZG commented on #139
Does it work with the old firmware? You first have to verify that the button itself is ok.

[2017-11-25 14:07] Mrkvozrout commented on #139
You can try the newest official firmware 2.17. Open following link and download the `APPV217.rar`
[www.minidso.com/forum](http://www.minidso.com/forum.php?mod=viewthread&tid=892&extra=page%3D1%26filter%3Dtypeid%26typeid%3D63)

[2017-11-25 22:03] canc3rmoon commented on #139
Thank you. The button does click, but does not open the settings menu on the orignially installed firmware. Flashing 2.17 results in .RDY, but upon booting shows fw 2.12 and still no access to menu.

[2017-11-25 22:13] jonnieZG commented on #139
So you have a faulty button, or a faulty connection. Either try to fix it yourself, or flash back the original firmware and activate your warranty. I'd go for the second option.

[2017-11-25 22:29] canc3rmoon commented on #139
Seems like I have a DOA. Will opt for warranty. Thx for your help.

[2017-11-27 09:26] jonnieZG opened #140 "Replace "by-character" scroll with "by-pixel" scroll"
Using "by-pixel" scroll instead of "by-character" scroll, while increasing the overall scroll speed by cca 50% would increase readability. According to the http://www.displayfuture.com/Display/datasheet/controller/SSD1307.pdf manual, it seems feasible.

[2017-11-28 23:16] Ralim commented on #140
This would actually be easier to implement in the LCD driver by supporting pixel offsets for the cursor positions rather than character slot positions.

Certainly a doable feature to add.

[2017-12-02 12:07] Mrkvozrout commented on #132
@jonnieZG I am just testing the new font, it works for most part but not completely.

All but the first line works good. In the first line
`U0100 0Ā 1ā 2Ă 3ă 4Ą 5ą 6Ć 7ć 8Ĉ 9ĉ AĊ Bċ CČ Dč EĎ Fď`

- letters 0-A shows just completely fills the whole letter space
- letter B shows just the upper half of the letter space filled

![u0100](https://user-images.githubusercontent.com/6730275/33515234-9482cd

[2017-12-02 14:59] ponchick commented on #125
Same issue with russian firmware. English version is Ok.

[2017-12-02 15:29] PenGenKiddy commented on #125
@ponchick Yesterday i installed ru firmware. All works fine. Can you attach video with bug?

[2017-12-03 05:06] ponchick commented on #125
@PenGenKiddy I downloaded and installed latest TS100_ru.hex (V2.0) from [releases page](https://github.com/Ralim/ts100/releases). ADVIDL is a last menu item, here is [video](https://www.dropbox.com/s/003y63r7uev76ai/2017-12-03%2011.51.19.mp4?dl=0).

[2017-12-03 19:39] Mrkvozrout opened #142 "Autostart to sleep mode"
I noticed that in the description of autostart there is described option S, meaning start in sleep mode.

But only true/false can be set in settings and code on startup also does not count with the S option.

Is this a leftover from 1.x version?

- if yes - implementation is easy
- if no - translations should be updated

[2017-12-04 09:41] joric commented on #24
@qoobaa yeah cool but one I was referring to (and already posted a link above) costs just $3, not $13 https://www.aliexpress.com/item/1PCS-QC2-0-qc3-0-Tester-Automatically-Detects-Phone-Quick-Charge-Voltage-Meter-Simulator-Trigger-9V/32771660912.html

[2017-12-04 09:43] qoobaa commented on #24
@joric I bought this one too, but it's not USB-C PD.

[2017-12-04 09:44] joric commented on #24
@qoobaa ah ok it's quickcharge. Different standards.

[2017-12-04 16:32] adrianmihalko commented on #124
Accepted/declined?

[2017-12-04 21:27] Ralim commented on #124
All languages are accepted :)
I'm just really busy at the moment and haven't tested this locally before merging :)

[2017-12-04 23:57] Ralim commented on #142
Both?
In 1.x there were 3 modes, in 2.x there is only plan for the two modes as of current.
The third mode can be added if there is demand for it I guess? Its not hard to add.

[2017-12-05 08:25] jonnieZG commented on #132
@Mrkvozrout You are right about the letter "o" definition, it was obviously an unintentional error. I corrected it now in the section above, and I expect you did the same before compiling and testing it. ;)

Regarding U+00C0 to U+00FF they *are* already supported, and I did not mess with that part. I might be wrong, but if you tested them and did not get them to work, I'd say that your source code

[2017-12-05 17:44] sotima commented on #125
Same here with german Version of Release 2.0 (TS100_de.hex). Menu does  only go to ADVIDL.

[2017-12-06 08:05] jonnieZG commented on #132
WoskStation for STM32 ;)

[2017-12-06 17:25] GS88 commented on #48
I use salvaged 18650 cell from laptop packs. Most of them have higher internal resistance but lots of usable life left. It would be very very useful to have a lower cut out for these cells.

I usually cycle my salvaged 18650 down to 3.0V on loads <1C.

Could you add a setting to adjust the per cell cut off? that way people using expensive LiPo's can keep it higher, and people using junk 18650 can

[2017-12-06 18:02] Mrkvozrout opened #144 "Fix reset settings menu item"
`RESET` menu item does what it is supposed to do, but the implementation and user interaction does not make much sense.

Currently when clicking this menu item, there is `T`/`F` switching on screen. To reset settings, you must cycle to the end of menu where a flag is checked. This is the part that does not make much sense, even more because there is another settings item after the reset item. If y

[2017-12-06 18:08] Mrkvozrout commented on #144
I have this already implemented and tested.

The behavior is unified with the `TMP CAL` option.

- user selects menu item
- warning/question is shown waiting for confirmation
- confirmed -> proceed with action (reset, calibrate..)
- canceled or timed out -> return menu item

I have not issued Pull request because I am not sure how to do the branches properly so that merging is not hell after the o

[2017-12-06 21:13] uncle-fed commented on #87
This is an update on the CasioNostalgia 5x7 font located here:
https://fontstruct.com/fontstructions/show/1193786/casionostalgia

I got in touch with the author of the font [zdimension] and discussed the licensing issue with him.
He replied that the following: "I contacted FontStruct about the license and it seems CC4 is not supported yet (on the website). I will put a note on the page of the font

[2017-12-06 21:14] uncle-fed commented on #132
Have a look here also: https://github.com/Ralim/ts100/issues/87#issuecomment-349776478

[2017-12-07 16:26] jorgempy opened #145 "Wrong tip temperature reading"
Hello, first of all thank you ralim for this awesome firmware!

I'm having an issue with it though, i think the firmware is reading the wrong temp, because when I plug it in, the hot tip warning comes on, and it says that the tip is at ~145C, even when I have JUST plugged it in.

I've tried calibrating the temp, I've tried the v1.17 firmware, has a similar issue, but the cal at least fails, in the

[2017-12-07 17:24] Cpt-Huck commented on #145
Having no problems actually.. Using 2 different tips for the TS100.. Works fine..

[2017-12-07 21:42] Mrkvozrout commented on #132
So I did some more testing. Obviously I have not tested all the letters but most of those I did test works fine. But not all - for me.

The reason I write "for me" is e.g. this:
![20171207_201544 0](https://user-images.githubusercontent.com/6730275/33739395-34c47d54-db9d-11e7-8ce5-5753382cec71.jpg)

As you can see, the letter `à` is corrupted. I imported its definition to the [font editor](http://

[2017-12-07 21:57] Mrkvozrout opened #146 "Fix drawing letters from 0xC2 section"
In `OLED.cpp` method `OLED::drawChar` index for letters in C2 section is not computed correctly. The first 32 characters (whitespace, control characters) are excluded from font, so the index must compensate for this.

Wrong:
[code]
Should be:
[code]

[2017-12-08 18:07] jonnieZG commented on #145
I would say your tip is faulty, that is, the thermistor in the tip is faulty.

Regarding the calibration I opened an issue recently about the tip temperature displaying 0°C at room temperature, but I closed it after @Ralim explained that the temperature displayed is a difference between the tip and the handle temperature.

However, I would still prefer **if the tip temperature after the calibratio

[2017-12-10 13:39] Ralim commented on #145
Hi,
The tip calibration must be run with the handle and tip at the same temperature.

@jonnieZG Im not sure why yours is showing 0 after calibration as it shouldn't unless your tip is at 0C.

The way the tip calibration works is based on the nearly linear voltage response of the thermal couple Junction in the tip.

The code is programmed with the temperature response curve of the typical tip. Howe

[2017-12-10 19:18] wortex1979 commented on #130
how can i update to turkish?

[2017-12-11 12:39] Ralim commented on #130
When I have time ill release a build file on the releases page with Turkish as an option :)

[2017-12-11 12:42] jonnieZG commented on #145
@Ralim, thanks for the explanation, I get it. The soldering iron with the stock firmware shows the exact temperature after the calibration. This one, on the other hand, shows 0. I'll post a video.

[2017-12-11 12:53] Ralim commented on #145
@jonnieZG Please provide a video showing this fault.
The firmware should *not* start from 0.

[2017-12-11 13:25] wortex1979 commented on #130
thanks ve are waiting.

[2017-12-11 13:29] wortex1979 commented on #130
#ifdef LANG_TR
const char* SettingsLongNames[16] = {
/These are all the help text for all the settings./
/No requirements on spacing or length/
"Güç Kaynağı. kesim geriliminı ayarlar. <DC 10V> <S 3.3V hücre başına>", //Power Source
"Uyku Sıcaklığı ", //Sleep Temp
"Uyku Zaman Aşımı <Dakika/Saniye>", //Sleep Timeout
"Kapanma Zaman Aşımı ", //Shutdown Time
"Hareket Hassasiyeti <0.Kapalı 1.En az duyar

[2017-12-12 00:14] #146 closed

[2017-12-12 00:18] #74 closed

[2017-12-12 00:18] #71 closed

[2017-12-12 00:19] Ralim commented on #82
@gkrystev Any chance you can update this to the newer format? (has more menu items)

[2017-12-12 00:20] #86 closed

[2017-12-12 00:20] #94 closed

[2017-12-12 00:20] Ralim commented on #96
@t-xdk Can you update this to the new 2.x format And I'll try and pull this in and get it working.

[2017-12-12 00:22] #99 closed

[2017-12-12 00:23] #117 closed

[2017-12-12 00:24] #118 closed

[2017-12-12 00:25] Ralim commented on #123
@pilatomic More than happy to make the icon more interactive if someone feels like making yet more bitmaps for the states of the icon :)

[2017-12-12 00:26] #124 closed

[2017-12-12 00:31] #128 closed

[2017-12-12 00:31] #129 closed

[2017-12-12 00:35] #133 closed

[2017-12-12 00:39] Ralim commented on #144
@Mrkvozrout
I'm currently sitting here merging in the current pull requests right now, so hopefully should be easy to make a pull request shortly :)

I'm happy for me to go through pull request hell occasionally since my available time to work on this changes wildly, so it's my fault 😛

[2017-12-12 00:40] #125 closed

[2017-12-12 00:40] #130 closed

[2017-12-12 00:53] #140 closed

[2017-12-12 00:53] #139 closed

[2017-12-12 01:44] t-xdk commented on #96
Danish V2 translation

[2017-12-12 01:55] #135 closed

[2017-12-12 02:10] Ralim opened #148 "Convert CasioNostalgia Font"
To enable support for languages other than english to use the small fonts, we need a new font.
Over in Issue #87 @uncle-fed has recieved confirmation from the creator of [CasioNostalgia ](https://fontstruct.com/fontstructions/show/1193786/casionostalgia) is okay with it being used with GPLv3.

Someone needs to convert this font map over to the format that is used by the OLED screen in the TS100.

[2017-12-12 02:12] Ralim commented on #134
Closing this as its a language-specific change that the whole world will *not* agree on.

Feel free to submit pull requests for languages where this is more logical.

[2017-12-12 02:12] #134 closed

[2017-12-12 02:19] Ralim opened #149 "Convert UniFont Over"
To enable support for Chinese/Japanese/Korean, we need a new font.
Over in Issue #95, [Unifont](https://en.wikipedia.org/wiki/GNU_Unifont) in 16x16 resolution was identified as the ideal looking font.

Someone needs to convert this font map over to the format that is used by the OLED screen in the TS100.

Not sure when I'll have time, so leaving this open to anyone who wants the challenge.

[2017-12-12 02:19] Ralim commented on #95
I've been way to busy to convert the font at the moment.
Going to let issue #149 track this conversion.

[2017-12-12 02:19] #95 closed

[2017-12-12 02:27] #96 closed

[2017-12-12 02:34] Ralim commented on #132
I have merged in this.
Thank you for all your work :)
Looks to be compiling and running ok for me here, though as I cant actually read the language, I could totally be missing small errors.

Re-open the issue or hit me up if there is anything I can do to help :)

[2017-12-12 02:35] #132 closed

[2017-12-12 03:02] perillamint commented on #148
Wait, isn't it BY-**NC**-SA?

[2017-12-12 03:31] perillamint commented on #149
GNU Unifont's Korean region looks somewhat ugly to me. I think Doongunmo font(https://github.com/perillamint/dkbfnts/blob/master/kimjoongtaefonts/H04.FNT) is much better than Unifont's one.

[2017-12-12 05:38] Ralim commented on #148
@uncle-fed said in the [comment](https://github.com/Ralim/ts100/issues/87#issuecomment-349776478)
That they talked to the author, which is what I was mostly going with?

[2017-12-12 05:39] Ralim commented on #149
Honestly, I'm open to any fonts at this point, but I just don't have time to convert them over really.
I'll take all suggestions.

[2017-12-12 05:40] perillamint commented on #148
Ah, I missed that point. In that case it would be OK.

On 2017-12-12 14:38, Ben V. Brown wrote:

[2017-12-12 05:54] Ralim commented on #48
I could probably just drop the cutoff down to 3V/cell in general, as afaik li-poly is ok with that as a lower cutoff too ?

[2017-12-12 09:56] wortex1979 commented on #130
tanks alot ralim. very good.

[2017-12-12 13:10] GS88 commented on #48
All lithium cells are ok down to 3.0V most are fine down to 2.5V occasionally at higher discharge rates. The problem comes when you have unbalanced cells with no protection circuitry.

In unbalanced packs, the lower capacity cell will sag much lower than the rest of the pack and become damage making the balance problem worse.

I can understand why RC hobbyist baby their Li-Po if they are unprotect

[2017-12-12 17:20] tigert commented on #48
Yeah, I guess we have two cases: LiPo flight (etc) packs, most common 3 and 4S, some 5-6S. And the 18650 LiIon cells, that also have the same cell count choices I guess. Maybe have the menu be:

Power Source: AC / LiPo / 18650 LiIon
IF battery source, then enable cell count menu: 3-6S(?)

Then set the cutoff voltage based on the power source cell type?

[2017-12-12 17:22] tigert commented on #48
Reason for above being that LiIon does have a lot lower low limit as far as I know. I am pretty sure people do want to save their LiPo packs, as they are indeed unprotected - although most salvaged laptop 18650's are too.

[2017-12-12 17:48] GS88 commented on #48
Virtually All li-ion and li-po cells will last their rated cycle life or longer at 3V to 4.2V.

Some manufacturers specify more aggressive voltage limits but they will only be higher charging voltage or lower cutouts. In those cases, a cell will operate at lower than rated capacity but have a longer cycle life at the more conservative charging and cutoff voltage.

Cells generally age with the numb

[2017-12-12 20:10] 19clarnoah opened #150 "Tip not heating"
This is an issue with the iron itself i believe, but i am using the most recent version of your firmware and i love it. It isn't my iron, but my tech teacher's, he lets me use it a lot. Problem is, the temperature of the tip stays between 21 and 28 degrees celsius. It refuses to heat up. I've done a few factory resets as well as reinstalling the firmware, still no heat. It was working today then s

[2017-12-12 20:12] 19clarnoah commented on #150
I just got the firmware today, before it was the absolute stock version. Same heating issue occurred but if i waited about 5 minutes the heat came back. Now it's gone with no sign of return.

[2017-12-12 21:05] jonnieZG commented on #145
Ok, I've filmed a short video, but there's no need for publishing it, since I've figured out the problem: the temperature sensor in the handle is loose, because as I slightly bend the handle, the temperature reading jumps to 27°C and then back to 0°C. I'll have to take it apart and solder the thermistor properly.

@Ralim, do you by any chance have a schematic with the PCB layout, so I could locate

[2017-12-13 01:00] Ralim commented on #150
Hi,
Can you confirm that if you set the unit to the advanced idle screens if the temperature shows up as a logical ambient temperature?

Then when you start the heat up cycle, does the temperature stay correct but just not heat up?

If both of the above are true, then the feedback path from the tip is working so the header element is *probably* ok. But then the next most likely part to have failed

[2017-12-13 01:06] Ralim commented on #48
I initially went for a cutoff of 3.3V mostly to play it safe, since a lot of the quad fliers I have found have little to no balancing/protection on their packs.

Do we really want to add another menu option :grimacing:  or do we drop it to 3V per cell ?

[2017-12-13 01:06] 19clarnoah commented on #150
Yeah, I've got the advanced screens on and the temperature on the idle screen is between 21-28 degrees celcius. This is logical as the AC in the classroom has failed and it has been uncomfortably toasty in the room all day. Whenever i enter soldering mode, the same temperature is displayed. What you mentioned about the loose board seems highly logical to me, i'll check it out in class tomorrow and

[2017-12-13 07:46] gkrystev commented on #82
@Ralim yes, of course, will do it

[2017-12-13 08:22] jonnieZG opened #152 "Scrolling should be faster"
The new smooth scrolling looks great, but it is quite slow now. I think it should be at least 2x-3x the current speed. So either the pause between the frames should be reduced, or 2 (or even 3) instead of 1 column-per-frame shift should be used.

Sorry, I haven't studied (yet) how the text display routine is implemented.

[2017-12-13 08:37] jonnieZG opened #153 "Wrong character index offset for C3 section"
Characters in the 0xC3 sections start from 0x80, not from 0xA0 as in the 0xC2 section, so the code in Font.h should be

[code]

instead of

[code]

[2017-12-13 08:50] Ralim commented on #152
Yeah, easy fix (either option).
Easy enough to add too, just wasn't sure how others perceived the speed.

[2017-12-13 08:51] Ralim commented on #153
huh, I added that as it fixed a language for me when I was testing. Can you tell me what language it broke so I can test further?

[2017-12-13 08:52] jonnieZG commented on #152
Yes, you should test both options, because I think reducing the pause might induce extra flickering.

[2017-12-13 08:53] Ralim commented on #150
Yeah I would say to check the little daughter board.
It sounds like for whatever reason the mosfet that switches on the tip heating isnt working. A quick visual might lead to more clues.

If you look at : https://ralimtek.com/images/TS100/schematicPWM.png Its basically something in that path somewhere that's not happy.

[2017-12-13 08:56] jonnieZG commented on #153
Sincerely, I don't know which language is affected by it, but it is obvious from Font.h that the C3 section starts from C380 (currently line 156), while C2 starts from C2A0 (line 121).

BTW, for a full Unicode/UTF map I use this http://www.utf8-chartable.de/unicode-utf8-table.pl.

[2017-12-13 09:01] jonnieZG opened #154 "Bad characters"
Some characters, such as "ć" (as much as I can see for the Croatian translation) are displayed as a filled rectangle.

@Mrkvozrout, you said you too have the same issue with some characters in the high pages. From what I saw in issue #132, your EEPROM might be worn out and faulty, but my unit is brand new, and I strongly disbelieve that this is causing problems in my case. While all the characters

[2017-12-13 11:08] Ralim commented on #154
I doubt its the EEPROM, usually this is just a character pointer going wrong somewhere.

char type is uint8_t under the hood, and UTF is encoded in multibyte sequences.

Which language build is this appearing in and ill try and narrow it down :)

[2017-12-13 11:21] jonnieZG commented on #154
Currently the problems were reported in Polish (for string "U0100 0Ā 1ā 2Ă 3ă 4Ą 5ą 6Ć 7ć 8Ĉ 9ĉ AĊ Bċ CČ Dč EĎ Fď") and for Croatian language. The Croatian translation does not use all the diacritic characters, so you can use this string to test all of them: "ČčĆćĐđŠšŽž".

[2017-12-13 14:19] gkrystev commented on #82
Hi,
Here is the updated code.
For the True/False/Right/Left/Auto chars I have added some options like using Unicode characters or some existing ASCII characters. If they are not supported, you can left them as default ones.

[code]

[2017-12-14 22:54] riccardopittini opened #155 "Reading the accelerometer value and display on LCD"
Hi
I want to implement the temperature setting with an algorithm that uses the accelerometer.
I started by
#define ACCELDEBUG 1

Then in the main I added the following lines (and changed the function from private to public)
taskENTER_CRITICAL();
uint8_t tempVar1 = accel.I2C_RegisterRead(OUT_X_MSB_REG);
uint8_t tempVar2 = accel.I2C_RegisterRead(OUT_X_LSB_REG);
taskEXIT_CRITICAL();

The problem is w

[2017-12-15 20:34] Mrkvozrout opened #158 "Formatting"
Hi, I wanted to point out, that the current formatting of the source codes is not good and it is getting worse.

Look at the [currently last commit](https://github.com/Ralim/ts100/commit/4c0ba725421190d4f3ef4d477e751db7e4c59468) e.g. files `gui.cpp` or `Translation.c` - what a mess!

With this it is hard to read it, maintain it, merge it and so on.

There could be defined some readable formatter w

[2017-12-15 21:00] federck opened #159 "Italian bad characters and some other issue"
All accented vocals (such as à and ù) are dispayed as uppercase letters.
Also «ADVSLD» option doesn't provide any description and «CAV VIN» shows "Display detailed information while soldering" description.

Is it possible to reduce the time for descriptions to come out?

Really big thanks for your great work,
Federico

[2017-12-16 08:50] Ralim commented on #158
Typically I was letting the eclipse formatter handle it, which sometimes does a terrible job.
I'm in the process of setting up a pre-commit clang-format rule for the code base :)

[2017-12-16 08:50] Ralim commented on #159
Thanks for flagging this with me, seems to be a few font issues for me to sort through on this latest release :/

Yes I will be reducing the time for the descriptions too :)

[2017-12-16 12:09] Mrkvozrout commented on #159
This could be the wrong offset mentioned in #153 (because difference between lower and upper case is 32)

[2017-12-16 16:48] Mrkvozrout commented on #158
Interesting, also well configured Eclipse formatter would be ok. Thanks for solution :)

[2017-12-16 17:41] Mrkvozrout commented on #159
The description positioning wrong in several other languages. See #166

[2017-12-16 17:52] Mrkvozrout commented on #158
I think the eclipse formatter would be better from the point of view that what you see is what you commit. Also formatting in general should not be done on whole files, just your changes. What do you think @Ralim ?

[2017-12-16 18:17] Mrkvozrout commented on #82
@gkrystev Hi, current font follows unicode chars in UTF8 encoding, so there is no ASCII above 127. Also the font goes just up to U+017F (c5 precursor) so sadly no ✓✗ chars for now.

Also there is new text to translate, look for `SettingsResetWarning`.

Can you adjust the true/false chars and provide the extra text?

[2017-12-16 18:23] Mrkvozrout commented on #144
Implemented.

[2017-12-16 18:23] #144 closed

[2017-12-16 18:54] federck commented on #152
Is also possible to unify the scrolling method?
Descriptions appears "by line" and disappers "by character".

[2017-12-17 14:51] manevich opened #167 "Logo is lost on 2.0 to 2.01 upgrade"
I had to re-flash logo on my iron, while according to https://github.com/Ralim/ts100/wiki/Logo-Editor logo should stay intact on upgrade. Setting are lost too, btw.

I think B800-BBFF range should be excluded from firmware HEX file to keep logo intact.

[2017-12-17 23:17] ulab opened #168 "Use Y/N instead of T/F"
It took me a moment to realize what the T/F settings meant... Perhaps it's better to use Y/N (Yes/No) instead?

[2017-12-18 01:03] matmemo commented on #148
Hi Ralim,

I downloaded the font and hacked up a python script to generate the 6x8 font data. It works quite good but there is a problem with it that I can't figure out at the moment. When compiled with the changed Font.c file the big 12px font gets corrupted. It still shows some chars but most of them become completely filled blocks on the display.

I'd like to send a pull request, but as it corr

[2017-12-18 07:51] gkrystev commented on #82
The updated code:

[code]

[2017-12-18 11:46] Mrkvozrout commented on #168
@ulab Hi, do you mean english or other language? This is currently up to each language translation (translator's choise).

[2017-12-18 11:55] ulab commented on #168
English. I have installed the firmware without any language extension. (I'm still guessing T stands for True and F for False? :-))

This is something coders might realize, but for the "common people", I think Yes and No might be easier.

It's just a suggestion since it was the first thing that came to my mind yesterday.

[2017-12-18 12:21] Mrkvozrout commented on #168
Thanks to bring in your opinion and (re)start the discussion.

It is hard to decide what indication to choose (true/false, yes/no, +/-...). I think the commonly most realizable would be to implement ✓✗ characters. I will try to play with it and share results (if someone wouldn't be faster :) ).

[2017-12-19 19:03] 19clarnoah commented on #150
hiya, it's been a while. but I tested the mosfets, both of them, using continuity, diode voltage drop, and resistance. all 3 checked out fine on both mosfets. so I decided to test the continuity between tip connections A and B to positive and negative at the DC connector. B is continuous with negative and it makes sense because on the schematic for the entire circuit B is grounded. However, A is a

[2017-12-19 19:35] jonnieZG opened #171 "Development Tools?"
Pleas, could someone post links to the development tools required for compiling and building the firmware files? From the workspace structure I guess it is some kind of Eclipse IDE, right?

[2017-12-19 20:10] Ralim commented on #171
Hi,
The IDE I normally use is "System Workbench for STM32" which is available from www.openstm32.org

You can also compile from the command line using the makefile that is now in the repository.

[2017-12-20 01:55] Ralim commented on #158
Not sure what would be the best ideally, normally I was trying to just run the eclipse formatter on the whole file before commit. However, that was getting messed up with the different `#defines` before.
Should be better now that they are done at compile time rather than in a file.

[2017-12-20 07:32] Mrkvozrout commented on #158
The worst thing is the 80 chars wide lines - I have never seen splitting 2 word comment into two 1 word comments just because of 80 char limitation... until now :D. I think the programmer should do most of the formatting while writing the code to make it readable, Even if it does not 100% follow any formatter rules. And formatting of whole file - if ever- should be committed separately because the

[2017-12-20 22:29] Ralim commented on #158
Hahah, yeah 80 char lines can be annoying. Though it does make it nicer when reading on a mobile device :D

That's correct, but if everyone formats the same then the problem also disappears. My main issue with people manually formatting is that they tend to use spaces :P

[2017-12-21 06:53] Mrkvozrout commented on #158
Do you mean spaces vs tabs? If you are not writing a makefile, spaces are the way to go :D Tabs mostly break indentation and formatting in general, because they are **not handled uniquely** by IDEs, text editors, web pages... one shows them as 2 spaces the othe as 4 spaces and the othe as 8 spaces. Moreover if someone tabs get mixed with spaces one programmer sees it ok but other other has it brok

[2017-12-21 09:14] jonnieZG commented on #154
Possible causes also discussed in issue #170 .

[2017-12-21 10:49] Ralim commented on #158
I've only been in the software industry since ~2009.
I am well aware of the tabs vs spaces issue among people :D I was also basically laying bait to see where you stand on the issue.

Since this software is mostly developed in eclipse and other editors that tend to stick to the 4 spaces per tab rule it makes it easy. Also if every file is only indented using tabs than the actual value is of less i

[2017-12-21 12:26] Mrkvozrout commented on #158
Yeah I am aware that this is one of "those issues" :D

Well I still use the TAB and SHIFT+TAB to indent code, but I have the IDE configured to use spaces so it still is 1 TAB = 1 indent, but uses spaces so it is rendered the same way everywhere. And you really do not look at what whitespace is used, just want to have the indentation right.

But in the end, this is your repository so I should (and

[2017-12-21 12:44] Ralim commented on #158
Haha yeah,
So long as the indentation looks good I generally don't overly care, though I always ensure tab = 4 spaces since it seems to be the most common across the IDE's I use.

Honestly, so long as people roughly match whats nearby I dont stress *too* much.
Though I'm going to see about setting up a nice formatter :)

[2017-12-22 18:51] matmemo commented on #168
I had a similar feeling as ulab when I did the german translation. In english it's kind of ok for me because it feels quite natural in a technical context if you've done some programming. But translated to german it really get's awkward. The English letters feel out of place and the german equivalent W/F isn't used in devices I know of and I doubt anybody would understand these letters at first gl

[2017-12-23 11:33] Mrkvozrout commented on #168
@matmemo I think that is really good solution. In my czech translation I bet on when users don't not know what the values are, they wait (or stare in confusion :D) until the description shows and they can read what thhe options mean.

What do you think about the ✓✗ chars?

[2017-12-23 17:32] Rockman18 commented on #168
I've pushed a pull request #177 proposing a checkbox instead of T/F or Y/N

[2017-12-24 11:26] Ralim commented on #167
This was caused by a firmware bug that I made ages ago, and we just finally cross that address range in code size. The next version of the firmware will completely fix this for you :) However you will need to re-generate your bootup logo file sadly :/

[2017-12-24 11:26] #159 closed

[2017-12-24 11:49] manevich commented on #167
Thanks for looking into this.
If I understand correctly, I have damaged firmware by flashing logo hex file?
Nothing weird happened so far and iron is completely functional, but I still going to re-flash firmware to be sure.

[2017-12-24 11:56] Ralim commented on #167
Yeah, it seems to overwrite the font table at the moment. Nothing overly detrimental (and there are some hardware protections in the unit so don't panic). But probably the best idea until I can push out at the least a new alpha.

[2017-12-25 15:44] riccardopittini commented on #155
No one has any suggestion? :)

[2017-12-25 23:40] chargerdude70 commented on #85
I replaced the mosfet and all is well with received defective  unit.... Thanks for the guidance 👍

[2017-12-26 00:20] Ralim commented on #155
Hey,
Sorry I missed this.
If you change it to `ACCELDEBUG 1` that should be all that is required to print out the acceleration values to the LCD screen. You want to look in the code at `startMOVTask` as it processes all the acceleration values etc.

The logic here is that normally the UI and the acceleration data is handled seperately, and since they share an I2C bus we have to be careful to ensur

[2017-12-26 00:38] Ralim commented on #85
Awesome :)

[2017-12-27 12:02] SilverSho0t commented on #168
I think ✓✗ characters are a very good solution. It will simplify the menu.

[2017-12-27 12:39] SilverSho0t opened #180 "Calibration issue"
Hello I have a little problem with your software [else I really love it ;)], when I install the software the temperature displayed is 28°C while my room temp. is 21-22°C, so I do a calibration but after it show me 18°C, so I have a question.
Can you add, when we select calibration, a menu where we select the current room temperature to do a good calibration ?

Thanks in advance & thanks a lot for

[2017-12-27 14:20] Ralim commented on #180
The unit uses the temperature sensor in the handle for the calibration offset.
Can I ask if the unit had been in your hand or in use when you performed the offset?

Basically, there is a small temperature sensor (I think at TMP36 series) in the handle to allow for cold junction temperature offset during use. In calibration the unit samples an average of readings from this unit and compares this wi

[2017-12-29 03:52] Ralim commented on #180
The sensor in the handle is +-0.1C from the factory. Almost certainly its measuring correctly.
The linear approximation I'm using for the tip measurement is based on operating temperatures, so I would not be overly surprised if its out by a few C at the cold end (ie not heated). Can you check the temperature accuracy of your unit when the tip is heated?

On my unit its cold temperature sense is ou

[2017-12-30 12:18] MichMich commented on #168
My first though would be ✓✗as well.

[2017-12-30 13:30] wortex1979 commented on #168
i think ✓✗  characters is very good

[2017-12-30 13:52] Rockman18 commented on #168
Pull Request #177 add a checkbox intead of True/False. This PR has been merged in master last week but not compiled/released yet. The checkboxes look like that : ![checkbox_off](https://user-images.githubusercontent.com/1739183/34320837-75b47c76-e802-11e7-9738-3fa246a68984.png) ![checkbox_on](https://user-images.githubusercontent.com/1739183/34323273-8dcf3b4a-e841-11e7-8397-7bd0e82da1cd.png)

I've

[2017-12-30 14:39] SilverSho0t commented on #180
I have no more calibration problems with the update posted by @Rockman18 here #168.
Thanks anyway for your help.

[2017-12-30 14:39] #180 closed

[2017-12-30 15:01] SilverSho0t commented on #168
Very nice @Rockman18 much more understandable & user friendly ;)

[2017-12-30 15:50] MichMich commented on #168
Look much better than the T/F. Awesome. You might want to add a bit of margin at the bottom so that it is better aligned to the inter of the screen.

[2017-12-30 23:28] Ralim commented on #167
This is fixed in 2.02 :)

[2017-12-30 23:29] Ralim commented on #148
Thanks @matmemo for this :)

[2017-12-30 23:29] #148 closed

[2017-12-30 23:30] #150 closed

[2017-12-30 23:31] Ralim commented on #90
@thanks4opensource
@dogtopus
Closing this as there is now a Makefile in the repository (and a bash script to run all the builds at once)

[2017-12-30 23:31] #90 closed

[2017-12-31 17:56] jonnieZG commented on #154
Works fine now! May I know what was causing the problem?

[2017-12-31 23:24] Apollomark opened #181 "Detailed solder screen not working"
The detailed screen whilst soldering doesn't seem to work on my iron, works on idle though (version 2.01) Am I doing something wrong? Both values set to "T" to activate the detailed screens on both soldering and idle.

[2018-01-01 00:38] Ralim commented on #181
There currently isn't actually a designed screen for while you solder, just sleeping and idle at the moment.

What would you like to see while soldering and I'll make one :)

[2018-01-01 00:40] Ralim commented on #154
An error where I had miscalculated the memory location for the settings structure and it was overwriting some of the font table.

[2018-01-01 07:48] Apollomark commented on #181
Hello
I was expecting the battery voltage, tip temperature same as the idle screen when iron is cooling.
I think it's brilliant how you have improved and continue to improve the iron with continuous software updates.
Thanks
Mark.

On 1 Jan 2018, at 00:38, Ben V. Brown <notifications@github.com<mailto:notifications@github.com>> wrote:

There currently isn't actually a designed screen for while you

[2018-01-01 20:39] csdpm commented on #116
Indeed it does Ben. Mine seems to be holding temperature fine at Sleep temperature. I don't know if you want to wait for further confirmations before closing.

Many thanks.... and a Happy New Year to you.

[2018-01-02 01:10] Lenbok opened #182 "Include some example boot up logo files"
It would be nice if there were a few nice example boot up logo files that the lazy/unartistic among us could just directly flash :-).

[2018-01-02 19:35] Mrkvozrout commented on #168
@Rockman18 good work, you were faster :)

I offer my pull request #183 with updated checkboxes with discussed ✓✗ chars. I think it looks neater and even more understandable (as the X looks more descriptive then current empty chackbox).

What do you guys think? (see PR for photos)

[2018-01-02 23:27] #154 closed

[2018-01-02 23:28] #153 closed

[2018-01-02 23:35] jonnieZG commented on #152
Ok, the faster smooth scrolling is better now, but the letters now get torn in the middle. If you make a single shift by 2 instead of 1 px, and half the step time, I bet the tearing should significantly decrease.

[2018-01-02 23:39] Ralim commented on #152
Already testing that right now on my unit.
Will be pushing in next release :)

[2018-01-02 23:47] Ralim commented on #182
If anyone out there has any to donate I'm happy to add them to the repository.
Haven't really made any myself that I like :)

[2018-01-03 06:20] Mrkvozrout commented on #154
Updated czech translation with diacritics in #185. Works fine after the fix.

[2018-01-03 22:14] riccardopittini commented on #155
Hi Ben

Thanks for the reply. I already set ACCELDEBUG 1 (it was the first thing I did). My problem is that the values I read they look allover the place (they do not make sense at all or do not correspond to an angular position).

I added also lines like:
		lcd.print("x:");
		lcd.printNumber(avgx, 5);
In the MovTask so I can read the XYZ measurements on the display.
e.g. For the X values, I see t

[2018-01-05 01:13] JohnEdwa opened #187 "Always show temperature and keep display on in idle mode if the tip is still hot."
Right now if I shut the iron off and cancel out of the cooldown screen, it'll go back to the idle screen that doesn't show the tip temperature. Even if you have 'Detailed Idle Screen' toggled, it'll shortly shut the screen off even when the tip is still dangerously hot (190C in my case).

Id's suggest always disabling screen sleep if the tip is over 50C and implementing the tip temperature warning

[2018-01-05 01:53] JohnEdwa opened #188 "Splashscreen logo, wrong initial orientation & mirroring."
For the first second, the logo is always displayed in right handed orientation, no matter what setting or orientation the iron is. If it then notices it should be displayed the other way around, it mirrors it vertically (like it does for the idle screen) instead of rotating it properly.

[2018-01-05 02:33] JohnEdwa commented on #182
Nothing beats some good old [Chinglish from the marketing material](//img.banggood.com/images/upload/2015/12/552/1.jpg).

![splash_1](https://i.imgur.com/qMAIx2u.png)

![splash_2](https://i.imgur.com/vHbbTEr.png)

Sadly "After 10000 times Striking Test Still Steadfast" and "When You're Not Here, He's Waiting For you Quietly" are too long to fit properly ;(

[2018-01-05 14:27] jonnieZG opened #189 "Actual Sleep timeout is 1 minute longer than the set value"
Actual Sleep timeout is 1 minute longer than the set value. I.e. if the Sleep time is set to 1 minute, the device will go into sleep mode after 2 minutes of being still.

[2018-01-05 19:57] jorgempy commented on #145
So, i ordered a new tip, connected it and it had the same issue.

As @jonnieZG i took apart the device and found a pin of the TMP36GRTZ floating (maybe some shock during shipment). Resoldered and the Ts100 works!!.

Maybe an entry can be added to the wiki warning about this issue.

Thanks again @Ralim for your awesome firmware and @jonnieZG for figuring out this issue!

[2018-01-05 19:57] #145 closed

[2018-01-06 10:55] Journesaladbar opened #190 "Include option to have custom idle screen"
First off thank you so much for sharing your version of this firmware.
The first thing I did was work on custom boot-up logos inspired by retro games to use on my Ts100.
![pacman](https://user-images.githubusercontent.com/3686811/34638743-afd4ddb6-f297-11e7-83b2-99a5c2690134.png)
Now I played with multiple logos and would love support for a custom idle screen. Maybe add functionality for the logo

[2018-01-06 15:09] radek-senfeld commented on #11
Hooray! I was so afraid and in the meanwhile it worked so flawlessly!

DFU 3.43

[code]

**Note that /dev/sde might differ on your system. Use ```dmesg``` to find out.**

[code]

Voila!

Thank you so much! :-)

[2018-01-06 18:38] powercycle commented on #11
Would anyone be willing to explain why the script is not needed in some cases?  I'd love to understand the differences are between Arch Linux and Xubunu, as an example.  I realize this is off topic, so might be better discussed somewhere else.

[2018-01-07 22:34] Schattenbanane commented on #182
I spend some time creating something clean and vaguely "officially-looking".
![ts100_logo](https://user-images.githubusercontent.com/8728659/34654941-ffa2a0a0-f402-11e7-8b05-135da8e07426.png)
If somebody wants to use it they are welcome to do so.

[2018-01-08 05:15] wortex1979 commented on #182
schattenbanane very good logo

[2018-01-08 08:49] jonnieZG commented on #182
Here's mine. However, I'm not sure whether is it legal to use their logo in the custom software.

![logomini](https://user-images.githubusercontent.com/8830300/34663810-03435398-f459-11e7-8b38-006c97ee5e9e.png)

[2018-01-08 11:15] skygizmo opened #191 "t2100 2.15"
hello will this firmware work white v2.15?

thanks

[2018-01-08 11:27] Ralim commented on #191
As far as I am aware they all run the same hardware and it's just the outside plastic that changes.

You can easily try the firmware and if you have any issues let me know and I'll work on them :)

[2018-01-09 06:09] Ralim commented on #190
Good ideas!

Custom idle screens should definitely be an option to add in the next release :)
Should be able to pack them in with the bootup logo to save space. I will need to think on how to do this nicely in the creation tools though.

Gifs are a bit harder, just because it adds a lot more complexity to the system and requires storing a larger number of frames for the animation. So that might be

[2018-01-09 06:14] Ralim commented on #188
The first second delay is because of the startup time of the accelerometer, its output is unstable for when the unit is first powered up.
It should show up in left-handed orientation if you have it set to left-handed only (not auto) in the settings. That's a bug I'll fix.

Ah right, I'll fix the rotation issue soon too.

[2018-01-09 06:17] #114 closed

[2018-01-09 06:18] #167 closed

[2018-01-09 17:30] Mrkvozrout opened #194 "Wrong GUI with disconnected tip"
When I start with disconnected tip (or disconnect tip on idle screen), display blinks with TIP HOT warning and shows temperature of imutable 490°C.

- front button (soldering mode) - shows BAD TIP
- back button - shows idle screen with TIP DISCONNECTED

[2018-01-09 20:58] Mrkvozrout opened #198 "Intel HEX files vs DFU and logos"
Currently there is no way to remove existing logo. In #197 I added a `_clear_logo.hex` which clears logo data from `0x800F800` address including `AA55F00D` indicator bytes.

I wanted to make HEX files that modify only these 4 bytes, but it does not work for me:

- `_enable_logo.hex`
[code]

- `_disable_logo.hex`
[code]

This would allow to keep current logo in memory and just disable it. Later to

[2018-01-09 21:31] Ralim commented on #198
Hey,
The other thing with the files is that they must be over a certain length for it to accept them. This is why if you look at the logo files they repeat their contents, this is purely to bloat up the actual file size. Even though the DFU code seems to only program the flash once it just needs the bugger file size.

[2018-01-10 20:53] PeterFalken commented on #142
I think that it would be a good addition - it can make it safer if accidentally plugged in.

[2018-01-11 05:47] Chosaint opened #199 "Issues with heating"
When I press the button closest to the iron tip to heat up, the display shows for a second then it shuts off, restarts, and back at the main menu where I can press the two buttons for settings or heating. I have tried several different firmwares to no success. Anyone else have this issue?

[2018-01-11 06:47] Ralim commented on #199
Hi,
The first suspect when this occurs is the power supply that you are running the iron off, or a hardware problem.

What power supply are you using?

[2018-01-11 07:36] Chosaint commented on #199
was just coming back to update everyone, it was the crappy power supply that came with the TS100, I used the one that I use for my laptop and its working perfectly, same voltage rating as the crap one they sent, 19v

[2018-01-11 13:30] Mrkvozrout commented on #142
@PeterFalken You mean safer in case you have explicitly selected to autostart to sleep temperature? I ask because autostart is disabled for default.

[2018-01-11 17:38] PeterFalken commented on #142
Yes @Mrkvozrout.
Setting the autostart to sleep mode and having the sleep temperatura be lower than the active temperature would be an ideal safety measure. It allows the iron to warm up to the sleep temperature.

[2018-01-11 22:35] MartinMajewski commented on #11
I just updated from stock firmware (haven't noted the version, unfortunately, but the iron arrived today from banggood) to the latest Ralim firmware (V2.02 - English). This update was done using my MacBook Pro 2017, running macOS High Sierra 10.13.2, as well as a USB-C to USB A, Ethernet and HDMI hub without any issues.
Just followed the steps on the repositories' front site.

Thanks for the effor

[2018-01-12 12:23] dchoskingsage commented on #85
So i have been looking to do the same thing but after going to actually buy the replacement MOSFET from mouser i realized their shipping is insane it puts the cost to the point where its almost the cost for a brand new TS100..... I found a place that has cheaper delivery but i am not 100% certain i am looking at a compatible mosfet again as they dont have the one @Ralim suggested.

Could someone j

[2018-01-13 06:56] #199 closed

[2018-01-13 06:59] Ralim commented on #194
This is because of the settling time that is present on the temperature readings.
You will notice the temperature slowly rises up to out of bounds when you have a tip removed.
It would require a re-structure to the code to work around this, and I haven't (yet) come up with a nice solution that doesn't delay the warning on a hot tip.

[2018-01-13 15:23] ksperr opened #200 "Firmware flashing - no space"
I'm tring to install the last firmware (spanish language) on my new ts100.
When i try to copy de .hex file to the usb drive that appears when i connect the ts100 to the computer it tells me i have no enough space (free space: 5,5kb total space: 8kb needed: 110kb).
When i connect the ts100 to my computer (windows 10) the lcs screen shows "CONFIG"  when i press the button near to the screen it shows

[2018-01-13 15:52] Rockman18 commented on #200
Unplug your ts100. Press the button near the top and then plug the USB cable. It should show something like "DFU..." on the screen. Now you are in update mode and you can copy the hex file.

[2018-01-13 18:23] ksperr commented on #200
Thanks! :)

[2018-01-13 18:47] #200 closed

[2018-01-15 12:46] Ralim commented on #85
That mosfet looks like it should work fine for the iron :)
RS Components are great with shipping usually (I use them a fair bit)

[2018-01-16 11:49] tbaumann opened #201 "Low threshold for gui_showTipTempWarning() is a little excessive"
The "warning tip hot" screen shows until the tip has reached < 30 celsius.
I think that is a little excessive.
This is below body temperature and on a hot day it may very well never cool down to < 30 because ambient temperatures are higher.

I would say <= 40 is a reasonable threshold. 40 Celsius is safe and not even unpleasant to touch.

According to this source even higher temperatures would mak

[2018-01-16 13:26] Firebie commented on #201
Agree, in my country summer temperature is over 30 all the time.

[2018-01-16 14:02] tbaumann commented on #201
Aligning the warning with the blink threshold of 50 degrees doesn't even sound unreasonable. 50 degrees is like slightly hot tap water.

[2018-01-16 14:22] jonnieZG commented on #201
I don't want to hijack this topic and make it off-topic ;), but @tbaumann, 50°C is the highest temperature of an object that an average adult can hold with bare hands, without burning them.

[2018-01-17 13:46] JohnEdwa commented on #201
@jonnieZG @tbaumann You'll develop a burn in around six seconds if you hold on to an object that's at 51C:

[- Wikipedia](https://en.wikipedia.org/wiki/Thermal_burn#Factors)

If we could go for two temperatures, over 70C should blink with the "TIP HOT" warning, and under that, display "Tip warm" until it hits 40C and goes back to idle.

[2018-01-17 13:51] tbaumann commented on #201
:+1: except that there are already two thresholds. One for blink and one for hot. Let's just change them to sensible values.
The blink threshold is right now 50 Celsius. I would say up that to 70 Celsius because that is where it hurts. Extra warning makes sense. (Only does that if the setting is set to on)
And cut the 'tip hot' message at 50 Celsius.

Nobody needs a warm warning IMHO.

[2018-01-17 13:52] JohnEdwa commented on #85
@dchoskingsage If you have a local [Element 14/Farnell](http://farnell.com/) distributor, you can order parts for pickup without any delivery charges.

[2018-01-18 21:08] edmanning555 opened #202 "Menu locks up - whole device is unresponsive after a couple of seconds."
As above - device stops responding after a few seconds, after a while the screen flashes and it works again for couple of seconds. Rinse and repeat!

I've tried using different firmware with the TS100 and they work fine. Is there anything I can do to help diagnose this issue?

[2018-01-18 21:18] Ralim commented on #202
Hi,
Can you provide any further information to try and diagnose this?
Is there any particular menu prompt it happens on?
Does it happen when in the soldering menu?
Does it happen on the idle screen?

Can you try an few times and note when it happens?

Sadly I can't diagnose without more information :)

[2018-01-18 21:41] edmanning555 commented on #202
To answer your questions:

It happens in any instance regardless of menu, buttons pressed, or whether it is connected via USB or DC power brick, or any other state as far as I can tell.

It happens every time, there is not a single instance where the device functions correctly for an extended period of time.

[2018-01-19 20:25] freeman0869 commented on #202
So did the same thing for me last night, Bricked my TS100 after upgrading with .hex file...no response what ever you do, after you plug power or usb wire back in, it works for 2 seconds and no response after that for at least a minute...total freeze of menu. The upload went fine and I did get .RDY after updating but no response from TS100 any more !

[2018-01-19 23:13] Ralim commented on #202
Can you please specify which firmware files (language and version) that are having these issues?

In the mean time you can just use DFU mode to roll back to the previous version for now.

If you use a language different to English, can you please try the English one as well to confirm if it is a language specific bug or general bug?

[2018-01-19 23:49] edmanning555 commented on #202
Hi,

I am currently using the previous version which is fine. I personally use
the English version and haven't tried any other. Would you like me to?

On Fri, 19 Jan 2018, 23:13 Ben V. Brown, <notifications@github.com> wrote:

[2018-01-20 01:00] freeman0869 commented on #202
I used TS100_EN.hex latest version and the older version but nothing worked now I did try another file I found here and totaly lost it..now it says ("BL FLASH"....CONT?...CHK CRC...FC6227E8...Done!) and that is By pressing the button closest to the tip...now I can not see it when pluged to the computer on Win 10...even when pressing the buttons. Any clue ?

[2018-01-21 11:14] apazga opened #203 "Can't update FW from Windows on new TS100"
Hi,

DFU 3.43, just received it from Banggood.
Windows 10

Tried to update it using v2.01 & v2.02, by dragging file using Explorer and also tried from PowerShell copying it manually. Result: ts100.err file.

Tried PowerShell because using file explorer appears this message and the system umounts the device before I can hit "Yes":
![screenshot 2018-01-20 21 40 01](https://user-images.githubusercont

[2018-01-21 11:47] Ralim commented on #203
Hi,
Make sure the file is downloaded to you computer first (not in an archive or first from Web browser).
Secondly when the first copy fails copy the file again.

I prefer to just download the hex to the downloads folder and then just click and drag it in Explorer.

Works fine for me on Windows 10 pro :/

[2018-01-21 13:20] apazga commented on #203
Hi @Ralim
Thanks for your reply!
Just re-tried again, ensured that the hex was right, but same happened.
Anyway, **I found the solution**... and it was... easier... I just MOVED (not copied) the file and it worked.

I repeated the process to confirm that strange thing so... I deleted it again, and retried, and I really don't know why, but file permissions and that dialog only appear if you copy th

[2018-01-21 13:20] #203 closed

[2018-01-22 22:12] MathisDELOGE commented on #202
I just received my ts100 and I have the same problem. I tried with all versions from 2.0 (those before do not even boot).
In any menu, whan i plug a power supply, the screen freeze after about 2 seconds.

[2018-01-22 22:54] freeman0869 commented on #202
I tried all the files here and nothing works the only ones that do work are the originals ! So if anybody having same problems flash either one and your TS100 will be back online !

[Version 2.12and 2.17.zip](https://github.com/Ralim/ts100/files/1653860/Version.2.12and.2.17.zip)

[2018-01-22 23:09] MathisDELOGE commented on #202
Thank you for the originals, I did not find them.
I just tried it, it works !

[2018-01-22 23:26] Ralim commented on #202
Can you please confirm where you have purchased your TS100 units from? And roughly when?

Are these all new units?

@freeman0869  you flashed the conversion firmware to replace your stock bootloader with the dfu-util model instead (Im assuming you took that firmware from the thread with the discussion on alternate bootloaders).

I have reconfirmed correct operation on all of the units I have acces

[2018-01-22 23:42] freeman0869 commented on #202
Thank you for the explanation of the  TS100...which I bought in December and received last week on the 16 of Jan.
 https://www.tmart.com/TS100-65W-Temperature-Adjustment-Built-in-STM32-Chip-Digital-OLED-Programmable-Soldering-Iron-Set-TS-I-Black_p341108.html...it was the cheapest combo for me.

 It is working with version 2.17 for now, and tried win 10, win 7, and linux Ubuntu to upload the same .

[2018-01-23 00:07] MathisDELOGE commented on #202
For me it's the same, i bought the ts 100 un december and received last
week so it's à new unit..
(Thanks for the nice explanation ;) )

Le mar. 23 janv. 2018 à 00:42, freeman0869 <notifications@github.com> a
écrit :

[2018-01-23 02:53] Ralim commented on #202
Yeah okay, this could be an issue with the newer units coming out.
I have also noticed a trend in some of the cheaper seller's units having more issues than some others.
Not sure why that is though :/

The firmware that came on your Iron is *not* this repository. This firmware has just eclipsed up to the numbers that the official firmware uses. [This](http://www.minidso.com/forum.php?mod=viewthrea

[2018-01-23 14:11] lnnocentius opened #204 "adjust bootup screen on time"
is there a way to increase the time that the bootup logo shows up when you plug in the ts100?

[2018-01-23 15:28] dchosking commented on #85
@Ralim thanks for the help, replaced the MOSFET and its 100% again. Super happy with this fix !

[2018-01-25 00:41] Boyeen commented on #202
If it's of any use, I just purchased a TS-100 ("updated", brown, with 2 tips and power supply) from Banggood... It came with v2.12 MiniDSO firmware installed.

I updated to the latest firmware (v2.02) from this site with zero problems. The iron works correctly and the menus all work smoothly. Perhaps there are  "clones" being sold under the MiniDSO brand...

BTW, awesome job Ralim. I LOVE the tiny

[2018-01-25 19:49] electroplated commented on #202
I have this exact same issue - bought the iron ob ebay from the link (https://www.ebay.co.uk/itm/12-24V-Mini-65W-Programmable-TS100-Electric-Solder-Soldering-Iron-LCD-Digital-UK/253273635474?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649) on the 17th Jan and it arrived today. Only the stock firmware works, every other version I've tried works fine for about 2-3 seconds after power is a

[2018-01-25 23:49] Ralim commented on #204
Not at the moment, but adding options regarding the bootup logo is planned for future :)

[2018-01-25 23:53] #191 closed

[2018-01-26 01:44] Ralim commented on #202
Hi,
Can you try this firmware on your units?
I have slowed down the I2C bus by 50%.
I'm guessing this is the most likely code to be locking up to cause the hanging issue.
[TS100.hex.zip](https://github.com/Ralim/ts100/files/1666308/TS100.hex.zip)

[2018-01-26 05:48] xPsIXx commented on #202
This might help a bit. I received a unit and the barrel plug connector broke first time i plugged it in. I claimed a second unit and when it arrived it would freeeze after a couple of seconds with Ralim's firmware, the first unit never did. I now had two units so i swapped the daughter board of the new TS100 with the old TS100 and it worked like a charm... Note the silkscreen quality.

It takes ab

[2018-01-26 13:24] freeman0869 commented on #202
You slowed down the software and it gives me 3 seconds more to surf the menu so 5 seconds in all until it freezes ! Sorry that software still doesn't work !

[2018-01-26 14:37] Ralim commented on #202
@xPsIXx thank you! That confirms my fears that there has been a design change to the hardware.

Any chance you can get some high resolution photos of the front and back of the board that doesnt work?
Also if you can get the part number on the same square chip if it's changed compared to the other one :)

I'm guessing there is a redesign and something has changed subtly.

Sorry about the new firmwa

[2018-01-26 14:39] jonnieZG commented on #202
I would say from the photo that they just changed the layout of the components, so the control pins must have changed. We just have to figure which ones.

[2018-01-26 17:40] electroplated commented on #202
Here's a quick video showing the behaviour with the firmware you posted up to try

https://www.youtube.com/watch?v=vCduzDBHiVQ&feature=youtu.be

As you can see it not only locks up but also starts heating up without updating the temperature readout which can lead to burnt fingers or worse perhaps?!

Here's a shot of the chip inside
<img width="539" alt="screen shot 2018-01-26 at 17 37 34" src="htt

[2018-01-27 12:55] xPsIXx commented on #202
freeman0869 indeed has the same board rev.
For completion sake, better quality pictures.

![p1270108](https://user-images.githubusercontent.com/7002012/35472126-a30471a4-0382-11e8-9f5e-48603b088448.JPG)
![p1270109](https://user-images.githubusercontent.com/7002012/35472102-5f963434-0382-11e8-8abc-6b48bfa39756.JPG)
![p1270107](https://user-images.githubusercontent.com/7002012/35472103-5fc3bada-0382

[2018-01-30 15:04] i0y0 commented on #11
Hi,
I just wanted to share that I upgrade my new ts100 (brown) from my phone Lg g4 with otg cable. From stock firmware v2.12 to Ralim firmware v2.02-English with ES file explorer without any problems. Thanks Ralim :)

[2018-02-02 01:24] xbeefpv commented on #202
Hi Ralim! i have the same problem, the TS100 freezes. My product is this:
https://www.getfpv.com/ts100-digital-oled-programmable-interface-mini-soldering-iron.html

Did you have a solution? Thanks!

[2018-02-02 02:17] Ralim commented on #202
Hi,
It appears that either there is a second revision of the mainboard out there or someone has changed something in these units.

As not all units are affected, I'm not sure if it's an old/new stock issue or some other manufacturer out there.

What would be ideal, is if someone who has one of these units could use a multimeter with a fine point tip and trace out the connections from the sides of

[2018-02-02 02:57] freeman0869 commented on #202
I've been using the Iron a lot and the accelerometer does not seem to work I set my time out at 600 and when I pick it up after not using it in between soldering it seems to not wake up even if I shake it a lot...so I constantly have to repress the button close to the tip to restart the iron !

[2018-02-02 03:28] Ralim commented on #202
Interesting, which firmware are you running ?

[2018-02-02 11:23] xbeefpv commented on #202
im trying with many, 2.0 2.2
but only the original firmware works fine.
Strange, but untill the oldest firmware not working. thanks for your reply @Ralim

[2018-02-02 15:35] SquiglyD commented on #202
Same issues here, purchased last week from getfpv, when I first received the iron I noticed it had firmware v2.18 (cant seem to find this anywhere) after trying yours I reverted back to V2.17. Just tested to see if the ACC is working and it appears not, torch will only come out of sleep mode by pressing the front button, motion has no effect.

[2018-02-03 01:08] electroplated commented on #202
Ralim - I've just tried to trace out the connections between the STM32 and the 16 pin connector on the opposite side of the board. I managed the first 8 pins ok but the second set were almost impossible to check reliably with the tools I have to hand right now - I have fine tips on my multimeter but its; still very tricky without an extra pair of hands!

As best I can tell, the first 8 connectors

[2018-02-03 05:18] 1upRacing commented on #202
Ralim - If you are unable to get this sorted out I can send you an iron that has the issue.  Just received an order of 5 that won't work with your firmware upgrade.

You're welcome to keep it afterwards to work on future upgrades.  Just get in touch if you need.

[2018-02-03 23:31] SilentException opened #205 ""Exponential" change of menu/options"
While adjusting (for example) shutdown time you can hold the tip button and the option will increase slowly in linear fashion. It would be nice if the value change would be faster and faster (up to a limit) the longer you're holding the button. This is quite common behavior in menu systems of this kind. Thanks!

[2018-02-04 17:53] RRAlex commented on #24
It'd be nice if there was a simple USB-C PD (20V) -> 5.5mm dongle adapter.
There are [some batteries](https://www.ravpower.com/26800mah-Type-C-external-battery-charger-black.html) now that support 30W output, which is probably enough for many jobs?

[2018-02-04 20:23] gordio commented on #24
It will be nice to put this port in TS100 - [USB-C Port](https://user-images.githubusercontent.com/141126/35781892-9b3f6060-09f8-11e8-8c14-b5493cda4c95.png), and use Power Bank like this (12V/1.5A) - [Tronsmart-Presto USB-C](https://www.aliexpress.com/item/Tronsmart-Presto-10400mAh-PBT12-Power-Bank-Quick-Charge-3-0-USB-Type-C-Powerbank-External-Portable/32833489732.html)

[2018-02-05 18:14] ChrisRay97 opened #206 "Putting the Iron in Standby Mode"
Maybe I'm doing something stupid but I can't seem to get the iron to go into standby mode by holding down both buttons like I could with the original firmware. I love the ability to use lipos and get a battery indication but when I'm at my home bench I like to keep my iron plugged in.

[2018-02-08 10:37] alexanderkozhinov commented on #202
Ralim, same to me. New device from Ali with 2.18, DFU: 3.43
Freeze after 2 seconds > 2.17 > ACC doesn't work.

[2018-02-08 17:23] sascha108 commented on #202
Hi Ralim,
same problem, ts100 from banggood with 2.17
pcb is same as freeman0869

[2018-02-08 22:31] Ralim commented on #202
@1upRacing Where in the world are you located?
I'm tempted to take you up on this offer, however, I would like to make up an I2C tester firmware first.

@sascha108 @alexanderkozhinov
Can you confirm if the accelerometer function works for you in the original firmware?

[2018-02-09 00:11] 1upRacing commented on #202
I'm in the US but do a lot of international shipping so it wouldn't be any inconvenience to send one of these out to you.

[2018-02-09 00:45] Ralim commented on #202
@1upRacing Would be wonderful if you could.
Just hit me up on ralim@ralimtek.com to discuss.

[2018-02-09 08:51] alexanderkozhinov commented on #202
@Ralim on 2.17 at the moment TS100 doesn't react on shake in sleep. I need to push button to wake it up.
I didn't tested if it will go to sleep even in use (in motion).

[2018-02-09 10:09] SilverSho0t commented on #202
They maybe removed the accelerometer on new ones.

[2018-02-09 10:46] Ralim commented on #202
I don't think so, there is still an ic on the board, but I'm wondering if the model has changed and I just need to write a new driver for it (hopefully).

They may have changed the pinout as well subtly so ill be checking it as well :)

Mostly just need time :(

[2018-02-09 17:15] sascha108 commented on #202
Hi Ralim,
there are no function with accelerometer @V2.17, TS100 go's to sleep no matter its moved or not.

[2018-02-13 07:27] kormyen commented on #202
@Ralim I just got a new TS100 from [Ali](https://www.aliexpress.com/item/1pc-Free-Shipping-Brand-New-1-Set-Mini-Portable-65W-Programmable-TS100-Electric-Soldering-Iron-Digital/32689219813.html) with the same 2-3 second freeze with your hex. Works fine on stock 2.12 and 2.17. Happy to help or test anything if you explain steps. Cheers!

[2018-02-13 07:44] Ralim commented on #202
Hi,
This definitely looks like a new batch of the units coming out.

@1upracing has offered to send an affected unit to me, so when I pick up that one I will aim to get this up and running asap after that.

Not sure on an exact date sadly, but will let you all know :)

Sorry for the delay :(

[2018-02-13 08:28] kormyen commented on #202
Sweet. Good luck! :D

[2018-02-15 20:49] undirezt commented on #202
Hello. I also ran into this problem. The differences are not only in the PCB, but also in the absence of the stub hole for the sting and the other side of the packaging.
But, I still have not figured out, is this change in the original design or began to produce a fake?

[2018-02-15 23:48] AcidBurns commented on #202
![img_20180216_000653](https://user-images.githubusercontent.com/3296309/36287089-0ef3d582-12b3-11e8-8cf2-9a4cd0fff253.jpg)
![img_20180216_000630](https://user-images.githubusercontent.com/3296309/36287090-0f0d9b3e-12b3-11e8-9eb1-e6b254a99719.jpg)
![img_20180216_000541](https://user-images.githubusercontent.com/3296309/36287091-0f257286-12b3-11e8-99de-6090c9aa08aa.jpg)
![img_20180216_000505](https

[2018-02-16 09:52] myhd opened #208 "mono app on Mac does not work"
Great project! I have one minor issue though. The logo editor page on the wiki says "the logo editor should run under mono on Mac, similar to Linux". I am on a Mac, and this happens:

I have downloaded the 370+MB Mac [installer](http://www.mono-project.com/download/stable/) for mono (MonoFramework-MDK-5.8.0.108.macos10.xamarin.universal.pkg), installed, and get a long error output when doing `mono

[2018-02-16 14:10] TomK commented on #202
Same issue here, using 2.02.
My brand new TS100 received a few days ago locks up after a few seconds. The same firmware works fine on an older TS100.

[2018-02-17 06:53] clowrey commented on #24
I would love to see USB C implementation directly on the next TS 100 - it is the elegant solution. Data + power all in one and many new laptops support this connector.

[2018-02-18 05:21] tcurdt opened #209 "lower sleep time"
I would love it if the minimum sleep time could be lower than 1 minute.
Given it's heating up so quickly I think 30s would be good.

And thanks for the awesome firmware.

[2018-02-18 07:22] Ralim commented on #209
Hi,
The sleep timer goes down to 10 seconds?
Just keep pushing the button and it wraps around to lower figures after 10 minutes :)

[2018-02-18 07:41] Ralim commented on #202
Hi,
As a quick check, could someone please run this firmware and tell me the two numbers it prints out on your non-working unit ?
[TS100.zip](https://github.com/Ralim/ts100/files/1734510/TS100.zip)

[2018-02-18 07:58] kormyen commented on #202
025 060

[2018-02-18 08:07] TomK commented on #202
same here - 025 060
![mvimg_20180218_080451](https://user-images.githubusercontent.com/299656/36349617-bf49b958-1482-11e8-9509-e4b1f6facf03.jpg)

[2018-02-18 09:30] Ralim commented on #202
Thank you both.
This confirms that the accelerometer in your units is definitely a totally different unit.
Can you also try this firmware please :) (Sorry about this)
This tries to read the device ID register from the 3 most common accelerometers with that device ID.

Hopefully one of these matches up, if not I will definitely have to wait for the unit in the post to me to arrive. If one lines up

[2018-02-18 09:54] TomK commented on #202
It's not a problem, your work is much appreciated!
000-013-015.  :)

![mvimg_20180218_095224](https://user-images.githubusercontent.com/299656/36350538-973daa50-1491-11e8-8b74-c78a04d1e9a4.jpg)

[2018-02-18 10:57] kormyen commented on #202
@Ralim
Happy to help. No worries at all to test further.
Same here with the 2nd zip.
000-013-015.

![20180218_235514](https://user-images.githubusercontent.com/836507/36351006-59599b60-1507-11e8-8846-0135b948978a.jpg)

[2018-02-18 11:01] AcidBurns commented on #202
for me it's also 000-013-015.
those chinese guys, simply changing hardware without notice 👎

[2018-02-18 11:36] Ralim commented on #202
Bummer, those dont match any of the common ones :(
I'll hopefully be back soon with more information when the next one turns up (Or if i find more likely candidates to test)

[2018-02-18 12:05] xavkno commented on #202
Wouldn't it be easier to change out the component for the one on the previous hardware version?

[2018-02-18 12:15] tcurdt commented on #209
Doh! Perfect.
I Guess it was too late when I was trying :)
Thanks. Sorry for the noise.

[2018-02-18 12:15] #209 closed

[2018-02-18 14:29] badm1n commented on #202
2nd zip. Bought from Banggood on 2018-01-29.
![ts100](https://user-images.githubusercontent.com/4036630/36352971-dbdb773c-14c8-11e8-9247-deaedd6315d9.jpg)

[2018-02-20 13:31] NegativCut opened #210 "Reset when working temp reached"
Hi, my TS100 resets when it reaches 260 C working temp. I have tried it at various temps with the same results. Power Supply is 19V @ 3.42A and I notice the LED on the PSU dims when the reset occurs.
Firmware is 2.17.
[CONFIG.TXT](https://github.com/Ralim/ts100/files/1740187/CONFIG.TXT)

[2018-02-20 14:09] NegativCut commented on #210
Stand down, changed to a Sony 19V 3.3A and the TS100 now works perfectly.

[2018-02-23 00:33] Ralim commented on #210
All good.
Almost all issues with resets are power supply related :)

[2018-02-23 00:33] #210 closed

[2018-02-23 00:34] Ralim commented on #208
Honestly you might be the first one to try this.
Looks like Mono just doesnt support this.
Does the python script work for you?

Also happy to convert any images you want if you post them here or email them to me.

[2018-02-23 08:47] myhd commented on #208
### Converting with mono graphical interface application on Mac / High Sierra

I found a solution: Starting mono on MacOS High Sierra in 32 bit mode. Like this:  `mono --arch=32 TS100.Logo.Editor.exe`

### Converting with python script

Ow! I did not realize / find the python script until your posting. The mono .exe is in the release files only, so that's where I looked. But I have Python 2.7.10 a

[2018-02-24 22:40] DragonHunter274 opened #211 "Power indicator missing"
after the update the power indicator was missing

[2018-02-25 03:25] Ralim commented on #202
Hi,
Sorry for the delay in response. I have been spending the last two days trying to figure out what make that damn IC is and haven't gotten very far. I have also reached out to miniware to see if they will help.

In the meantime, the below firmware will work but it disables sleep mode as it just doesnt talk to the accelerometer. This will still provide all the rest of the firmware for you hopefu

[2018-02-25 11:30] bubblefish12 commented on #202
Yes, it works

[2018-02-25 14:51] sascha108 commented on #202
It works fine - in original V2.17 its always go sleep after max sleeptime :(
I hope that you can identify the chip soon.

[2018-02-25 16:26] xbeefpv commented on #202
Works good! thanks Ralim! nice Work! i will be awaiting for the the complete functions

[2018-02-25 18:08] electroplated commented on #202
Also working fine for me - amazing job!

Can anyone else confirm if it's normal at any temperature for the tip of the iron to glow bright red?!
With the older non compatible firmware loaded my iron got that hot which I've never seen an iron do before, just repeating that aspect here for anyone who might inadvertantly try the older firmware on one of these irons.

[2018-02-25 18:29] TomK commented on #202
From what I gather, if it crashes while it's heating, it will continue to heat indefinitely until it burns out.

[2018-02-26 00:04] Ralim commented on #211
Hi,
Can you please provide more details?

[2018-02-26 00:14] Ralim commented on #24
The next generation (TS200) will use Quick Charge 2.0 over USB-C. Sadly it looks to be limited in power to a low power (~20W). Specs haven't been confirmed just yet though. Just looking at marketing material.

I'm personally going to stick to the TS100 for now. But will update here if I hear any more information.

[2018-02-26 09:12] adrien3d commented on #202
@electroplated @TomK Indeed, with the v2 and v2.02 firmwares (and I guess all previous firmwares too), the firmware bugged and heated the tip indefinitely, so it was a glow bright red.

[2018-02-26 15:28] badm1n commented on #202
I reconstructed the datamatrix from the new accelerometer chip and it reads **2701409731410788** but sadly I didn't get any matches from Google.

![accelerometer_datamatrix_1](https://user-images.githubusercontent.com/4036630/36678634-f16f1930-1b19-11e8-9ec0-d1d554e73dce.png)
![accelerometer_datamatrix_2](https://user-images.githubusercontent.com/4036630/36678637-f3720a62-1b19-11e8-88d3-90e93f59a6

[2018-02-26 16:01] sascha108 commented on #202
@badm1n,
i tried the same and also with shorter substrings from this but i found nothing. I do not think it is the chip name.

[2018-02-26 16:48] adrien3d commented on #202
If @AcidBurns could make a magnified Hi-Res pic of the Accelerometer, it could help, but I guess from the font of the text above the QR code that it is a Bosch or ST accelerometer (not sure at all).

[2018-02-26 20:10] fiechr opened #212 "Device stops heating sometimes(TM)"
This may be not software related, but I still wanted to ask if maybe someone has any idea.

Since updating to the latest version the iron sometimes stops heating and the blink screen (which I enabled) is showing. It's like pressing both buttons simultaneously, except I didn't. Sometimes this happens twice in a few minutes, and then again it's working fine for over an hour.

Maybe the power supply

[2018-02-27 11:49] Ralim commented on #202
The accelerometer has been identified as a Lis2dh from ST.
I'm currently writing the driver code now for this unit 😄
Just working on orientation detection and some more tests and then I should have another firmware to push out.

[2018-02-27 12:00] Trezona commented on #202
Ben does this mean that from now on you will have to have 2 separate versions of your software?

[2018-02-27 12:19] Ralim commented on #202
Nope,
Adding auto-detection on startup so should be transparent to the user.

Just give me a bit more time and Ill get something out for you :)

[2018-02-27 12:36] Trezona commented on #202
Ahh, ok, clever! :-)

[2018-02-27 19:19] xbeefpv commented on #202
Thanks RALIM!

[2018-02-27 22:26] JohnEdwa opened #213 "Adding an option to swap the buttons for increase & decrease temperature."
I've been using this iron for a few months now, and no matter how much I use it I *always* change the temperature the wrong direction. To my mind, 'Start Soldering', 'Boost' and 'Increase temperature' should be the same button, but right now that button decreases the temperature which throws me off completely.

Would it be possible to swap them, or add an option for it?
I'd also suggest swapping t

[2018-02-27 22:49] Ralim commented on #213
Hi,
The buttons do indeed swap depending on the orientation of the screen, I can happily change to the "+/-" instead of "<>".

The buttons are designed to be logical from the view of the temperature on the screen, which is slightly annoying as it means for right handed folks that decrease temperature is on the front button.
However, this makes more sense the hard coding the button positions and ha

[2018-02-27 22:50] Ralim commented on #212
It is quite possible that a power supply issue is causing the unit to reset back.
Also remember that long holding the rear (usb end) button will exit as well, so if you are using the boost function its possible to slip on your grip and hold the wrong button ?

At the moment there is no real good way to check, any suggestions ?

[2018-02-27 23:16] JohnEdwa commented on #213
Ah, I see where you are coming from.
You look at it as being "Left/Right" which changes depending on the orientation of the iron, while I see it as being "Up/Down" where up is always towards the tip.
Adding the +/- will most likely help me a lot already though, so let's start with that.

If you ever get so many settings implemented you are forced to add sub-menus to keep it sensible, you can add i

[2018-02-27 23:40] Ralim commented on #213
Yeah, to some its logical and to some its highly illogical 😀
Ill add the "+/-" to the next build :)

Heh, I'm really trying to avoid needing to have more menu options :/

[2018-02-27 23:40] Ralim commented on #205
Yes,
I agree that this would be a nice feature to have!

[2018-02-28 02:23] JohnEdwa commented on #213
They say pictures tell a thousand words, so you'll get my stand on this by taking a look at [the config page for the Pebble watchface I developed.](https://user-images.githubusercontent.com/5417183/36452150-0970ea22-169c-11e8-87d6-d36125b380ff.png) (There can never be too much customization, as every user is unique)

As you've already hit the spot where you need to really think if a setting is 'wo

[2018-02-28 02:35] JohnEdwa commented on #24
Why use QC2 (which has a maximum output of 20W), when USB-PD could provide all the way up to a 100W. Guess they just thought there are more QC2 compatible chargers around?

[2018-02-28 02:46] Ralim commented on #24
Im guessing so? Havent really heard the reasoning, but 20W is just too little power for most things if you ask me. PD would be much nicer.

I dont have any links online im afraid :(

[2018-02-28 02:59] Ralim commented on #213
That's a nice UI 😄
I wish I had a smartwatch like the pebble :/

The big issue with going for multiple menus is that people get lost because of the tiny screen, and with multiple languages its a pain to have enough room for everything to fit neatly.
(Though I'm totally open to ideas from people!!)

I have been tossing up going to a two step menu, with common ones showing up and just hiding others

[2018-02-28 16:10] JohnEdwa opened #214 "Discussion about redesigning the settings menu."
Continuing the discussion from #213 in its own issue: grouping settings items into submenus to allow for more options without having to scroll through them all.

----

-Ralim

So, here's a mockup of my idea: (it loops once to show the long-press exit)

![ts100_menu_mockup_1](https://user-images.githubusercontent.com/5417183/36797842-adc6338c-1cb1-11e8-8b11-581e27594b69.gif)

Mark menu headers with

[2018-02-28 23:31] magyarl89 commented on #202
The same issue here!
Ordered on [Gearbest](https://www.gearbest.com/boards-shields/pp_266258.html), on 5th of Febr.
Your hotfix without accelerometer works great!
We are looking forward for the update, keep on that great work! Thanks very much!

[2018-03-01 06:10] assasinmaxy commented on #202
@Ralim Hello! I'm from Russia and I also received such a copy of the soldering iron. I'll be glad to help than I can.

[2018-03-01 09:35] jonnieZG opened #215 "Question: When there will be a new release?"
I am well aware of the issues with new hardware revision that is incompatible with the motion sensor, but when do you plan to make a new release? At least for the original hardware revision?

It's been 2 months since v2.02...

[2018-03-01 11:13] Ralim commented on #215
Currently working on the new hardware support as my focus :/
I was away on holidays for part of the last period of time as well.

It will be the same firmware for both hardware versions etc, they will all support the same stuff, work the same etc. (Not splitting the code base).
There are currently 5 issues that I would like to fix in 2.02 that I just havent had time to really look into properly, a

[2018-03-01 11:17] Ralim commented on #202
Okay,
*Hopefully*, this version should work, but naturally whenever I push firmware someone always finds a bug.
I've tried to setup the sensitivity to be fairly similar to the old hardware so should be okay.
[TS100.zip](https://github.com/Ralim/ts100/files/1770925/TS100.zip)

Would love feedback on sensitivity etc :)

[2018-03-01 12:08] Ralim commented on #189
Hi,
Yes this is still on the todo list, I have a rough workaround implemented, but its taking time to test *every* time related bit of code on the unit. This should be fixed in any further releases though, as I havent found any issues in a fair while now.

I stopped pushing out as many alpha releases as its alot more upkeep to track.
If you wish I can push an alpha for this one tomorrow

[2018-03-01 12:35] assasinmaxy commented on #202
@Ralim Quite sensitive happened. But at the sensitivity level 1, the soldering iron has problems with falling asleep. For some strange reason, the time to go to sleep can exceed the set time. Instead of 30 seconds, I measured in order: 47, 60, 67, 78 (here I did a reboot), for 180 seconds and did not fall asleep, I ported it and for 120 seconds he did not fall asleep again. I reloaded the solderin

[2018-03-01 12:47] assasinmaxy commented on #202
@Ralim Does the position in space affect the readings? The fact is that when I was engaged in the module MPU6050 (gyroscope + accelerometer + thermometer), the readings of the Z axis accelerometer in the horizontal position could vary from -180 degrees to +180 at rest. In general, I will conduct more experiments, approximately to real conditions and record a video.

[2018-03-01 13:34] assasinmaxy commented on #202
Here is link with video [https://yadi.sk/i/Vn-EDRtG3SuSZK](url)

[2018-03-01 15:42] boklubre commented on #202
I have a problem with the newest Firmware.
Wake up with shaking works but the orietation of the Screen changed (fliped 180°).

[2018-03-01 16:33] SquiglyD commented on #202
Big thumbs up from my side, it goes to sleep when left alone and wakes when picked up, thanks @Ralim for all the efforts as always!!

[2018-03-01 19:14] simicblu commented on #202
@Ralim you sir are a god, I've just received my TS100 (from ebay generic seller), and it is one of the newer models. I can not tell you how grateful I'm because you made the firmware in the first place, but I'm even more grateful to you and all other people that helped you diagnose and resolve the problem.

Once more I just wanted to give you all an enormous thank you!

P.S. I've uploaded some fir

[2018-03-01 21:12] Adrian-at-CrimsonAuzre commented on #24
@qoobaa Does that Ali board automatically try to pull the max voltage from USB-PD devices? I'm thinking about getting one and a DC5525 to make my own USB C adapter.

[2018-03-01 21:26] qoobaa commented on #24
@Adrian-at-CrimsonAuzre it does not. It requires to push the button several times after connecting, sometimes it doesn't allow to choose the highest profile (randomly). I gave it up and ordered PD Buddy from Tindie - it works perfectly, but it's quite pricey compared to the Ali board. No idea about passing the data lines (I'd bet it does not pass anything).

[2018-03-01 21:56] freeman0869 commented on #202
Wow that's the good one @Ralim works a charm, everything is OK from my part nothing to complain !
Thanks a lot, very appreciated !!!!

[2018-03-01 23:11] Ralim commented on #202
Thanks for all your comments!
@boklubre the screen will change orientation automatically depending on how you hold it in your hand, this can be disabled in settings.

@assasinmaxy the timing issue is known, and I'm working on a fix for that now which is just being tested a but more. Thank you for the feedback on the sensitivity, I'm still tweaking it, just the two units respond differently so need

[2018-03-01 23:14] Adrian-at-CrimsonAuzre commented on #24
Might end up getting one of those or making my own.
If I can cram the circuitry into a small enough board I'd probably replace the 5.5mm plug with a daughter board.

[2018-03-02 01:20] xbeefpv commented on #202
Ralim, your work it's awesome! all of features on my TS100 it's now WORK!

thanks very much!!

[2018-03-02 05:05] assasinmaxy commented on #202
@Ralim спасибо, ваша работа высоко ценится здесь! Очевидно что скоро данная тема станет очень популярной.

[2018-03-03 01:41] Ralim commented on #208
Hi, thank you for the investigation.
Any chance you feel like adding your notes to the Wiki (anyone can edit it basically).
That way the next person to come across knows whats up?

If not I can add notes, but easiest if you add them since you know how you would have liked for it to be written :)

[2018-03-03 01:48] Ralim commented on #214
I really like this suggestion.
It actually should be doable to implement without too many changes to the current code base, with just a few helper functions to be made up.

I would prefer something like this :

**Power Source**

**Motion & Sleep**
-Sleep Time
-Sleep Timeout
-Shutdown Timeout
-Motion Sensitivity

**Soldering** (Or 'Boost Settings', 'Boost Mode', 'Boost')
-Boost Mode Enabled
-Boost

[2018-03-03 01:49] Ralim commented on #202
Ill try and re-adjust the accelerometer sensitivity and then ill push out an alpha to let this be more known :)

[2018-03-03 04:43] #189 closed

[2018-03-03 04:43] #202 closed

[2018-03-03 04:57] Ralim commented on #202
This was closed automatically by the merge, please ping back when you have issues :)
Happy to re-open if we run into more issues.
The new alpha release includes all of these changes, and also fixes the timing issues and should make the sensitivity much more similar hopefully.

😄

[2018-03-03 04:57] Ralim commented on #215
Alpha's been pushed out.
Slowly working on the other issues as I test

[2018-03-03 04:58] Ralim commented on #187
This should be fixed in the form that it wont let the screen goto sleep etc.
I haven't added the tip display yet. Not sure the best easy way to do this without encoding extra graphics yet.

[2018-03-03 11:34] #168 closed

[2018-03-03 11:39] #110 closed

[2018-03-03 11:41] #102 closed

[2018-03-03 11:42] Ralim commented on #211
Can you please clarify if this is an issue with the battery indicator not showing up for you?
Or is there an issue with the power indication iron ?

[2018-03-04 21:09] JohnEdwa commented on #214
Here you go: ![submenu](https://user-images.githubusercontent.com/5417183/36950502-66cf4f30-1fff-11e8-8db3-3c20ebbc3759.png)
It's my artistic masterpiece that I carefully crafted in roughly 15 seconds.

Like I said myself, having the Power as a singular setting makes sense as well, and the Settings Style was kinda just an idea if it's easy to implement. The submenu system, if the controls are impl

[2018-03-04 21:22] JohnEdwa commented on #215
@Ralim
I'll add this here as it *kinda* relates, but wouldn't it make sense to add the version numbering to the .hex files as well to help keep track of the files?
I would tag this one as T100_203_RC1_EN.HEX as I personally like to use Release Candidate instead of Alpha (as it implies it's supposed to be ready, but maybe isn't yet), but something like T100_v203_A1_EN.HEX could work too.

[2018-03-06 19:07] #152 closed

[2018-03-06 19:09] #171 closed

[2018-03-07 01:05] Ralim commented on #215
@JohnEdwa
I'm open to changing the file names, however some TS100+OS combinations don't like it when you have a filename that's too long for 8.3 format when you write to the TS100 DFU bootloader, which is why I was (trying) to keep them shorter?

[2018-03-07 01:07] Ralim commented on #214
It work work as a good graphic until someone pipes up with a better one :)

Yeah I agree it would be much nicer to use than a single menu. I'm currently working on rough ideas for the implementation of this now :) (As I get time :| )

[2018-03-07 08:46] jonnieZG opened #222 "A single Multi-Lingual firmware"
Since we are already talking about broadening the setup menu, should we consider making a multi-lingual firmware, where the default language would be English, and a user could choose his favorite language from the Setup?

That would make distribution of compiled firmware much easier, since there would be just a single HEX file, instead one HEX for each language.

[2018-03-07 08:58] Ralim commented on #222
The big question for this will mostly be flash space, if after the new menu there is enough space to build all the languages in and we split up the font table to account for the overlapping Russian and Latin (I think?) sections then I'm happy to make it multi lingual. Another thing is that we still don't even have Korean and Chinese or japanese in the firmware yet either and they all need more fon

[2018-03-07 09:18] jonnieZG commented on #222
If the problem is the available memory for all the fonts, we could have several groups of firmwares (all of them would have a common English option):

* One for Latin-script languages
* One for Cyrillic languages
* One for Chinese, Japanese and Korean.

The other option might be, as you suggested, making a pre-compile script that would cleanup the Font.c from the unnecessary characters, but I have

[2018-03-07 09:26] jonnieZG commented on #214
Guys, what do you think of this structure?

Power and Economy
- Power Source
- Auto Start
- Sleep Temperature
- Sleep Timeout
- Motion Sensitivity
- Auto Start

Display and Units
- Temperature Unit
- Display Orientation
- Detailed Idle Screen
- Detailed Solder Screen
- Cooldown Blink
- Scrolling Speed

Soldering and Controls
- Boost Mode
- Boost Temperature
- Button Orientation

Advanced and Reset

[2018-03-08 08:07] jonnieZG commented on #222
Here's my rough idea for making all of the languages supported in the same FW version:

1. Instead of using a fixed pointer that is defined by #defined language, each pointer would be an index of pointers, with a language ID as a key.
2. Instead of the current Translation.c we will have a RawTranslation.c with all of the language strings loaded in the same time.
3. All the strings that appear for

[2018-03-08 12:18] DragonHunter274 commented on #211
it is the power indocator that shows the power the iron is using in a bar like in previous versions instead of the chevrons

[2018-03-08 14:28] federck commented on #214
My proposal follows Ralim's one, but with shorter sub-menus name in perpective of translatisons and specific icon per item.
Here it is:

**Power Source** ![tuono](https://user-images.githubusercontent.com/33298498/37155053-2bc2a8ac-22e2-11e8-9a24-3931c6c4b11b.jpg) (or even noting)

**Soldering** ![saldatore](https://user-images.githubusercontent.com/33298498/37154979-eece8e84-22e1-11e8-8df9-6e1b25

[2018-03-08 20:06] tamasgal commented on #85
I had the very same problem. I contacted the producer support directly and they sent me a new one within two weeks. I plugged the new one in and it failed with the same error. I suspect that it might break related to the tip (I plugged in my old one).

I will replace the MOSFET and report back. Thanks so far!

Btw. here is a video demonstrating the problem: https://www.youtube.com/watch?v=z0skca3p

[2018-03-09 10:03] csdpm opened #223 "Display doesn't time out V2.03-alpha"
I'm surprised nobody else has posted this one... with V2.03-alpha installed (original h/w), the display doesn't time out (blank) when sitting idle for a while.

It behaved fine on the previous release, I've tried a factory reset but it doesn't make any difference.

Given the worries about OLED lifetime, the previous behavior would be helpful.

[2018-03-10 00:36] Ralim commented on #223
Thanks for spotting this.
It's hard to manually do coverage tests for all the features these days, which is partly why I push out the alphas as it's amazing how fast other people can find problems in your code tag you can't.

Someone else has already submitted a pull request to fix the typo, so I'll push out another alpha soon.

[2018-03-10 01:05] Ralim commented on #211
Hi,
The power bar from 1.x was removed in the 2.x series as it was poorly calibrated and didn't accurately reflect the power level going to the tip.

In the newest 2 alpha you can enable detailed soldering screens that will show the actual duty cycle that the tip pwm is implementing if you want.

Adding a power bar is a potential option, but it has been 6 months since it was removed with no one co

[2018-03-10 23:13] alexnif007 commented on #24
@Ralim IMHO, whatever the name of the technology is (PD or Quick Charge 2.0-3.0), everyone here wish to get possibility to make some smart battery pack, supporting higher voltage and currencies to output at least 12V with adding minimal additional external hardware for TS100. Not adding USB-Type C (it is useless, and will not give a required result). Here a man did something same with a few lines

[2018-03-11 01:46] JohnEdwa commented on #24
@alexnif007
You need the resistors in the datalines to be able to pull them to 3.3V for the QC identification (which I'm pretty sure the TS100 lacks), so you would at the least need to make a special cable for it.

[2018-03-11 02:10] JohnEdwa commented on #187
I'd just write the temperature where the 'start soldering' icon usually is until it got cool enough to be save (so... under 50C I guess).
Something like this:
![menu_temp](https://user-images.githubusercontent.com/5417183/37248731-e5634b12-24e1-11e8-9ecb-020b81e3123a.png)

Btw, do you have the icons, fonts and other resources available somewhere so I can start making better-looking mockups :P ?

[2018-03-11 02:12] Ralim commented on #24
@alexnif007
I wouldn't recommend anyone designing for QC 2/3 as its being strongly pushed out in favour of USB-PD which is available on USB-C. As well as USB-PD supporting higher voltages and higher power.

However all of these require some form of negotiation, either resistors(QC) or active messages(USB-PD).
For all of these you are going to need to make up a special cable of some kind to :

1. C

[2018-03-11 02:15] Ralim commented on #187
Yeah thats basically what im looking at doing now.

Not really, some of the icons are available in the issues that created them, for the ones I created i just draw them using a binary-> hex converter and time :)

[2018-03-11 06:07] JohnEdwa commented on #187
Oof, no kidding. When you try to convert them back to [XBitmaps](https://en.wikipedia.org/wiki/X_BitMap), this is your 'WarningBlock24': ![output](https://user-images.githubusercontent.com/5417183/37249605-613e0c20-24f3-11e8-9a31-9f8dc3425e97.png) Instead of left-to-right, you encode them vertically, split into two, that are mirrored and in the wrong order :P

Oh well, I got to hone my almost none

[2018-03-11 06:39] Ralim commented on #187
Yeah they are in the native format for the screen, which is odd if your not used to B&W screens.

Thank you :)

Do you want to add them using a pull request? If not I'll add them :)

Thanks for converting them back :)

Also there should now be a public branch that implements this (drawing the temp), I can compile a test firmware if you would like.

[2018-03-11 10:02] Ralim commented on #214
Hi,
I have pushed up the branch of my implementation of the layered menu (https://github.com/Ralim/ts100/tree/LayeredMenu).

This will require all translations to be updated, but curious to hear your thoughts before I merge this into mainline?

Here is a build (English)
[TS100.zip](https://github.com/Ralim/ts100/files/1800198/TS100.zip)

[2018-03-11 10:23] Maartenwut commented on #214
So much better than it has ever been, it's perfect!

[2018-03-11 14:28] alexnif007 commented on #24
@Ralim While the months pass - still on the market I see only QC chargers, so while here discussion continues already half a year - it started 17 Jul 2017, this half year already people could use it "on the road" with the pocket battery. The TS100 itself is - not serious - it's handle getting extremely hot in a few minutes, and it has no secure stop for a hand not to slide to the heating element,

[2018-03-11 15:30] federck commented on #214
Hi, I've observed that:
-Icons results somewhat distorted to me, should I redesign them taking into consideration something in particular?
-Descriptions of menu items seems to be redundant, would be better to take them off?
-Unluckily; long descriptions in sub-menu items interrupts before the end of the phrase, whereas, shorter descriptions take _an eternity_ to reappear after running off.
Neverth

[2018-03-11 15:50] JohnEdwa commented on #187
You can add them, it's faster that way :)

And a test build would be neat, but you really should release a new alpha ASAP to fix #223 especially as the old stable isn't compatible with the new accelerometer.

[2018-03-11 16:13] JohnEdwa commented on #214
They've been converted from 17x16 pixels to 16x16 by skipping the middle column of pixels, instead of the very first blank one for some reason:
![output](https://user-images.githubusercontent.com/5417183/37255596-28b60cea-2557-11e8-845f-1a97c5500a6b.png) -> ![output2](https://user-images.githubusercontent.com/5417183/37255601-39616530-2557-11e8-8cbe-d27b83ba02cc.png)

---

Adding examples of these

[2018-03-11 17:05] SmayK commented on #223
hello, small contribution on translation for French, here they are:
[code]

[2018-03-11 18:17] federck commented on #214
Here resized logos:
![37154976-ee622bd6-22e1-11e8-99d9-0f1afbfd16c3](https://user-images.githubusercontent.com/33298498/37256837-96cd81b4-2560-11e8-8d67-d6de6a2fd719.jpg) ![37154977-ee865b0a-22e1-11e8-982d-c979cf0d0d06](https://user-images.githubusercontent.com/33298498/37256839-96f29684-2560-11e8-849b-6fdda8083225.jpg) ![37154978-eeaa3ef8-22e1-11e8-82bb-28123ecb8223](https://user-images.githubuse

[2018-03-11 18:59] otinex opened #225 "Erratic Temperature Display while heating up"
The display of the temperature in the heating mode is somewhat erratic and "overshoots" by quite a bit.
See Video: [https://youtu.be/6x6O_vK5X-Y](https://youtu.be/6x6O_vK5X-Y)

[2018-03-12 01:33] Ralim commented on #225
Hi,
Can you please provide details on which tip you are using as well as your power supply?

[2018-03-12 05:38] Ralim commented on #214
@JohnEdwa

Indeed the icons were shrunk to 16x16, I just used software I had locally to perform the conversion, will update these shortly. I wasnt concerned massively over these as I figured they would probably be changed soon after I make a proper release as everyone seems to have their own ideas on icons :)

I'll look into the descriptions now, This code was recently re-written by others so I ha

[2018-03-12 05:41] Ralim commented on #187
@JohnEdwa I'm gong to try and fix up the #214 concerns and then push one out. 😄
Doesnt help that it seems most commenters are on the other half of the world, so I wake up to notifications :)

[2018-03-12 07:08] otinex commented on #225
Hello,
I use the 2.02 Version of the Firmware. As Tip I use the TS-I that came with it. As a power supply I use a 24 V 1.5 A SMPS.

[2018-03-12 12:53] jonnieZG commented on #222
I have some further improvements to the above idea, and I am willing to make them myself one of these days.

Instead of the RawTranslation.c we will have one **translation_*XX*.properties** for each language (XX being the language code). It will be a file with set key-value pairs, key being a code of each string. These files would be edited from a JavaScript application, and after saving, the appl

[2018-03-13 00:58] perillamint commented on #24
IMO, for this kind of application, USB-PD is more suitable then QC2 or 3(reverse engineered -- http://blog.deconinck.info/post/2017/08/09/Turning-a-Quick-Charge-3.0-charger-into-a-variable-voltage-power-supply). QC 2 or 3  only provide power up to 18 Watt, which doesn't enough for this kind of application.

In contrast, some popular USB-PD adapters like [Apple USB-PD power brick](https://www.apple

[2018-03-13 08:21] Ralim commented on #222
Hi,
We have about 15kb to play with for font data on the unit to leave room for the rest of the firmware etc, as we have 48k after the DFU bootloader, then less the program size, plus the 2kb consumed by the settings and boot up screen images (as these are page aligned on their own pages).

I'm all for having a binary searchable lookup section for the font data.

Also any scripts that need to be r

[2018-03-13 08:28] Ralim commented on #225
Ah okay,
I have found the same issue with my small tips for the iron as well. It's down to the current pid tuning which is done for the larger tips. This changed on the 1.x to 2.x transition as the pid was completely rewritten. Can you confirm the last firmware that worked for your tip so I can compare with the one I have here.

Also that supply is probably getting a bit pushed as the iron cam pul

[2018-03-13 08:36] alexnif007 commented on #24
@perillamint If talking about usage of 110V or 220V power adapter - there's no need to make it this complicated way, you can choose any even more powerful notebook charger, even 3.75A or 4A, just select needed barrel size from wide selection of chargers for some Dell, ASUS, Acer notebooks, it will be even cheaper. Here we are talking about usage of some POCKET BATTERY!

[2018-03-13 08:48] jonnieZG commented on #222
As much as for the strings editor goes, I thought of making a user-friendly(sh) GUI in HTML5 that would produce the "source" property or Json files for the fonts and the text strings. The pre-processor can be written in C++ so it could be called by make, to make the target C and H files.

15kB is a bit less than I expected, but we don't have the Korean, Chinese and Japanese yet, so it should be fi

[2018-03-13 09:25] phedders opened #227 "Thankyou! #metoo"
My TS100 arrived yesterday.

"Wow it really is tiny"
"Is that really all the firmware can do?"

So of course within 10 minutes your firmware was on my iron and it is fantastic.
Many thanks.

(Sorry for the bug noise, but maybe this should be a sticky!

[2018-03-13 09:52] Ralim commented on #24
@perillamint I agree that QC is not worth touching, and the growing market of the usb pd is worth working towards using as it works well for portable battery supplies as well as wall adapters that are available.

What would be nice is to create an add on that decodes the usb-c pd and communicates to the iron the available power so it can scale to the available power.

I agree @alexnif007 about thi

[2018-03-13 10:09] Ralim commented on #222
Ah, right I get what you mean now.
That is certainly a possibility, I'm currently in toying with seeing if I can make the c++ evaluation at compile time work to building the data at compile time so they can be constants in the firmware. Not sure if this will work, need to toy with it.

At this point, should we just stick with utf-8 encoding and then optimise the encoding later on when we run out o

[2018-03-13 10:19] jonnieZG commented on #222
If we stick with UTF-8, then we'd have to have an additional mapping between charCode and bitmapData, and that map might get quite big. So if we encode the chars as I described, we eliminate the need of having a translation map. Instead of that, we'll just have 8-16 bit char being mapped to a bitmap directly in order of appearance. We will just have to ensure that space ' ' and digits '0'-'9' alwa

[2018-03-13 11:25] SmayK opened #228 "Update Translation.c french"
Please edit this template and fill out all the information you can (where relevant). Failure to provide essential information can delay the response you receive.

* **I'm submitting a ...**
  - [ ] Bug report
  - [ ] Feature request
  - [x] Translation

he is here my french translation

https://github.com/SmayK/ts100/blob/master/Update%20Translation.c
[code]
here is my translation
[code]

[2018-03-13 11:45] otinex commented on #225
It must have been V 1.16 because I got the TS100 in July of 2017.

[2018-03-13 16:13] tamasgal commented on #85
So a quick update: I replaced the Q1 MOSFET on both of my TS100 and both are working fine again.

I made a video how to do the repair, if anyone is interested: https://www.youtube.com/watch?v=g-xXSJagz_A

And here is a list of replacement MOSFETs:

- HM4953A or CJQ4953 (used in TS100)
- SI4925DY (the one I used, with -6.9A)
- SI4925DDY (the same as above, but -5A)
- SH8J31 (-60V, -4.5A)
- IRF7328P

[2018-03-13 17:43] JohnEdwa commented on #24
I use a [tiny 19V @ 2.1A (40W) laptop charger](https://i.imgur.com/yCyUHFw.jpg?1), it has the perfect balance of size and power for me, and the lower power means the cable is thin and extremely flexible. Just slightly ruined by the gigantic EU plug (I've since swapped the travel adapter plug to a regular 0.5m cable), but there's not much I can do about that :)
If I really need to take it to the fi

[2018-03-14 05:47] Ralim commented on #222
@jonnieZG
I understand, was thinking UTF-8 even with the extra lookup might be less code to implement -> Faster release is mostly why :)

Looks like this could be compute able using the `constexpr` keyword in normal C++, but I haven't tested this in the microcontroller build as of yet. Planning to make a standalone c++ app to test this and then if that works back-port this to the firmware.

Altern

[2018-03-14 10:42] tamasgal commented on #85
I am quite confident that I found the reason why some TS100 are failing with shorted MOSFETs:
1. A faulty tip can short out the MOSFETs source and drain pins, which will induce a very high current through it.
2. The current seems to be mostly limited by the power supply, which is often a simple laptop charger with a current limit protection of about 2.1A, which is within the specifications of the

[2018-03-14 10:52] dchoskingsage commented on #85
@tamasgal I am fairly certain you are correct, i use a lipo which can supply upwards of 100amps with my TS100 and when i got the replacement it immediately failed after swapping out to the same tip that was on the previous iron that failed. I have replaced my Mosfet with an 8amp capable one now, so hopefully it is a bit more reliable now.

[2018-03-14 10:59] tamasgal commented on #85
Yep! Btw. the support sent me a mail a few hours ago (they found my video ;-) and I am now in contact with them. I don't have the schematics but I am sure they will include a current limiting component in the MOSFET circuit in the next version. At least I will try to convince them ;)

[2018-03-14 11:58] jonnieZG commented on #222
@Ralim, I didn't work with STM32, but according to my experience with Arduino, I believe that using ```constexpr``` alone is not enough. If you want some data to be stored in flash memory, you will also have to write a method that fetches that data back from the FLASH into the RAM, when you want to work with it (e.g. to draw a character bitmap). See [this](https://stackoverflow.com/questions/37513

[2018-03-14 12:05] #228 closed

[2018-03-14 12:07] #181 closed

[2018-03-14 12:27] Ralim commented on #188
This *should* be fixed in 2.03-rc2

[2018-03-14 12:27] #188 closed

[2018-03-14 12:37] Ralim commented on #187
@JohnEdwa Pushed a new release tester out, if no-one has any big issues ill make it a full release and then go from there.

[2018-03-14 17:05] bakerenko opened #230 "Please russian language. Also can I ask you about version with max info on-screen with mini-font?"
* **I'm submitting a ...**

  - [X] Feature request.
Can I ask you a version with max info on-screen. I always like, be-in-know how temperature is and what voltage on battery, time left to cooling mode (maybe graphical line in top as battery level on android). and maybe some quick tips about amperage drain? if possible, of course.
  - [X ] Translation russian as was in previous version.