[2017-05-14 23:05] jsobell opened #2 "Suggestions for improved button handling"
This system is so much better than the factory code that I installed it on the first day. Perhaps that's the geek in me, but then that's why I bought the TS100!

Re the button detection and usage...
I can see that using a timer based detection solves debounce issues nicely, but it makes changing values a bit hit-and-miss. When you try and change any value by a single increment it's a case of tryin

[2017-05-15 01:31] Ralim commented on #2
Hi,
I had wondered if this was an issue (After using the base software and this fork for a while, I guess I have found the right timing).

I will look into a better handling for the button presses, I did originally want to move them to be interrupt and clear based (similar to your suggestion).

I'll update when I have a chance to look at implementing this :)

[2017-05-15 13:22] Ralim commented on #2
Hi,
I have pushed up a pre-release firmware that reduces the time out on button presses.
Could you let me know if this is better or worse from your point of view?

[2017-05-17 13:45] Ralim commented on #2
As far as I know the latest release should improve buttons dramatically.
Closing this issue, for now, feel free to open it again if you want anything changed.

[2017-05-17 13:45] #2 closed

[2017-05-18 12:09] Ralim opened #3 "Improve soldering info screen"
Need to make it look better, and possibly display input voltage or similar as well.

[2017-05-18 12:09] Ralim opened #4 "Improve menu layout and documentation"

[2017-05-18 13:36] Ralim opened #5 "Add DC input calibration"
Some of the irons have really bad tolerance on the input resistor divider.
Adding a settings menu to allow for calibration of the multiplier factor to offset this.

[2017-05-18 13:58] #5 closed

[2017-05-21 06:41] iLLiac4 opened #6 "Left hand display does not work."
Hi. In your latest release flpdsp has no effect. So settings to flip display to left/right hand is not working it is always for right one.

[2017-05-21 07:29] Ralim commented on #6
Flip display is working well for me.
Hmm.
Can you confirm, that you have taken the following steps:

1. Enter the settings menu, cycle through and change FLPDISP to T (True)
2. Continue through the settings to the end of the menu, and you are returned to the idle display
3. Power cycle the Iron (unplug and re-plug)
4. Display should now be flipped

If it works then close the issue, otherwise let m

[2017-05-21 09:07] iLLiac4 commented on #6
Ok with those steps it works.

[2017-05-21 09:07] #6 closed

[2017-05-21 13:50] #3 closed

[2017-05-28 05:44] jsobell commented on #2
Finally got around to trying the latest release. That is excellent, and a much nicer and responsive input process.
I like the standby graphics, and the sensitivity option is an excellent idea, as my iron comes out of standby if I type on my keyboard on the same desk.  Does this settings also apply to the screen-saver?
Up/down arrows look good.

[2017-05-28 06:47] Ralim commented on #2
Glad to hear its better, It was actually fairly simple.
I will look at adding auto-repeat in later on, but for now, this is nicer to use.
The sensitivity affects everything because of the current setup.
The accelerometer has a built in function for detecting movement, so the sensitivity just sets the threshold for the built-in function. Let me know if you think these levels should be changed, as t

[2017-05-28 19:59] gidimiz opened #7 "Improving the code"
Hi.

Great job!
For ver. 1.08, please add the following that will shut down the TS100 after 30 min of inactivity in SLEEP to COOLING ( I reused your code .. )
Modes.c line: 158
`		//We need to check the timer for movement in case we need to goto COOLING
			if (systemSettings.movementEnabled)
				if (millis() - getLastMovement()

					if (millis() - getLastButtonPress()

						operatingMode = COOLI

[2017-05-29 01:07] #7 closed

[2017-05-29 01:15] #4 closed

[2017-05-29 01:15] Ralim commented on #7
Hi, let me know if you have any further suggestions. :)

[2017-06-09 11:16] Ralim opened #9 "Retune PID when running on a 5S battery"
There seems to be a slight overshoot when running on ~20V from a 5S LiPo.
This needs to be re-tuned soon.

[2017-06-13 01:35] OtterNas3 opened #10 "Adding a boost mode to 450C"
Just a short question if it would be possible to crank up the max temp to 450, only for a short period maybe 1 minute or 2 then fall back to 400 to not burn out the heater?

Appreciate your work here ;)

[2017-06-13 10:13] Ralim commented on #10
It should be possible technically. I just have no idea how the tip will handle the higher temperatures.
How would you propose activating such a feature? I'm more than happy to look at creating a test build so that you can test the higher temperatures on your iron, I just can't see and easy way to integrate this into the control scheme of the iron when you are soldering?

Thank you :)

[2017-06-13 11:24] Maartenwut commented on #10
I run mine on 450 a lot of the time, works without a problem! (Though the body will get a little warm after a while)

[2017-06-13 12:02] Ralim commented on #10
Awesome :)
I'm glad to hear the 450 degrees doesn't cause too much of an issue.
Any idea how best to have the boost mode added to the software?

[2017-06-14 02:17] OtterNas3 commented on #10
Hey Guys,

maybe it is possible to make a Double-Tap on the button next to the tip in Soldering mode, then it cranks up to 450 for set time (maybe even configurable in the settings menu)?

[2017-06-14 03:33] Ralim commented on #10
Hmm sounds like a possible way to handle it.
Unfortunately, I'm fairly tied up until end of next week so may not be able to add it until then :(
More than open to any other suggestions on how to handle this, though double tap probably makes the most sense. Would another option be to have it detect holding the front button and have it boost the temp while you hold the button?

Or we could even go f

[2017-06-14 03:46] OtterNas3 commented on #10
Isn't the Hold-Down of that button alrdy a function?

[2017-06-14 06:16] Ralim commented on #10
Not currently, pressing either button takes you to the temperature screen, and pressing both at once exits soldering. I could add a boost mode to long holding the button.

To compile, I use System Workbench from openstm32.org. You should be able to import the workspace folder into it. However, I do plan to document this better on the wiki... Though if you do get the code compiling I would apprecia

[2017-06-14 06:28] OtterNas3 commented on #10
I'll give it a try!

[2017-06-14 18:08] sgr1ff1n opened #11 "Upgrading on Linux and Mac"
Sorry I don't understand how to communicate on GitHub fully and if this is the wrong place for said comment the please advise me on how to move it elsewhere. i just wanted to say that i was able to update the firmware on my ts100 from the stock version to 1.08 found in this repository using my Mac. I simply followed the same steps however through Finder. I have a MacBook Pro (13-inch, Mid 2012) ru

[2017-06-16 00:59] balrog-kun commented on #11
Also I've just updated to 1.08 from Linux but it wasn't automatic.  Just copying the file to the automounted volume would cause the file to be renamed TS100.NOT and TS100.ERR if I tried it from command line.

So I disabled automounting with `$ gsettings set org.gnome.desktop.media-handling automount false` (or as indicated by googling "disable gnome automount"), then mounted the volume as _msdos_

[2017-06-17 05:50] Ralim commented on #11
Hi,
That's actually really good news to hear. Not sure where the best place would have been to raise this really. However, I have copied these notes over to a page on the wiki and added a link on the homepage to let users know. Sadly I currently do not have access to a Mac to test at the moment. I will test the Linux instructions when I get a chance though.

I'm going to mark this issue as closed,

[2017-06-30 14:31] Bucknalla opened #12 "Compiling Firmware for STM32"
Hi!

I'm new to developing for the STM32 and am interested in adding some features to this project. What tools do you recommend for compiling/developing with your library?

Thanks!

[2017-06-30 14:57] Ralim commented on #12
Currently, the project is compiled using [System Workbench for STM32](openstm32.org).
To get it compiling, simply fork the repository to your account, then clone to your computer. Then in System Workbench set the workspace folder to be the workspace folder in this repository. Then once you open System Workbench you can then Import existing projects into workspace and find this project.

The build

[2017-06-30 21:37] Bucknalla commented on #12
Brilliant! Thanks!

[2017-06-30 21:37] #12 closed

[2017-06-30 21:44] Bucknalla commented on #10
Just seen this - I'm also happy to help with a write-up!

[2017-07-03 15:57] Careless opened #13 "Slow down temperature reading"
Is it difficult to perhaps implement a setting that allows the update/refresh rate of the temperature reading on the main-screen to be slower to update?

Perhaps a High / Medium / Low setting? My father liked the way the iron was with its stock firmware, but now he thinks its broken because even when it hits 400 or 450 it's constantly fluctuating far too rapidly for his old eyes to make any sense

[2017-07-03 18:57] kokein opened #14 "Logo :)"
Hi :)
Any way to add logo option like in oryginal firmware?
Oryginal one want "fit", my pc says that there is not enough space.

[2017-07-04 13:29] Ralim commented on #14
Hi,
Currently, the firmware does not support a custom logo without you re-compiling the firmware yourself. As the implementation for the virtual USB flash drive does not fit on the microcontroller when using the open source toolchains.

Eventually, I plan to add a way to use an extra software tool to edit a logo onto the Iron, I just have not had the time (yet) to get around to this.

Don't try to

[2017-07-04 13:34] Ralim commented on #13
I think slowing down the screen update rate would make sense.
This should not be too hard to compliment, and I can look into this when I have time :)

Temperature rounding could be an interesting idea to add to the firmware, I'll think on that.

The iron is meant to remember the last used temperature normally. (When you exit the set temperature screen it saves the chosen temperature to flash). Is

[2017-07-04 13:42] kokein commented on #14
It's not necessary :)
But will be nice feature.
Thanks! BTW it's VERY nice firmware!

wt., 4 lip 2017 o 15:30 użytkownik Ben V. Brown <notifications@github.com>
napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-07-04 15:01] Careless commented on #13
I used the iron yesterday despite the temperature reading fluctuations and it went to 450 degrees or so, because that what I had it set to the previous time. So I see what you are referring to as per the temperature memory on restart.

Though the original firmware had a config text file that allowed the user to set the default temperature which I thought was nice.

Either way, I understand how tha

[2017-07-04 20:17] joric opened #15 "Add a game, maybe"
Managed to run Tetris on TS100 on top of official 2.17 firmware: https://github.com/joric/ts100tris/
Maybe add a game too, or an easter egg of some sort, there's plenty of space and CPU power.
Though it's pretty hard to play tetris using only two buttons - I haven't managed to make use of accelerometer - it seems there's only one working X axis in a standard API and it doesn't differentiate left a

[2017-07-05 08:46] gordio commented on #15
Better spend time on menu and configuration. For example "Favorite Temperature", or smart decrease t if iron pointing to up, and increase when down, I think.

[2017-07-05 09:39] Ralim commented on #15
Hi,
@joric You should be able to detect the tilt by reading the status from the Accelerometer in the iron.
Sadly I cannot build your firmware as I don't currently use the IAR software toolchain, however adding a game or something fun could be an interesting idea to expand on in the firmware.

@gordio Can you expand on the Favourite Temperature suggestion? The system currently remembers your last t

[2017-07-05 12:10] joric commented on #15
I mean, that's what I got from available API, using Update_X() (Update_Y/Update_Z are static for some reason):

http://i.imgur.com/G1vSI8d.gif

It can't even be used for adjusting temperature because it's apparently unsigned and the range is just one byte (if you point the tip up from the horizontal position it's precisely the same 0-255 range as if you point the tip down). I guess it needs to be

[2017-07-05 23:25] joric commented on #15
I'm thinking maybe it's possible to add lua/micropython to write user space apps. Considering it already has a built in flash drive for config and logo and can store random files it looks like a trivial task.

[2017-07-05 23:35] joric commented on #15
Though, maybe not. This MCU (STM32F103T8U6) is really micro - 20 Kb RAM, 64 Kb ROM, eLUA memory footprint is "at least 256 kbytes of flash memory, and at least 64 kbytes of RAM" and micropython is "80K of ARM Thumb2 code" and  "8KB is minimal amount to run simple scripts" so I guess we stuck with native C (or smaller interpreters).

[2017-07-06 10:41] Ralim commented on #15
Hi,
The other really big issue is that the virtual usb drive takes up the last chunks of flash, so I think there is actually only around 40kb or so of flash left after that, which the current code won't fit in on open source compilers. (I tried for a while to keep the usb config file in this version of the software, but ultimately cut it out to regain the flash space so the other features could fi

[2017-07-06 16:21] joric commented on #15
Apparently there's a [good chance](http://we.easyelectronics.ru/pteriks/realnyy-obem-pamyati-v-stm32.html) that it might have 128k onboard instead of 64k in specs. "My observations show that stm32f030f4 has 32 kilobytes instead of 16 kilobytes, stm32f103c8 has 128 kilobytes instead of 64, stm32f407ve has 1024 instead of 512, despite its Flash Size area contains value 512." I'll try to figure out m

[2017-07-07 00:18] Ralim commented on #15
That was true of some revisions of the chip. Some of the newer ones do not have the extra flash available or they just crash randomly if you try and use it. I feel it would be a serious issue if software assumed it was there and then crashed randomly for some percentage of users because they had an iron that didn't let that flash work?

[2017-07-07 09:32] Ralim commented on #13
Hi,
I've added a slowed down display mode in the newest release.
Do you think it would be worth adding a medium speed as well ?

[2017-07-07 10:08] Careless commented on #13
Hi!

I just gave it a test run. It is far better than it was before.

May I may another suggestion to improve it further?

- TMPUNIT -> Temperature Unit, C or F
- TMPDISP -> Slow, Medium, Fast
- TMPRND -> 1, 5, 10

I only ask this because after testing all the modes, I think medium speed (between current slow and fast) would be the best, and Rounded mode is like Fast mode but with large jumps in b

[2017-07-07 10:45] Ralim commented on #13
Hi,
Yeah, I think I agree with your idea after playing with it a bit more.
I'll add that in shortly (probably 10-20 mins, maybe sooner) after I finish the current addition.

Nowhere publicly to donate at the moment, though you can use this if it's easy for you:
https://paypal.me/RalimTek
I'll probably add something to the readme eventually, though I started this mostly because I liked the hardware

[2017-07-07 10:58] kokein commented on #13
Keep Up good work !! :)
I've also made a donation. cheers !!
Nick

pt., 7 lip 2017 o 12:45 użytkownik Ben V. Brown <notifications@github.com>
napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-07-07 11:35] Ralim commented on #13
Thank you 😁
I have pushed a new version 1.10 for you to try out and look at.
Let me know what you think of the options now, more than happy to keep tweaking :)

[2017-07-07 12:00] Ralim commented on #10
Hi, @OtterNas3
I've been thinking on this, would it be acceptable to add an option to just remap the button near the tip to a temporary 450C boost mode? This would make it so that only the other button could enter the temperature settings screen. I could build a firmware fork for testing this option if that could work.
Mostly just because I haven't had the time to re-code the code for button handl

[2017-07-07 12:20] Careless commented on #13
Version 1.10 is a winner!

I personally like the Slow Update Speed, and the Rounding to 10 degrees after trying it out. Seems accurate enough and slow enough to not feel like an epileptic seizure.

The setting descriptions are a nice touch. Perhaps putting the units in which the settings are shown in the description would be good. like SLPTME could say "SLEEP TIME (MINUTES)".

I'm sure it will be

[2017-07-07 12:25] joric commented on #15
Maybe a lightweight LUA then but I can't find an STM32 compatible LUA as a library that doesn't try to occupy all the possible space (eLUA is not a library).

[2017-07-07 12:25] Ralim commented on #13
Awesome!
I'm one of the weird people who like it to be really fast, so thank you for bringing this to my attention in the first place.

Good idea, I'll add in the units in the next version definitely.

I think if upgrading wasn't this fast most of this wouldn't have happened :P

I'll leave the issue open for a while, but close it when you're happy with it. Feel free to suggest any refinements to t

[2017-07-07 12:29] Careless commented on #13
The only thing I would change regarding the temperature display is the sensitivity, if it's even possible. for example, sometimes it shows 340*C and then drops to 280*C for one update cycle, and then goes up and down and up and down with a large variance.

I don't know if that's something you can tweak, so I didn't mention it. It would improve the readout accuracy, but I don't mind how it is now.

[2017-07-07 13:21] OtterNas3 commented on #10
@Ralim
That would be totally fine, as you normally dont change the temp that often.
I would make it like a Hold-For-Boost button, and if possible Double-Tap for Temp setting.
Tried alrdy to implement but, i am not rly a good coder, more a Hardware guy :)

Thanks for getting into it!

[2017-07-07 13:27] Ralim commented on #13
I've just pushed a small release update that improves the pre-PID filtering.
Could you give this a try to see how it improves the jumpiness for you?

I haven't seen it oscillating that large of an amount. How are you powering the Iron?
I could also have it force a screen update if the temperature swing is too large to avoid it looking as wildly swinging?

[2017-07-07 13:28] Careless commented on #13
I'm using a 18V and a 21V DC power supply. I'll test the new update shortly.

[2017-07-07 13:34] Ralim commented on #10
I'll make it a hold for boost (Its easiest) 😀
Yeah, no problem, I'm not amazing, but I get there eventually :)

[2017-07-07 13:39] Careless commented on #13
I just tested with Slow update speed and 1 Degree rounding, and it works amazing. Even better than 5 or 10 degree rounding on any other speed.

In fact, I'd go so far as to say it would be almost worthwhile to remove all the options and just this setting and not make it changeable because it works so well now, but you've done all the work now.

But this is accurate, perfect speed, and will be what

[2017-07-07 13:44] Ralim commented on #13
Awesome!
That's the best news 😆
I'll leave all the settings there for now, since I've added them, and some people might still like them.
I had been meaning to update the tuning for ages, and completely forgot earlier that it would probably help with this. Glad to hear its better though.

I'll close off this issue for now, though open it again if you ever have any issues :)

[2017-07-07 13:44] #13 closed

[2017-07-07 13:45] Ralim commented on #9
Closed in 1.10.1 patch

[2017-07-07 13:45] #9 closed

[2017-07-07 13:46] Ralim commented on #15
Hrm, maybe. I have no idea of what would fit in the remaining 32K of flash that is spare in this build.
I'm tempted to add a game or screensaver of some kind just for fun :)

[2017-07-07 20:08] joric commented on #15
Unfortunately I got no luck with LUA, PyMite (managed to build version 0.3 which is the smallest but couldn't allocate blocks for pm_init) and even [Pawn](http://we.easyelectronics.ru/STM32/prikruchivaem-skriptovyy-dvizhok-k-stm32.html), which has the smallest footprint, about 5kb overall, says `unable to allocate space for sections/blocks with a total estimated minimum size of 0x8623 bytes (max a

[2017-07-07 21:47] twikis opened #16 "One more when click when the settings help opens up to close it again"
Hi!

Thank you for this aaawesome firmware for this super cool iron! Just great, so excited to see even more features in the future!

Here's one little issue I found: Could you please add a second click when the help shows up, so that you don't have to a) change the value the help shows up for or b) jump to the next settings item when you didn't remember the value? It is pretty easy to get used to

[2017-07-08 03:09] Ralim commented on #16
Ah, yep.
Completely missed that issue last night. I'll get on it soon. 😄

[2017-07-08 04:52] joric commented on #15
Managed to run precompiled Pawn script from the USB drive. Memory requirements are really tight (Tools-Options-Messages-Show Build Messages-All):
Stock firmware:
[code]
Added Pawn with pure assembly core:
[code]
Commented out a couple of pages of menu handling code:
[code]
I guess with Pawn I'd have to replace the built in menu system with scripting.

[2017-07-08 06:18] Ralim commented on #15
I think if you're feeling like going that method it might be worth moving most of the control system over to pawn. Maybe just leave the hardware PID in C code ?

[2017-07-08 08:12] #16 closed

[2017-07-08 08:14] Ralim commented on #16
@twikis Just pinging you to let you know the newest release should fix this behaviour 😄

[2017-07-08 13:16] #10 closed

[2017-07-08 13:29] Ralim commented on #10
Let me know if you have any further ideas for this (aka feel free to re-open the issue if you have more ideas)

[2017-07-08 18:41] joric commented on #15
Yep. But there's a lot of problems (e.g. that USB drive handling code is pretty weird) and not so much space. And I'd really have to do a lot of experimenting and before rolling this feature out. Closing for now.

[2017-07-08 18:41] #15 closed

[2017-07-08 20:57] OtterNas3 commented on #10
Tested and it works beautyful!

[2017-07-09 09:01] stray77 opened #17 "Goes to sleep while soldering...motion detection true."
I've only used it a few times but it went to sleep in my hand a few times.  Motion detection was true and I was soldering a couple rows of pins (STM32F103 minimum dev board).  Perhaps add motion sensitivity levels? 0=off, 1=low, 2=med, 3=high?

Love the firmware, thanks for your efforts.

[2017-07-09 09:06] Ralim commented on #17
Hi,
There already is motion sensitivity levels, however I'm currently thinking of increasing the adjustment ranges. Can you test and make sure your on the default of high sensitivity?

[2017-07-09 10:58] stray77 commented on #17
Yes, it was on high (default) as I had just updated the firmware and I double checked just now.

[2017-07-09 12:51] twikis commented on #17
Actually I'm having the same issue, it's going to standby a bit to much and also I have to shake it sometimes to wake it up from standy (sensitivity is on H). Some more sensitivity would be great :+1:

[2017-07-09 13:24] Ralim commented on #17
Ah okay, I'll push up some next settings in the next day or two :)

[2017-07-09 19:11] twikis commented on #17
My TS100 is the SainSmart Pro32. Maybe there are differences between the models e.g. different components?

[2017-07-09 19:12] Maartenwut commented on #17
No.

On 9 July 2017 at 21:11, twikis <notifications@github.com> wrote:

[2017-07-09 20:45] jacobbjo opened #18 "Using Teracopy results in .ERR file"
Using Teracopy instead of the normal windows file copying will result in a error.

solution:
Just drag the .hex with your right mouse button and select "copy here"

[2017-07-10 09:38] Ralim commented on #17
@twikis All the irons are exactly the same!

@stray77 @twikis Can you please test the newly uploaded firmware?

[2017-07-10 09:39] Ralim commented on #18
Hi,
This is a known issue due to the way that terra copy and most other programs copy files.
Installing the firmware is only supported using the normal windows explorer.

This is not an issue in the firmware! This is an issue in the DFU bootloader that comes with the unit.

[2017-07-11 03:01] stray77 commented on #17
Went to sleep on me at 6, trying 8 next... (again doing a row of pins with very small adjustments from pin to pin, you know 1.54mm)

[2017-07-11 03:31] stray77 opened #19 "!Hot Iron! with no display bug"
I finished soldering some stuff and I'm holding a 320C iron.  I press both a+b (not in idle mode) and the display says cool (thermometer mode) and the temp starts falling...good so far.  I place the iron down.  After a few minutes the display goes out (I assumed the unit is off).  At this point I pick it up again and I press the button closest to the tip, no response from the display.  I assume it

[2017-07-11 03:39] stray77 opened #20 "Combine motion detection and sensitivity into one menu entry."
Just thought reducing the number of menu option without losing any functionality would be a welcome change.  0=off, 1-8 sensitivity

[2017-07-11 05:20] Ralim commented on #19
That is indeed a serious bug I'll need to check out.
Should get back to you on this within 12 hours with a fix if I can verify this.
Thank you for reporting

[2017-07-11 05:21] Ralim commented on #20
Hi,
This is a good idea, ill look into this for the next firmware version.

[2017-07-11 05:23] Ralim commented on #17
Damn, you must be moving a very small amount when doing the fine soldering.
The chip supports 127 levels for the motion detection feature, so there might need to be some adjustment for the mapping from the 1-8 levels to the values. A level of 7 is the same as the original firmware's value if I remember correctly.

[2017-07-11 08:22] #19 closed

[2017-07-11 23:29] twikis commented on #17
Solved it for me so far, although I wouldn't mind a level 10 if possible... :)

[2017-07-11 23:41] twikis opened #21 "Swapping buttons for cycling through settings/changing values"
So you're entering the settings with the button near the display and you're cycling through the settings with the button closer to the tip. I think it'd be more intuitive to use the button you're using to enter the settings to also cycle through the menu (it quite regularly happens to me that I'm changing the UVCO when actually want to go to the next setting...).

Any reason against remapping the

[2017-07-11 23:51] twikis opened #22 "Adding a function when long pressing the button that changes values in the settings"
I think it'd be great to have a function when you long press the value-change-button, e.g. changing the value backwards or having it do 2-3 steps a second while holding the button.

Also, how about immediately exiting the settings menu when holding down the "change settings" button for 1 second?

Any better ideas?

[2017-07-12 00:21] Ralim commented on #22
The only issue here is detecting long button presses hasn't been coded yet, and as of current I probably don't have the time to implement it just yet.

[2017-07-12 00:22] #20 closed

[2017-07-12 05:12] kokein commented on #21
Same here! +1 to make it reversed.
Nick

śr., 12.07.2017, 01:41 użytkownik twikis <notifications@github.com> napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-07-12 09:14] Ralim commented on #21
Yep, this is fairly easy to do.
Originally I picked this mapping so that each button corresponded with the side of the screen it would change (in right-handed mode).

Do you think it would be worth adding an option to flip the buttons, or just reverse them permanently?

[2017-07-12 09:20] Ralim commented on #17
At level 9 the accelerometer is at the most sensitive possible.
However, I think I have an idea of what might be causing this.

[2017-07-12 10:05] twikis commented on #21
Now that you say it it sounds logical, but I would have never come upon the idea that this is the reason....

I don't think a menu entry is necessary.

[2017-07-12 10:20] Ralim commented on #17
I have pushed up a beta test file for 1.13-alpha, could you please try this @twikis and see how it feels?

[2017-07-12 10:22] Ralim commented on #21
Yeah, it seemed logical at the time when trying to pick a fairly arbitrary layout really.
That said I'm not overly opposed to either layout :)
I've pushed up a new build of the 1.13 software that has these buttons flipped so you can try it out.

[2017-07-12 10:33] twikis commented on #22
Well, here is another idea:
The iron is missing a third button to switch between edit mode and cycle mode, right? When in the settings menu, how about turning the iron ~90 degrees (around the "screwdriver" axis) and then turning it back to enter "edit mode", changing values with button A (to decrease the selected value) and button B (to increase the value), then doing the same short "flip" movemen

[2017-07-12 10:55] Ralim commented on #22
I would rather not require the use of movement of the iron, as sometimes it's very hard for some users of the iron in some situations to move the iron in arbitrary movements just to change settings.

I will probably look into long press detection first as that's the easiest solution to implement for now, though the option is always available to come back to.

Exiting the menu by both buttons is lo

[2017-07-12 10:56] twikis commented on #21
Tried out the reversed buttons, took me 2 tries to get used to it and now it's good. Thanks!

[2017-07-12 10:59] gordio commented on #22
👍 Buttons are more intuitive.

[2017-07-12 12:24] #21 closed

[2017-07-12 13:16] Ralim commented on #14
Just as an update to this, I have a concept for a method of allowing you to set a custom bootup image via using a program to create a special .HEX file you drag into the bootloader after programming the firmware. I'll work on this more when I have more time to create the program. So no promise of this feature just yet, but its in the pipeline eventually.

[2017-07-12 13:40] kokein commented on #14
Ok :)
Till now it's SUPERB software ;)
Thanx!

śr., 12 lip 2017 o 15:16 użytkownik Ben V. Brown <notifications@github.com>
napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-07-13 09:38] Jigal007 opened #23 "i get a constant ERR code in the HEX file transfer"
i've got the newest TS100 with DFU 3:43
I have Windows 7, 64 bits and when I drag the .hex file (Flash Backup.hex) onto the USB drive, then
after rebooting it changes in ERR. then updating to version 1.27 (original hex-version) works OK.

What am I doing wrong?

[2017-07-13 10:23] Ralim commented on #23
Hi,
Please check the instructions on the main page, you need to use the latest .hex file from the releases page. That file is called do not flash as it's only for developers who are directly messing with the units insides.

[2017-07-13 11:55] Jigal007 commented on #23
Hi Ben,

Thank you for your response. I tried that file (version 1.13) also but I get "DONOTF~1.ERR" as a result.
I tried the same with (original) version 2.12 and then 2.17 (latest) and all went OK.
Maybe there are different versions of TS-100, I bought mine on April 28th this year.

[2017-07-13 11:59] Jigal007 commented on #23
I used the hex-file from the ZIP-file, is that OK?

[2017-07-13 12:05] Jigal007 commented on #23
Stupid mistake! I used the file from the ZIP-file, instead of the hex file on the release page. I use Firefox with NoScript and when I download that hex-file I get an xml-file instead (a0660986-6750-11e7-8be6-d8fab750c37b.xml). I downloaded it with good old Internet Explorer and all went OK.  Thanks for helping me.

[2017-07-13 14:02] Ralim commented on #23
No problem,
The releases system is a much neater way to handle software releases as old versions do not pollute the repository (and means you don't need to download the entire zip each time).
This is a bit different to some other software out there though, so it just takes a bit to get used to the first time you see it :)

[2017-07-13 14:02] #23 closed

[2017-07-13 20:07] daling opened #24 "USB-C?"
Hey, a few weeks ago I got a pretty awesome idea: would it be possible to hack this iron into having USB-C PD input?

The USB-C specs allows for 3A at 20V, or even 5A. This would mean that it would be able to power the iron from like any common available charger. Sadly I don't have the knowledge nor the skills to pull this off .

Wouldn't that be pretty awesome? :D

I did some research and fount o

[2017-07-14 00:50] stray77 commented on #17
I'm glad you found an issue with 1.12 because I found it as bad or worse than previous versions.  1.13 seems to be a big improvement as far as going to sleep in your hand,  I'll let you know if it goes to sleep on me again.  I did at one point manage to get a bunch of zero's and three's scrolling across the display with no way out except pulling the power.  I'm not sure how I cause it but thought

[2017-07-14 02:29] joric commented on #24
USB-C PD is not that intelligent. It simply reacts to data line levels:

| D+        | D-           | VCC  |
| ------------- |:-------------:| -----:|
| 0.6 | 0.0  | 5 |
| 3.3 | 0.6  |   9 |
| 0.6 | 3.3  |    12 |
| 3.3 | 3.3  |    20 |

So 20 volts is actually very simple to get, except there are very few Class B (20v capable) devices on the market, most of them are 12v max.

Sadly USB Type-C is

[2017-07-14 03:03] Ralim commented on #17
I'm glad it is much improved!
Please let me know if the issue comes up again, its something I have to remember to watch carefully as I add other features.

That issue shows up when code tries to print something to the screen that isn't in the font. I haven't seen it personally for a while, so this is troubling. If you find any steps to get near the problem please let me know :)

[2017-07-14 04:44] daling commented on #24
Wow, I expected it to be a lot less simple.

So if I understand this Quick Charge Adapter correctly, the only thing it is doing is giving different voltages over the data lines. That's something the STM32 should be able to do as well.

I can see that the USB-C connector is too big, but we can make USB-C to DC5525 + MicroUSB adapter cables. Or MicroUSB to DC5525 + MicroUSB for QC3.0 devices.

Here'

[2017-07-14 04:57] Ralim commented on #24
Hi,
You are talking about two different things here: QC2.0 chargers and USB-C.
QC2.0 uses the data pins to signal higher voltages by looking at what value is present on the data pins.
USB-C requires the device to identify itself and actually ask for the higher voltages.
Working with QC2.0 chargers can be done entirely without the microcontroller using any of the available intermediate boards or by

[2017-07-14 08:24] perillamint commented on #24
Someone did it using Hakko handle and custom controller board.

[http://hackaday.com/2017/02/24/60-watt-usb-soldering-iron-does-it-with-type-c/](http://hackaday.com/2017/02/24/60-watt-usb-soldering-iron-does-it-with-type-c/)

I think this setup also works for TS100 iron.

[2017-07-14 08:37] perillamint opened #25 "Alternative bootloader?"
Quite out of scope of this project, but as all we know, default DFU bootloader is quite unstable. It does not work "well" on Mac or Linux.

I think alternative bootloader which supports [standard DFU protocol](http://wiki.openmoko.org/wiki/USB_DFU_-_The_USB_Device_Firmware_Upgrade_standard) can help firmware development in Linux or other non-Windows systems.

Could we build alternative bootloader

[2017-07-14 08:50] Ralim commented on #25
Hi,
I'm completely open to building an alternate bootloader for the unit. I toyed with this before, however, most people seemed to prefer the MSD based bootloader for ease of use. Also considering the number of emails, messages and issues that are similar to #23 I don't overly want to advertise it too heavily.

It would certainly be possible to implement an alternate bootloader & then have a conve

[2017-07-14 08:55] Ralim commented on #24
I think @perillamint is on the right track.
Using an external converter board that also houses the USB-C connector would make the most sense given the already compact design of the ts100 iron. Would also allow you to power other devices with the same converter board.

[2017-07-15 14:58] twikis commented on #22
How about shaking? ... Alright I lost. :D

Thank you for creating the long press function! In my opinion it could be 50-100% faster though, as I can click the buttons a lot faster than what the long press function does... How about a menu entry to change the speed?
Also, when I push the buttons quickly it sometimes "misses" my clicks, almost as if the speed it limited to what can be reached via th

[2017-07-15 15:09] twikis opened #26 "A different approach to the boost mode"
I like the boost feature, however I find that always need to change the temperature when going up/down with the main temperature depending on what I'm soldering.

How about making the boost "additive", meaning when the iron is set to 270C you can temporarily add 50C to it? Or when you set the boost to 30°, it goes from 270C to 300C. In my opinion a range from 0C to 100C is enough (also frees up an

[2017-07-16 10:35] Ralim commented on #26
The vast majority of users rarely change their operating temperature on the iron. Most people use 360C for soldering normally, and then a higher temp such as 400C for the boost mode. As this provides a high level of flexibility for soldering almost all joints.

The boost mode was mostly added as a method of being able to pre-emptively boost the soldering irons temperature before soldering a joint

[2017-07-16 10:43] Ralim commented on #22
Motion control is just a pain unless the device is designed for it (ES120 style).

I can speed it up, however having the repeat too fast can be harder for users who do not use the iron/menu often, and they lose the *touch* of rapid buttons. The button speed is limited, as this was part of the simple and easy method of debouncing the incoming button press signals. Buttons must be stable for 30mS+ b

[2017-07-16 11:53] Nredor opened #27 "Text position when flipped"
![screen_offset](https://user-images.githubusercontent.com/199049/28247302-55de64d8-6a36-11e7-8cae-c453a9735978.jpg)

Picture shows it all. Text position is bad when display is flipped.

[2017-07-16 12:30] Ralim commented on #27
Woah that's not meant to happen.
I can't reproduce the issue on my Irons here, any chance you can tell me what version of the firmware you are on? Also, where did you buy your iron though?

Is it only on the soldering screen, or is it on all screens?

[2017-07-16 17:44] M0LIN0 commented on #14
Hey Guys
First of all, I'd like to thank you very much for your effort, you're investing in this great firmware, I absolutely love it, especially the Boost-Button!
I'm also interested in having a personal logo, as the original firmware allows me to do so and I think, I found an easy way to upload the logo-file.

Here is what I did:
First of all, I installed the latest original firmware APPV217.hex

[2017-07-17 10:03] Ralim commented on #17
@stray77 Hows the motion sensitivity feeling?

[2017-07-17 10:19] Ralim commented on #14
Hi,
You have actually found the basic idea behind my plan to allow for custom logos on the iron.

To explain why this behaviour occurs, the original firmware uses the last ~30K for the virtual USB drive.
When you program a new firmware using the DFU mode, it only replaces the parts that have changed. As this firmware is less than the ~30K before the virtual USB it does not overwrite the existing f

[2017-07-17 11:09] mkninc commented on #14
Regarding the resulting code size, have you tried „-Os“ as  optimisation? As I have seen your are using „-O3“ in the Release configuration.
You could also try „-flto“.

[2017-07-18 03:04] perillamint commented on #25
I think I could get some time to tinker with iron firmware 1-3 months later. (need to source another iron for SWD pin soldering, get enough time to spend hacking new bootloader, etc)

However I have one question before wiping out bootloader of my iron (or another TS-100): Could I get back into stock system when I flash "DO NOT FLASH_Flash Backup.hex" using ST-Link?

[2017-07-18 10:56] doegox commented on #11
Hi, sharing my experiences:
DFU 3.43
Avoid any USB hub, my TS100 got detected properly only when directly plugged.
I tried many things under Linux (Debian with kernel 4.9.0, tried msdos/fat/sync/caps...), no way, always getting .NOT on Ralim fw and .ERR on official fws.
What worked:

* Disable automount on Linux
* Plug the device and launch a Win10 in a Virtualbox, share USB device
* Drop file wit

[2017-07-18 12:16] doegox opened #28 "USB: Device can't be enumerated under linux when running the Ralim fw"
Hi

When running Ralim (1.13) and plugging under my Debian (kernel 4.9.0), it fails enumerating the device:

[code]

I swapped several times with the official firmware (2.17) and this is reproducible. The DFU and official firmware (config) modes get both enumerated properly and device can be mounted, but it fails completely with Ralim.

[2017-07-18 12:19] Ralim commented on #28
This firmware does not implement USB at the moment, this is expected behaviour. The next release will hold the D+ line low so it won't complain that it's not responding (instead it will just not enumerate at all).

DFU mode still uses USB, but it's entirely separate, as we still use the original DFU for updating the code.

[2017-07-18 12:22] doegox commented on #28
ha ok, yes would be cleared to avoid completely any attempt of enumeration, thanks for the explanation!

[2017-07-18 12:22] #28 closed

[2017-07-18 12:24] Ralim commented on #28
No problem 😃
I should probably put something more on the main page to mention this...
I dropped USB as it couldn't be compiled on open-source compilers easily, and the menu replaced its functionality.

[2017-07-19 14:55] CptZeroG commented on #3
Hi Ralim,
I don't understand: have you implemented the display of input voltage? It would be very usefull :)

[2017-07-19 20:57] Nredor commented on #27
Tried now with latest version. Ordered from https://www.banggood.com/MINI-TS100-Digital-OLED-Programable-Interface-DC-5525-Soldering-Iron-Station-Built-in-STM32-Chip-p-984214.html

Text is displayed fully but few pixels of the display are behind black mask. You see the whole text if you look from an angle.

[2017-07-19 21:00] Nredor commented on #27
Ok, now that i look with bright light seems that my units display is not positioned correctly. So I probably have faulty unit ;) Software seems to be working as intended.

[2017-07-19 21:00] #27 closed

[2017-07-20 00:57] Ralim commented on #27
It should be really easy to align the screen if this is just the issue.
I might add a little bit more padding on the screen when I have time to test it too.

[2017-07-20 01:43] Ralim commented on #3
Yes,
It's under the Extras menu.
You can access it via the following steps:

1. On the idle screen press both buttons
2. The unit will now show the current tip temperature
3. Press the button near the tip of the soldering Iron
4. The unit will now show the input voltage that the Iron is measuring

For further information, there are some details in the readme on the main page of this repository.

[2017-07-21 09:40] ltwin8 opened #29 "Left hand Display"
The intro icon wich shows the iron with the buttons is the wrong direction. also the time to press both buttons are very short to exit solder mode...

Also very useful would be a permanent charge indicator for the battery, because most people I think use it with lipos and there would be nice to have for example a bar of pixels permanently on the display wich length relates to charge.... only 3 mor

[2017-07-21 09:55] CptZeroG commented on #3
Ah ok, thanks Ralim, i did't found on the menu schema.

P.s. I hope that you add the custom logo feature...it's a great Fw :) complimets

[2017-07-21 11:16] Ralim commented on #29
Hi,
I agree the left handed mode shows the icon reversed to what would be logical. I haven't had the time to sit down and draw in the flipped image as of yet sadly.

The intention is for pressing both buttons to be extremely hard to do accidentally, and require two hands (or a large thumb) to do correctly. Is this an issue for use of the iron? It is possible to add an extra delay to slow down the

[2017-07-21 11:31] ltwin8 commented on #29
Hello, thanks for the fast respond.

The delay for the two buttons would be great.

I see a lot reviews of people they use it for repairing for example copters and use simply their lipos to power. Automatic cell count is a bit complicate, for example: an nearly empty "normal lipo" 6S can have 21V (3,5V =~20-30%) can have the same voltage as a full 5S „normal lipo“ at 4,2V per cell… and also there

[2017-07-21 11:41] Ralim commented on #29
I like to try and respond quickly.

I'll look into making the detection a bit slower so its easier to hit the buttons. Might be a bit difficult with how the code is currently structured.

Yeah, that's a fair point about HV cells, completely mind blanked on them.
I'm really trying to avoid adding too many extra menu items, as it's already getting very long with options. I could add a menu option fo

[2017-07-21 12:03] ltwin8 commented on #29
Hello,

The idea with the extra menu is great, but I would make the option to go even to 6S (25,2V) it is not within the specs but it works because the swithingregulator can take it and the voltagedevider is a bit tricky but the ADC input from the mcu can take 3.6V regarding to data sheet. Wich would theoretic allow 25,5V. I can’t say if the soldering tip handle 25,2V but it should, maybe the mess

[2017-07-21 12:37] Ralim commented on #29
The input filter capacitors inside the iron are only rated to 25V input.
So you are technically overvolting the input capacitors. Also running the iron at the higher voltages also affects the voltage measurement as the overvolting of the ADC input does appear to degrade the input electronics.

While I can add the option for 6S, I don't want to encourage anyone to damage their irons.
So I will need

[2017-07-21 12:51] ltwin8 commented on #29
hello,

The ADC should be able to convert that,
 „
2 x 12-bit, 1 μs A/D converters (up to 16 channels)

–  Conversion range: 0 to 3.6 V

„

The capacitors are only 25V? Okay that is bad, normal you take some like 35V for 24v, normally elkos so close to the maximum rating is not so good (voltagespikes).
I agree, nobody should damage their irons, thats not so good.

The problem with the cutoff volta

[2017-07-21 15:42] Cpt-Huck opened #30 "UVCO -> Undervoltage cut out level"
Ability to change UVCO -> Undervoltage cut out level, settable in 0. 1 Volt increments from 10-24V.
So if you use 4S LiPo it stops at 14.6 - 14.8 V and not 15 Volt..

[2017-07-21 15:44] Cpt-Huck commented on #30
Not really an issue.. But I'm new here and really like the Costum Firmware!

[2017-07-22 00:16] Ralim commented on #30
Hi @Cpt-Huck,
Over in #29 a suggestion came up to provide a method to select if the Iron is running off a DC supply or a lipo battery pack. As then it can be simplified down to selecting a cell count in the menu instead.

I proposed changing the cutoff menu to instead be called "PWRSRC", and have the following options {DC,3S,4S,5S,6S}. Where DC would disable any UVCO and then the S count would set

[2017-07-22 05:30] Cpt-Huck commented on #30
I've read through #29..

Looks like the TS100 only has 25 Elko which is quite low? So using 6S will burn it "maybe"

So DC or Off would be the same.. But there's no other situation, that I know why someone should enable this when not using DC or LiPo..

I agree implementing the new "Undervoltage cut off" (out?!) feature have the option "DC 3S, 4S 5S (maybe 6S? Idk) sounds good

[2017-07-22 05:31] Cpt-Huck commented on #30
I meant "DC" is an useful option but it should not be called "off"

[2017-07-22 05:38] Cpt-Huck commented on #30
And also don't set the low voltage to 3.3 Volts per cell.. Ouch

Most FPV pilots land their quads at 3.6 to 3.7 Volts..

So setting this to 3.6 V would be better, because it wouldn't damage the cell

..  cut off at 3.6 Volt is under load..
So if you disconnect the battery, the cell voltage would go back up to 3.65 - 3.7 V (due no load?)

If you have any questions please let me know! (I tell you th

[2017-07-22 05:45] Cpt-Huck commented on #30
Summary

DC, 3S, 4S, 5S (maybe 6S?! if it works)

Lowest Cell voltage at 3.6 volts.

Still don't get it what "PWRSRC" mean 😞 Power?!

(damaged/old cells tend to cell - drift when theyre this low.. Example: 4S LiPo cell 1 = 3.6 V cell 2 = 3.6 V, cell 3 = 3.3 V cell 4 = 3.6 V... But this scenario is bad haha)

[2017-07-22 07:12] Ralim commented on #30
Hi,
I have already implemented a first pass at the PWRSRC (short for Power Source) option.
I have gone with DC rather than off, since the iron really doesn't function below 10V, so it's nicer to enforce people to use a nicer power supply.

There is a massive, massive difference between when you are using a battery pack under high load (quad) and low load (soldering). We are talking about a maximum

[2017-07-22 08:51] Cpt-Huck commented on #30
Okay.. 3.3 Volt is not very much.. But I'm not a Profi regarding to LiPo battery's..

Does 1.14 contain DC, 3S, 4S, 5S (6S?!)
?

Thanks for this implementation!
Further testing and reporting soon..

[2017-07-22 12:38] Ralim commented on #30
That was what I added for 1.14,since I did like the idea and it was a fairly easy change. It does go up to 6s

[2017-07-22 20:04] DrStein99 commented on #30
How about if I'm using 18650 battery cells, they have different cut-off from li-po cells.  A battery-pack cell configuration feature makes this tiny thing complicated.   Who wants to be confused with battery types and cell layouts - if they just plug in from a +12v car battery ?  What is wrong with configuring  setting for a low and / or high cut off value?

[2017-07-22 22:29] gordio commented on #30
Protect you battery, stop at 15V ;-)

[2017-07-22 22:33] gordio commented on #24
@Ralim a small improvement (board with QC USB) and USB-C connectors :-D

[2017-07-23 00:21] EricJanVanDenBogaard commented on #30
So, if i'm correctly understanding the 1.14 software has a lipo cell count function and has presets stored for S3,S4,S5,S6, cut off values, what i understand, a lipo should not be discharged below 3.2 volt, and a Li-Ion not below 2.9 volt. could the software be made that it measures the internal resistance of the Lipo/Li-Ion accu ? or is the difference too little for that ?

[2017-07-23 01:56] Ralim commented on #30
@DrStein99 :
Li-Po and 18650's usually have extremely similar discharge curves, and this is why I chose 3.3V as a cutoff voltage, as this allows for ~95% energy extraction from both technologies.
The reason I preferred going for a cell count rather than a high and low value is that the vast majority of users are using Lithium based batteries, which have very similar discharge curves (Except for Li

[2017-07-23 02:04] Ralim commented on #24
I'm currently a little bit too busy to design a dedicated pcb at this point in time. But ill come back to this when im less busy to see where the market is at for this kind of option :)

[2017-07-23 03:44] reversebias commented on #29
Even though the caps are rated for 25V on the schematic, it's only the input filtering cap for the 3.9V switchmode converter. There's D4 (1N4148) and R30 (150R) in series with the supply to the caps, which drop about 2.5V under normal conditions. I measured 22.6V on the cap with a 25.2V input voltage. Although 25V caps are a bit marginal here, I don't think that using a 6S lipo is a safety risk.

[2017-07-23 03:47] reversebias commented on #30
Cross posting from #29 as it's slightly more relevant here:
"Even though the caps are rated for 25V on the schematic, it's only the input filtering cap for the 3.9V switchmode converter. There's D4 (1N4148) and R30 (150R) in series with the supply to the caps, which drop about 2.5V under normal conditions. I measured 22.6V on the cap with a 25.2V input voltage. Although 25V caps are a bit marginal

[2017-07-23 05:04] Ralim commented on #29
Hi,
While I agree with you that you *should* be fine. I need to put the warning there, as its running the unit out-of-spec. This is why I added the 6S menu option, but I also added the warning to the main page.
Anway, can we please move the discussion on battery stuff over to #30 .

[2017-07-23 05:05] Ralim commented on #30
As I said in the other thread,
Let's keep this thread for discussions on voltage, please.

@reversebias
I agree that 6S *should* be fine, but I need the warning in case someones iron does fail. As you are running your iron out of specifications it's up to you to decide.

[2017-07-23 05:39] reversebias opened #31 "Power indication on working screen"
Enhancement suggestion for the general working screen, to include an indication of the current power usage. Maybe as an alternative to the chevrons.

After using a JBC iron in the past, I feel a seriously undervalued feature of those irons is the display that shows the current power usage (in their case, presented as a percentage). This was not only an indication of when the tip was finished heati

[2017-07-23 05:55] reversebias commented on #30
Fair enough, back to on topic.

The battery feature is great, thanks. I found a bug where the battery voltage is not capped to the current range. Specifically the call to "OLED_DrawExtendedChar(cellV + 1, 5);", if the cell voltage is higher than the designated max voltage, the pointer offset grabs characters from the other pixel maps in Font.h. Like "ON" "SE" "TT"

To replicate: Set power source t

[2017-07-23 06:33] Ralim commented on #30
Ah yes, that would be a bug.
Ill fix that in the new version coming later on today. Currently working on logo support but I'll patch that at the same time.

[2017-07-23 07:04] Ralim commented on #30
The v1.15 up on github now should include a patch for this

[2017-07-23 07:10] Ralim commented on #31
Hmm, good suggestion @reversebias.
A power percentage could fit on the screen in the place of the chevrons if users would prefer this.

What kind of indicator would be the best to use in your mind?

Can't really do actual wattage values, as we don't have any means to measure current, and some tips are different so don't really want to have different profiles per tip style.

gHeat_cnt is the remain

[2017-07-23 07:30] Ralim commented on #14
@kokein @M0LIN0 @Adrianotiger @mkninc
Hi,
Letting you all know that the latest release is the beginning of the support for custom logos.
I have pushed up V1.15 which adds support for loading a logo if it has been programmed into the unit.
There is also a C# app that makes the custom .HEX file for loading the logo onto the unit.

There are instructions on the main page for how to make the .HEX file

[2017-07-23 08:00] reversebias commented on #31
Capacitive coupling:
Ok, that makes sense, I can see C10 and C24 now. Nice to know there's a hardware solution to a firmware lock up.

Indicator type:
The JBC uses a bargraph and a percentage, but either of these alone would serve the same purpose. As there's no small font yet (just the start screen chars), a bargraph might be easier.

gHeat_cnt:
Ok, so is the cycle time variable? And would a maxe

[2017-07-23 08:05] Ralim commented on #31
Yeah, it is nice to have a hardware protection against firmware issues.

I was trying to keep the font larger mostly because I have had some feedback from people who find it significantly easier than the thin font the original used. So I would agree a bar graph would be better as well.

So yeah it's basically an on time variable, the total cycle time is around 48 milliseconds per cycle. So gHeat_c

[2017-07-23 08:28] reversebias commented on #31
Large font is great, no issues here.

I'd like to think that a instantaneous power bargraph is intuitive, but don't want to speak for others. What is the current mechanism for the chevron selection?

That is exactly what I was going to initially suggest (the direct correlation), but then couldn't figure out from the source how it worked. I thought it was some kind of pulse length coded system. Out

[2017-07-23 08:40] Ralim commented on #31
The current selection is just looking at the gHeat_cnt variable :smile:
So it would not be hard to make a bar graph that matched to the gHeat_cnt variable really.

So the entire program runs on a 50mS cycle, but 2mS is chewed up in the reading tip temperature.
Basically, the code calls the two big functions in Modes.c one after another then just sleeps 50mS.
(see main.c).

I'll probably add this s

[2017-07-23 09:20] ltwin8 commented on #30
@Cpt-Huck
3.3V per cell is okay. in FPV racing you pull like 40A-200A total on some quads even like 400A when you go very fast and powerful. 3.3V per cell would be okay because this low current (except you take a <900-1000mAh LIPO).
More complex would be the case with LIHV battery and the correct readings of them.

@EricJanVanDenBogaard meassure IR should be difficult too, because you need like a

[2017-07-23 09:50] kokein commented on #14
Ok. Thanx! Will try later =)

niedz., 23.07.2017, 09:30 użytkownik Ben V. Brown <notifications@github.com>
napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-07-23 09:53] Ralim commented on #30
I agree small size batteries are going to be an issue, however, if their voltage is dropping that much under a 2A load, it would make 3S nearly un-usable (and would hit the 10V cutoff). And even at the larger cell counts, if they are dropping that much their internal resistance is rather high (0.3 ohms) and they would probably barely last at all? It would be possible to only measure the battery vo

[2017-07-23 10:05] ltwin8 commented on #30
Hello,

I totally agree, there is no big need for it.

LiPo's are strong enough to deliver such small current, i have an very old 4S 5000mAh and 2200mAh one, they still do. the Job.

That was only an idea for the worst case, i dont think that would need to be implemented because it is like without a sense soldering on so low spec batterys, they also only last few minutes. That was only an example

[2017-07-23 10:07] reversebias commented on #30
I can confirm that with a small pack, the battery bar is bouncing all over the place. It drops down 2 or 3 bars between zero and full power.

This is with a 6x18650 pack, around 2500mAh. Open circuit battery measure would obviously help here, but I may be in the minority.

[2017-07-23 10:45] ltwin8 commented on #30
To my last post:

that should just outline the worst case. Use so little lipos would be without any sense. If someone have no lipos to use take a "Turnigy 3S 2200mAh 25C" or maybe 2x 3S in series (own risk!!)

here the link, I use this as a supply for charger for my 2S lipos for my micro racers and as a flight battery for a setup that pulls.
https://hobbyking.com/en_us/turnigy-2200mah-3s-25c-lipo-

[2017-07-23 10:58] reversebias commented on #30
@ltwin8 No real need for capacitance from my perspective. It doesn't affect operation at all, just the live battery readout. As for using 18650s, I made a pack out of what I had, just like someone would use an old lipos if they had them. Worst case at max voltage is under 3A, barely over 1C on a 2500mAh pack. Cylindrical lithum cells don't struggle at all with a 1C discharge, and I won't get puffy

[2017-07-23 10:59] Ralim commented on #30
I will add open-circuit measurement of the pack voltage to my todo list. Just may not happen for a bit, working on other projects most of the time at the moment.
I know where I can slot it into the firmware to (hopefully) prevent any degradation of performance.

[2017-07-23 11:02] ltwin8 commented on #30
@reversebias
have no problems until now with too puffy cells. Thats a reason more why I would use lipo, when they get puffy the worst case is fire, the 18650 can make more damage because of the packaging.

[2017-07-23 11:38] M0LIN0 commented on #14
Hey Ralim
Thank you so much! I just flashed the latest firmware and tested the logo editor application and it worked perfectly at the first try!
I think the logo editor is easy to use and well arranged. I also had to use the "invert" fuction, which worked perfectly.
Thank you very much for the effort, you're putting into this firmware! Is there any possibility, we can support you with a small dona

[2017-07-23 11:49] Ralim commented on #14
Glad to hear it worked!
Eventually, I'll make the threshold for what it calls white or black adjustable but for now, it seems to work on all my test images. So very glad to hear it worked for someone else too :)

I don't really want to push a patreon at the moment, mostly because I don't want people to have the expectation that I'll add features regularly (I've run out of most of the ones I can th

[2017-07-23 14:16] EricJanVanDenBogaard commented on #30
I have never seen a lipo pack (used for the FPV hobby) that have a datasheet, Each brand or type 18650 doo have very detailed data sheets, The lipo packs do have C ratings and max. discharge specs, but due to the nature of the TS100 these are not so important i guess.
Great job you're doing on this TS100 new firmware, Ralim !

[2017-07-24 09:03] Ralim commented on #30
Some will have data you can get by asking, but yeah normally lipo packs won't have datasheets if they are intended for racing (quads, cars etc). I mostly asked this because I have *never* seen any datasheets or official documentation that states that the cells will be damaged at such a high voltage. And if such a data sheet did exist I would seriously like to know about it since I own such a mix o

[2017-07-24 09:05] Ralim commented on #29
@ltwin8 Can you please clarify with the buttons to exist soldering mode, did you mean that it was too easy to exit soldering more, or that you would like it to be easier to get the double button press (ie exit easier)?

[2017-07-24 09:23] kokein commented on #14
Works great ! :)
Thank You !
Nick / kokein

niedz., 23 lip 2017 o 13:49 użytkownik Ben V. Brown <
notifications@github.com> napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-07-24 12:00] ltwin8 commented on #29
Hello,

To exit easier would be fine so that you don’t always have to have both hands free for pressing buttons.

Best regards

[2017-07-24 12:29] Ralim commented on #29
I can't really make it a single button action, but I will try and make the time it uses for detection of the double button press a bit longer. If your thumb is large enough it should be fairly easy to push both with one hand?

[2017-07-24 12:37] ltwin8 commented on #29
yes I think with a bit training it would be easier to exit it with one hand.

maybe I found an other thing today: when I adjust temperature in soldering mode (Left hand) the temperature rises with the "usb-end" button, is that right?

Best regards

[2017-07-24 12:47] Ralim commented on #29
See how you go with it currently trying left handed mode. I'll try and extend the time slightly in the next version.

And yep that is a bug :/ Ill fix that too in 1.16

[2017-07-24 12:52] ltwin8 commented on #29
Yes I try left hand mode, with right hand I can't solder.
its not a big problem, its like complain on a very high level.

by the way, the way the battery status is shown is great, it don't overlay important informations like temperature and soldering status and it is good readable outside

[2017-07-24 13:06] Ralim commented on #14
No problem :)
Glad to hear it worked.
I'm going to close this for now, but open it (anyone) if you find any more issues on the logo support :)

[2017-07-24 13:06] #14 closed

[2017-07-25 16:22] amisoftau commented on #11
Just upgraded with Linux no problem from stock shipped 2.12 to stock 2.17..
Linux: Linux Mint 17
DFU: 3.43

Based on balrog-kun's posting;
I tried the auto-mount drive, but didn't work as reported. Yes it mounted it as vfat.
No need to change automount config..
Just unmount the drive leaving device still plugged in.
Get a terminal window and change to super user.
mount the drive somewhere as type

[2017-07-25 23:30] Ralim commented on #11
Thanks, @amisoftau and @doegox for your information.
I can confirm I am able to update under Linux by mounting as msdos. I am on the 4.4 kernel though.

[2017-07-26 15:49] joric commented on #29
Hey, reversebias! Nice to see you here, I'm currently trying to build mitosis out of EasyEDA PCB's :)
As for this left hand feature I suggest using accelerometer for autorotation.
Current accelerometer API is poor but all you really need (in 2.17) is to check for a single bit, e.g. gY_value.Byte.hi>0x7f ? -1 : 1; set corresponding screen orientation and then call Init_Oled().
I've used it here htt

[2017-07-26 23:26] Ralim commented on #29
Hi, I agree that auto rotation could be a nice thing to add.
I haven't fleshed out the full api for the accelerometer yet as I didn't need to :P Its trivial to add this as a feature, so I should be able to soon.

I will probably update the setting to be 3 options, so you can lock the orientation or have it automatic.

[2017-07-27 01:46] #29 closed

[2017-07-27 07:27] iLLiac4 opened #34 "Auto Rotation bug"
Hi. I have tested this feature and it works great if you are right handed. If you are left handed it rotates it to right handed too quickly.
You can try it and will see that if you solder with left hand it too quickly turns to right hand.

I hope you understand what i mean :)

[2017-07-27 07:38] Ralim commented on #34
Hi,
I understand what you mean, I am guessing you hold your iron with the screen pointing further up than I normally do. I will push a bug fix version shortly that should increase the threshold required. :)

[2017-07-27 07:39] iLLiac4 commented on #34
Yes i am holding it as pencil.

[2017-07-27 08:23] Ralim commented on #34
Original there was only a minimal threshold, so when the screen rolled past flat the screen would flip to the other orientation. I am bumping up the threshold so that it will not rotate until the screen rolls further past flat. Just testing the build on my units and then I'll push up a patch.

[2017-07-27 10:30] Ralim commented on #34
@iLLiac4 Can you try the latest v1.16.1?

[2017-07-27 10:31] Ralim commented on #31
@reversebias
In the latest version 1.16.x there is a power display option added.
This is probably not perfect, but is this similar to what you were expecting?

[2017-07-27 11:00] iLLiac4 commented on #34
Much better. Probably this is hard to do but when you pick them up from the table and if it flips to right hand display you have to make it almost vertical to flip it to left menu.
But as i said this is probably hard to achive.

[2017-07-28 01:24] Ralim commented on #34
Hi,
I'm not quite sure what you mean by this :(
Which axis are you rotating around?

I will be polishing this a bit more in the coming days, as I think I have found an edge case I need to test soon.

[2017-07-30 09:02] Cpt-Huck opened #35 "Value changing in settings should be faster"
when in settings and changing values.. I can press a button to go upwards..
 and while holding the button, it goes automatically up..
for for some settings like shut down time, where the range goes from 1 to 60 min ?!
long pressing is not fast enought..
it should be twice as fast...
so you can change values even faster.
understand what I mean ?

[2017-07-30 11:28] Ralim commented on #35
Hi,
I know the issue you are talking about, I was actually already working on this in my spare time :)
I just pushed up the faster auto-repeat version to the releases page.

Let me know what you think of this? :)

[2017-07-30 15:45] Gregory1981 opened #36 "Few suggestions."
Hi.
Congratulations for your current job.
Well done. :)
Anyway I have few suggestions.
1. Temperature degree symbol just gone in furhter release. Is possible to took it back?
2. During normal operation temperature font could be bigger like in original firmware. In my opinion looks better when is fill whole resolution of screen.
3. Temperature change style looks better on original firmware (flippin

[2017-07-31 06:07] Trezona commented on #35
The latest release is great, although I feel the auto-repeat could be a little faster.

[2017-07-31 09:04] Ralim commented on #36
Hi,
I certainly will consider them all :)
To answer you questions:

1. It's coming back don't worry, just need to redraw it slightly to make it fit in the re-design. It's on my list for the next update.

2. Do you mean the current tip temperature when you are soldering? I'll have to check but I thought off the top of my head the font was full height.

3. I plan to add back in a movement when you c

[2017-07-31 11:27] Ralim commented on #34
I'm going to close this for now, please open this again if the issue is not resolved.

[2017-07-31 11:27] #34 closed

[2017-07-31 11:27] Ralim commented on #35
Fair enough, ill bump it up a bit more in the next release :)

[2017-07-31 22:56] #22 closed

[2017-07-31 22:57] #26 closed

[2017-07-31 22:57] #30 closed

[2017-08-01 08:30] Gregory1981 commented on #36
Hi.
Thank you very much for taking my suggestions under consideration. I really appreciate that.
About point number 2.
OLED display resolution is 96x16 (I guess). In original firmware, temperature font fills display fully, so height of font is 16 pixels. And at 1.16.2 release font height looks like 10 or 12 pixels. Maybe I am wrong. If yes, please correct me. If not, will be that possible to chang

[2017-08-01 09:16] dhottinger commented on #11
Didn't work for me until I found out that destination file name needs to be all caps. Now it works.

[2017-08-01 11:34] Ralim commented on #11
That's... Really odd. But good to know to try ! I'm guessing they might be using 8.3 filenames in their code.

[2017-08-01 11:41] Ralim commented on #36
Hi,
No problem at all, it's what I like to do :) Means the Iron gets better for the entire community.

Yes, you are correct on both points, the display is 96x16 pixels, the font is fixed width at 12 pixels wide. So this results in the digits being around 10-12 pixels high as that is the font I used for the text when I created a bolder fontface. I have been toying with creating a new taller font, h

[2017-08-01 21:20] doegox commented on #11
I finally could flash it under linux too, no matter the lower case / upper case, but I think it's just quite unstable so sometimes it works sometimes not. My guess as it flashes automatically as soon as the file is there is that there is some racing condition between linux finishing the write and the ts100 initiating the flash procedure. E.g. suppose it watches for some write in the FAT metadata a

[2017-08-01 21:21] doegox commented on #11
just per curiosity, there is no way from a modified FW to dump the DFU code @Ralim ?

[2017-08-01 21:21] doegox commented on #11
or from jtag

[2017-08-01 22:49] Ralim commented on #11
Yeah it isn't the best reliably bootloader, and I have looked into creating a new one (non virtual flash disk based though).

I'm thinking about making a DFU based one so you can use dfu utility to load the firmware if you don't use  a Windows machine.

I'm not sure if it's a race condition of out of order writes that cause the issue.

We can dump the compiled machine code of the unit (already in

[2017-08-02 08:57] xavkno commented on #11
You do know IDA is free for non-commercial use?

[2017-08-02 09:00] Ralim commented on #11
Hi,
Last I tested the freeware version It didn't support the arm M core processors, and it was Windows only. I haven't tested it recently, do you know if they have added the cortex M1 (thumb 2 code)?

[2017-08-02 09:15] xavkno commented on #11
That I unfortunately don't know as I've also not used it in a while, but it's always worth a look as it's one of the best tools for this sort of thing.

[2017-08-02 09:56] Ralim commented on #11
Yeah, I've used it before a few times, but the current version does not work with this MCU as far as I can tell.

Honestly, it's not worth reverse engineering the bootloader at this point in time.

[2017-08-02 18:10] awigen opened #37 "Feature Request: Short click on the boost button should change temperature"
I think it would work quite well if the boost button also worked as a temperature select button.

If the boost button is pressed for less than 200ms go into the temperature menu.
If the boost button is pressed for 200ms or more do normal boost mode.

[2017-08-03 02:41] reversebias commented on #31
Nice! I like how you got the extra half level with dithering.

However, maybe I overestimated how much power the iron used for maintaining temp. For me, the power level drops down to the empty widechar for maintaining, and even normal soldering. I guess this means an idle power of below 1071, due to integer math truncation.

I think something like a logarithmic scale would be best here, to actuall

[2017-08-03 02:57] Ralim commented on #31
The dithering was a last minute addition to enable a full set of levels (28). :)

Yeah, for normal maintenance there is a very low power usage and it really only spikes after there is a higher thermal load. Note that I'm still attempting to tune the PID to need less input filtering (and thus faster response time) however I haven't had much success just *yet*. So the graph will become more responsi

[2017-08-03 03:02] Ralim commented on #37
At the moment the button code does not latch down times and instead looks at the total time down so far.
So at the moment this is not particularly easy to implement, which is why it's not currently there 😄
I agree completely this would be the most logical next step to add, however.
I'll have a better look into the button handler in the next few days and get back to you on this.
Hopefully it should

[2017-08-03 03:04] Ralim commented on #35
@Trezona It's doubled in the latest release, thoughts?
Cant really push it up much faster than this at the moment. :)

[2017-08-03 03:05] Ralim commented on #17
Closing this issue, as the sensitivity scale has been adjusted to cover the whole range of the IC. If the iron is still going to sleep on you at max sensitivity then there isn't much more we can really do, as it's the lowest threshold the accelerometer supports.

[2017-08-03 03:05] #17 closed

[2017-08-03 03:18] reversebias commented on #31
I was wanting to contribute to the PID effort, as I've had plenty of experience in loop tuning in the past. I'm exclusively linux though, and still haven't got a working process for the msdos DFU. So it's a bit of a pain right now to actually iterate anything. At the moment, I update using a windows PC at work. :)

I agree with both the truncation and the lookup table. Even with dipping the tip in

[2017-08-03 05:56] Trezona commented on #35
Just tested now, much better for me. Thanks.

[2017-08-03 20:18] Aglezabad opened #38 "Translation to es_ES."
Good evening:

Recently I've acquired a TS-100 device and I like your firmware. I'm interested in translating your software to es_ES (Spanish from Spain).

The question about this is: How to do that? Maybe at compilation time with preprocessor checks? The thing is how to avoid the extra effort in the future.

I will wait your answer before doing anything.

Best regards.

[2017-08-03 23:49] Ralim commented on #31
I can build the firmware for you to have the PID menu at the end, that lets you temporarily change the pid settings (currently doesn't save).

I think truncation would be easiest at the moment, I need to setup a better test system for tuning the pid and setting up the right value for the truncation.

It doesn't break the maths, as 1000 was actually a truncation already to test how it looked and I

[2017-08-03 23:52] Ralim commented on #38
I was thinking of performing the language at compile time.
I'm in the process of splitting all the strings out to a strings.h header file for all the text.
Would es_ES require extra symbols in the font map? (If so, no problem, I just need to make more).

If you're interested, do you think it would be possible to translate the text keeping the same limits on names in the settings page? (Since scree

[2017-08-04 05:09] Ralim commented on #25
So I'm thinking of forking [dapboot](https://github.com/devanlai/dapboot) and working to get that running on the iron. So that we can use web-dfu along with the normal dfu-util to update the iron.

Mostly going to need a fair bit of testing before I push anything too publicly.... Dont want to brick irons :)

[2017-08-04 06:24] Aglezabad commented on #38
Perfect. I will do the translation with the most recent commit, so I can tell you which changes are needed.

[2017-08-04 09:28] Ralim commented on #38
Yeah, I'm currently working on moving all the text out to its own file. But if you can even initially do a rough pass for the text you normally see on the iron, and also any extra symbols you would require :)

[2017-08-04 10:08] #35 closed

[2017-08-04 19:48] ErhardDu opened #39 "Feature request: Cooling down temperature display should blink until it reaches "safe" temperature"
Would be nice to have the temperature display blinking until it's down to let's say 50C to signal that the tip is not safe to touch.

Great job!

[2017-08-04 20:15] vifino commented on #25
I am also in favor of "normal" DFU, to be used with dfu-util. Much easier, IMO.
Once mine arrives, I'll be happy to test. Got JTAG/SWD adapters and everything, so in case something goes seriously wrong, I'll be able to recover.

[2017-08-04 23:14] Ralim commented on #25
the dapboot implementation supports both web based and the normal dfu-util tool :)
Awesome, will be good to have another tester :)

[2017-08-05 05:22] Maartenwut commented on #25
I'll be glad to have another bootloader as well - I'm in for testing!

[2017-08-05 12:25] Aglezabad commented on #38
Hi:
I've done a rough translation for testing purposes, only editing the text in Modes.c. For this moment, I don't need any extra characters because I've omitted the accentuation needed in my language (á,é,í,ó,ú). So, it's not neccessary to modify the font.

[2017-08-05 12:47] Ralim commented on #38
Awesome, thank you :)
Not modifying the font makes it easier, though if the accent's fit I'm not opposed to adding them in future :)
I'll make a test build probably tomorrow and upload for you to test :)

[2017-08-05 15:40] MarSoft commented on #11
As a follow-up to [this Linux-related coment](https://github.com/Ralim/ts100/issues/11#issuecomment-317791679): I have just successfully installed 1.16 to the fresh new iron.
Mine iron has DFU 3.43. When I connect it to my Linux box (latest Arch Linux, with automounting enabled via `udiskie`), there is a new "flash drive" appears which already has the following files and directories:

- .fseventsd

[2017-08-05 15:41] MarSoft commented on #11
Actually I am not sure, it took several retries before successful write. Sometimes it was renaming the file to `.NOT`, sometimes to `.ERR`.

[2017-08-05 18:12] awigen commented on #11
Could you please try the flasher for Linux merged today and let us know the result and which distro you are using.

[2017-08-05 18:33] doegox opened #41 "TS100 Logo Editor under Linux: howto"
Hi,

FYI I could compile and use the  TS100 Logo Editor under Linux, but this requires setting .Net dependency to v4.5:

[code]

[2017-08-06 00:25] Ralim commented on #41
Interesting, my local install of mono would only run it nicely under 4.0 :/

[2017-08-06 00:31] ErhardDu opened #42 "After writing 1.16.3 successfully (rdy) and powering up old original fw is running..."
Hi,
copying to ts100 is working, disconnection/reconnection also but after rebooting with 24 V my original fw is showing up. Tried two times, both the same...
regards Erhard

[2017-08-06 00:35] Ralim commented on #42
Hi,
Can you confirm what system you are using to perform the upgrade, what the file extension changes to after you copy the file?

This is an issue with the built in DFU software, which I cannot fix. But more than happy to try and get this working for you :)

[2017-08-06 10:51] Ralim commented on #38
Hi,
Can you please test/check the attached firmware.
I used your translated strings to build the firmware. However I currently haven't coded quotation marks (" ") into the font yet, so I've replaced these with the <> for now.

Let me know what you think :)

[ts100.zip](https://github.com/Ralim/ts100/files/1203005/ts100.zip)

[2017-08-06 10:56] Ralim commented on #39
That would be a good idea.
I'm thinking maybe invert all the colours on the screen for the blinking. What do you think?

[2017-08-06 10:58] Ralim opened #43 "Add autostart option"
Stefan Hendricks commented on the youtube video for this feature.
Should be a fairly easy addition to have it jump into soldering mode on startup.

[2017-08-06 12:08] Aglezabad commented on #38
Hi Ralim:

Thank you for your build. I will check today. Also, I'm a Ubuntu user, so I will test the flashing script for Linux too.

Regards.

[2017-08-06 12:09] Aglezabad commented on #38
Also, I've changed the title, because the translation is going to be a reality.

[2017-08-06 12:22] #43 closed

[2017-08-06 12:31] Ralim commented on #38
Awesome, let me know how both go 😃
Yep, I think the translation is a good idea :)
If it works out okay, I actually pushed up another option. If you could translate the following too it would be awesome :)

"      Automatically starts the iron into soldering on power up."

Just answer the translation here, no need to upload the file for one line :D

[2017-08-06 13:52] doegox commented on #41
There is no page on the wiki, all the procedure for the logo is currently on the main readme so I propose you include the notes for Linux there too.
Here is a little snippet to be added to the "Setting a custom logo" (or move all to the wiki but I didn't feel like adding a new wiki page just for these 4 lines):

Note for Linux users: the GUI can be launched directly with mono (`mono TS100.Logo.Edi

[2017-08-06 14:03] ErhardDu commented on #39
Great idea! So it's not necessary to look at the display directly and you can notice it from a different angle of view...
Thanks for your quick answer...

[2017-08-06 14:11] ErhardDu commented on #42
Hi, I copy from Win10.
Currently there is **fw ver 2.12** on my ts100 and **DFU:3.43**.
After copying ts100.**hex** changes to ts100.**rdy** as mentioned in your howto.

Thanks for your efforts!

[2017-08-06 15:16] Aglezabad commented on #38
The string translated: " Iniciar directamente modo soldadura en el encendido". It's not a literal translation but it has the same meaning.

About flashing in Linux, it does not work for me. This is my environment:

Ubuntu MATE 17.04 64bit
Kernel 4.12 (Custom, compiled by me)

I will check a solution for that (in another issue). But, to avoid delays on testing, I will flash in Windows 10.

[2017-08-06 17:25] Trezona commented on #39
Ralim, will this be a switchable feature in the menu?
I still prefer seeing the actual temperature dropping.

[2017-08-07 02:03] Ralim commented on #39
@Trezona  Of course! Anything where people could possibly want different ideas I add it as a menu option :)
I was planning to see the temperature there still, and just have the screen invert colours while cooling.

[2017-08-07 02:05] Ralim commented on #42
If the file changes to .RDY after you copy the file it should have flashed the file correct. Everyone's irons are currently running DFU 3.43 as that's the only DFU we have for the iron currently.

Honestly, If it's changing to .RDY it should have flashed the new firmware properly. Can you possibly try a different computer? Their DFU bootloader seems to have issues with some computers for no appare

[2017-08-07 15:23] Aglezabad commented on #38
I've flashed the translated firmware and it's working well. I want to know where are the other strings that I must translate to complete all translation.

[2017-08-07 16:19] tigert commented on #41
Seems that Wine runs the provided Windows EXE just fine.

However, since this is just a simple file conversion where you really want to draw your image to the correct pixel size, wouldn't a simple command line script or tool work best?

[2017-08-08 00:11] Ralim commented on #41
@doegox Fair enough, Ill probably be splitting the entire custom logo out into a Wiki page soon, I'll add this in there.

@tigert Good to know wine runs it well. I'm sure someone else can do it in a command line script, but I use C# for desktop apps normally during work so its what I have ready access to. More than happy for someone to create an alternate version for other operating systems if the

[2017-08-08 00:14] Ralim opened #44 "Setup IMU IRQ2 for rotation alert rather than polling"

[2017-08-08 00:53] Ralim commented on #38
Hi,
I believe I have moved all the strings into [strings.c](https://github.com/Ralim/ts100/blob/master/workspace/ts100/src/Strings.c)

If you could translate all the options in there as you feel appropriate?

At the moment the text "ON" / "SETTINGS" that appears on the home screen cannot be translated as they are burned into the image. When I rewrite the graphics driver for these they will be adde

[2017-08-08 06:15] tigert commented on #41
Just for the record, mono opened the binary EXE fine too.

   ```mono TS100.Logo.Editor.exe```

[2017-08-08 06:38] #44 closed

[2017-08-08 11:09] Ralim commented on #38
I have pushed out an alpha of 1.17. This should be complete pending a new setting being translated and your testing. :)

Also, the new font does add the rest of the common ascii set. Not sure how it works out but I'm looking forward to being able to support accentuation so it looks better for you :)

[2017-08-08 11:09] Ralim commented on #39
I have pushed out an alpha of 1.17 that adds this as just blinking the temperature. I'm not sure if ill do full-screen inversion or not, what do you think?

[2017-08-08 11:32] Trezona opened #45 "Temperature Update Rate not selectable on Alpha 1.17"
Hi Ralim, love the new fonts!!
I cannot seem to make any changes to the "Temperature Update Rate" on alpha 1.17
Its stuck at "F"

[2017-08-08 11:42] Ralim commented on #45
I'm an idiot, should be patched (I just updated the files for the 1.17 alpha. Can you download and test again. Thank you for spotting this so fast.

[2017-08-08 11:44] Trezona commented on #45
No problem at all, will test now!

[2017-08-08 11:48] Trezona commented on #45
Working great! Thanks very much.

[2017-08-08 11:49] #45 closed

[2017-08-08 11:49] Ralim commented on #45
No problem, thanks for spotting my typo so quickly. :)

[2017-08-08 11:54] Ralim commented on #36
@Gregory1981
Just a small note to let you know that the newest release alpha I've put up and all following firmware has a new font, that is a better fit and looks a lot better in my mind.

I'm still planning to bring back the temperature symbols too, along with more animations in the future.

[2017-08-08 11:57] Vidalcris opened #46 "Smaller delay for sleep mode ?"
Hi,
This firmware is awesome but i just would like to be able to set the sleep time to 0.1min.
Do u think you could add this in next update ? :p

[2017-08-08 12:27] Gregory1981 commented on #36
Hi.
Thank you very much for new update. New font looks amazing. :)
Blinking during cooling down to safe temperature is great feature. Thanks a lot for that.
Thank you for extend the standby temperature to 50 degrees.
Screen orientation nicely set now itself to right hand orientation after power up, but after one second flip back to left hand and then again back to right hand :) Small hiccup? Maybe

[2017-08-08 12:38] Ralim commented on #36
Glad you like the new font :)

I'm still trying to figure out the best way to handle the orientation detection. Because the accelerometer used in the iron defaults to the left handed mode, there isn't really a huge amount I can seem to do. I. Still trying other ideas, but at the moment I tend to just hold it in the right hand mode as it powers up and that seems to help it stabilize.

Because of th

[2017-08-08 12:42] Ralim commented on #46
Yeah I'm sure I can add something.
I'm not sure how best to handle it though. Currently my best idea was to add a setting for fast mode, that divides it by 10. So it would change it from 1-30 minutes to 0.1-3 minutes.

Thoughts?

[2017-08-08 12:47] Vidalcris commented on #46
I was thinking just using seconds instead of minuts..
I personnaly dont see the point of using a sleep delay longer than 1 minuts ;)
You could set the max value to 600 then.. and minimum to 1 !

[2017-08-08 12:52] Gregory1981 commented on #36
Thank you for answer.
Tryed to find the link to paypal but can't. Is your email linked to your PayPal account?
And just found another issue. When screen is orientated upwards or is orientated to the left device is not going to standby mode. Maybe way how acceloremeter check the movement doesn't react to one of the axis or when one axis (Y) is orientated close to its minimum or maximum value and re

[2017-08-08 13:06] Ralim commented on #36
Hi,
https://paypal.me/Ralimtek is the link, but it is also attached to my email afaik.

Hmm that's an odd bug, that shouldn't be happening. The settings for axis are the same (I'm using the accelerometers built in movement detection rather than checking the values myself). I might suggest maybe turning down the sensitivity and testing if you can? I'll try and test it further tomorrow as well.

I t

[2017-08-08 13:10] Ralim commented on #46
Alot of people use it set to around 5 minutes, as they don't want to be waiting for the heatup cycle everyone to come to use it. (ie if your making up cables, so you solder a joint then heatsink etc and come back to it cool again). Also don't want to put too many heat cycles on the tip (though not actually sure if that's better or worse than staying hot).

I'm not that cruel as to make someone do

[2017-08-08 13:16] Vidalcris commented on #46
Oh ok i see :)
I'm using it for small things when i'm working on my quadcopter (i mean during 1 hour of work i will use the iron around 1min : 6 x 10seconds)
Thanks a lot in advance for this modification :)

[2017-08-08 20:34] tigert opened #48 "Voltage cutoff when not soldering?"
I tried the new firmware today with a (non-full) 4S LiPo, it correctly showed an almost empty battery icon.

I was testing the "blink temperature until safely cooled" feature, and then forgot about it, leaving the iron plugged on the lipo on the table. I was later surprised to find the battery at ~1.5V per cell, so something had drained it.

Would anyone have an idea how much power the iron consum

[2017-08-08 20:38] awigen opened #50 "Turning off coolingblink doesn't work"
Not a fan of the blinking temperature and the setting for turning it of doesn't actually work.

[2017-08-08 20:43] awigen opened #51 "Feature request: Autostart heat to sleep temperature"
It would be nice if the autostart setting was enabled there was also an option to startup in sleep mode.

1. Power is applied, soldering iron heats to sleep temp
2. Soldering iron is picked up and heats to work temp

[2017-08-08 21:43] Ralim commented on #51
Yep, can do :)

[2017-08-08 21:48] Ralim commented on #48
I don't have the measurement near me but it does pull a few ma when running. Low voltage does not run when not in soldering mode, otherwise it can become a pain if you set it incorrectly. Ie if you set it to 5s then use a 3s it would turn off as it's too low. So the tradeoff at the moment is that the cut off will stop the iron heating and running the battery quickly but can't really stop the iron

[2017-08-08 22:14] kimble4 opened #52 "Less sensitive timings for simultaneous button press?"
I'm finding that pressing both buttons simultaneously is very unreliable.  Maybe it's my hands, maybe it's the quality of the switches, but about half the time I attempt to press both buttons simultaneously it is read as a press of whichever button happens to trigger first.  (This is particularly annoying if you want to get into the Extras menu and accidentally end up with the iron heating up.)

P

[2017-08-08 22:38] Ralim commented on #50
Yep, fix is coming in a few hours. I'll message back when I push the fix.

[2017-08-08 23:10] awigen commented on #52
I second that, I find the timing quite sensitive.

[2017-08-09 00:02] #50 closed

[2017-08-09 00:10] Ralim commented on #51
I have added this option in the latest tester version.
However, I don't think this work overly well as the accelerometer is rather noisy at startup as it settles into operation. Curious to see your thoughts on this.

[2017-08-09 00:11] Ralim commented on #52
@awigen @kimble4 Can you test the latest release if it's easier for you?
It's hard for me to test this apparently :/

[2017-08-09 00:36] Ralim commented on #46
The latest release should have added this :)

[2017-08-09 00:53] M1k3y-shack commented on #11
Just wanted to let you guys know, that the flash script from @awigen works like a charm.
I don't know which kind of voodoo he used since I tried the exactly same thing his script does about 10 times and it always failed. But his script just worked on the first try. Anyway, thank you very much for providing it, and if I can help with testing let me know, I have access to about a dozen machines all

[2017-08-09 04:31] Vidalcris commented on #46
Thanks a lot ! you are the best ;)

[2017-08-09 05:03] Vidalcris opened #53 "Menu suggestions"
I got two idea that maybe you would add ;)
-To be able to exit the menu by pressing boths buttons at the same time.
-in the menu : if pressing the button (USB side) it should stop cycle on main screen.

(Auto cycle stop is better imo if you want to choose between those two ideas ;) )

[2017-08-09 05:03] Vidalcris commented on #52
Way better imo ;)

[2017-08-09 05:08] Ralim commented on #53
The first is trivial to add, the latter is not. So I'll add the first one tonight and then the other when I get a chance. :)

[2017-08-09 05:09] Vidalcris commented on #53
Thanks a lot man ;)

[2017-08-09 05:18] tigert commented on #48
Yeah, true.

I guess if voltage at boot is lower than the set cutoff voltage, one could have a timeout for the power-off so you can change the setting?

Or I wonder if you can reliably detect if you are on battery vs power supply (voltage drops over time) and do some logic based on that.

[2017-08-09 05:28] JoshuaACNewman opened #54 "Regaining boot screen platform independence"
The boot screen custom image was really neat. I'd love to have it back, but don't need a whole application to make a 96x16 1 bit bmp. I'm on OSX and was enjoying that little feature.

Can we get back the USB drive functionality? Or is there another platform-independent way to put in a file?

[2017-08-09 05:51] Ralim commented on #54
Hi, the program converts your bitmap into the orientation and alignment to suite the oled screen which dramatically removes complexity on the iron. So it's not just making a 1 bit bitmap. Though I agree it's complete overkill. You can run the program under mac and linux using mono. It's also a one time deal (keep the .hex file for future use). In the future it will compile fully for Mac and Linux

[2017-08-09 06:14] Trezona commented on #53
Am I correct in saying that by pressing both buttons here will also save any settings that you have just made before exiting the menu?

[2017-08-09 06:16] Ralim commented on #53
Yep :)
Haven't pushed a release yet that has this in it though, Will be doing that shortly.

[2017-08-09 06:23] Trezona commented on #53
Nice!
This will be great as I feel that with all these new features you will be implementing in the future the size of the menu structure will be rather large😉

[2017-08-09 06:49] Ralim commented on #48
Yeah, fear of locking someone out has stopped me trying anything particularly complex.
Also, the unit only draws 0.2W when running (with the screen on), but with the heater off. So most batteries this really doesn't do much very fast. Even with the screen off the unit draws 0.18W.

The iron cannot turn off its internal power supply, it can only turn off the screen. So there isn't a huge amount rea

[2017-08-09 06:52] Ralim commented on #53
Yeah, it is getting lengthy :/
I will be open to suggestions on a re-ordering if people want in the future too :)

[2017-08-09 07:00] Trezona commented on #53
Yes good idea. Have all the most important (needed) changes in front of the rest. This alows people to make these changes quickly and exit.

[2017-08-09 07:54] Vidalcris commented on #53
@Ralim just to be sure. Have u well received my donation?

_Sent from my HONOR PLK-L01 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-09 08:00] Ralim commented on #53
Yes indeed, thank you!
I need to make a thank you file somewhere to let people know.

[2017-08-09 08:18] Vidalcris commented on #53
My pleasure, you deserve it ;)

[2017-08-09 08:51] Aglezabad commented on #38
Hi Ralim:

Thank you for your work. I haven't checked the new alpha version yet. I will try to test today if possible and give you the rest of translated strings.

Regards.

[2017-08-09 09:40] Vidalcris commented on #51
What about using a delay at start when this option is enabled ?
The delay should be cancel if we press tip button to heat the iron.
10 seconds could be fine then ;)

[2017-08-09 12:09] kimble4 commented on #52
Yep, that's solved it for me.  Brilliant!

[2017-08-09 12:16] Ralim commented on #52
Awesome! Ill close this, but open it if it gets harder again :)

[2017-08-09 12:16] #52 closed

[2017-08-09 12:46] Ralim commented on #38
Just an update to this. The translation worked well, except my fonts not in unicode order so I need to re-order some of the glyphs for it to work. So it will be coming soon :) Just need to spend a bit of time shuffling stuff around :D

[2017-08-09 12:46] Vidalcris commented on #53
I just got another idea to exit menu.
If we press usb button for more than 2s we come back to main screen and nothing happen until we release the button :)

[2017-08-09 15:19] Vidalcris opened #56 "Screen blinking super fast in sleep mode"
When the temperature is under 65°C the screen start to blink very very fast.
That happen only on sleep mode (my delay is 10sec)

Edit : problem do not occure if the screen blink is not activated btw ;)

[2017-08-09 16:15] MarSoft commented on #11
I can confirm. Just used the flasher script to successfully upgrade from 1.16.3 to 1.17-alpha2. Works like a charm.
My setup: Arch Linux, qtile window manager, udiskie-based automount. Important note: flasher script was unable to disable automount, but that didn't prevent it from working.
Thanks!

[2017-08-09 16:39] Gregory1981 commented on #36
Release after release is much, much beter :)
I was quite sceptic about sleeping time in seconds, but when tryed it I really foud it useful. I dont't use soldering iron at home to often and was alwas worry about burn myself or burn surroundings. But when tryed the newest firmware I really found very useful. Thanks a lot for newest release :d
And now found there is no problem anymore with getting de

[2017-08-09 21:47] awigen commented on #51
Masking the the accelerometer for the first 5-10 seconds should do the trick.

[2017-08-10 07:30] Ralim commented on #56
hmm, right. I'll fix this in a few hours.

[2017-08-10 07:34] #56 closed

[2017-08-10 07:35] Ralim commented on #56
... Or i can fix it now :P Can you test the newest release?

[2017-08-10 08:37] Vidalcris commented on #56
testing right now.

[2017-08-10 08:38] Vidalcris commented on #56
Where are u from ?

[2017-08-10 08:41] Vidalcris commented on #56
The screen is not blinking anymore on sleep mode or i did something wrong ?

[2017-08-10 08:53] Ralim commented on #56
The screen is only mean to blink in the cooling mode at the moment? The screen blinking on sleep was an accident.

[2017-08-10 08:58] Vidalcris commented on #56
ok so its working now ;)
(i contacted you on facebook if you are ok to add me ;) )

[2017-08-10 09:09] Vidalcris opened #58 "Temperature setting"
I think the first parameter in the menu should be the temperature setting.
Sometimes i use the iron to repair 3D models and the heating is so fast that i cannot change the setting temperature fast enough.. and so my tip is way too hot for my purpose at this moment and i have to wait until it cool down to my new setting.
With the temperature setting in the menu we could change the setting before he

[2017-08-10 10:14] Ralim commented on #56
Yeah its all good now :)
I dont really use facebook that much these days :/

[2017-08-10 11:32] Ralim commented on #58
I normally just use a sponge 😛
I'm not really sure I want to provide two ways to change the temperature since it means that people will get confused as to how to set the temperature (trust me, they will).
Im happy to leave this here and see if others pipe up voting for this though, just dont want to add any more confusion to all of this :)

[2017-08-10 11:43] Ralim commented on #51
Yes I agree that masking the input for the first 10 seconds would work,
Ill make up a testing build to test this soon.

[2017-08-10 11:43] #46 closed

[2017-08-10 11:46] Ralim commented on #53
I've already added the two button exit in the newer firmware, as this is by far the easiest option (and faster).

RE edit:
It was meant to be cooling 😛 But yes I can see this, I kind of want a middle ground, for it to mean "cooling" but the tip is still "hot" So dont really want to use HOT but might have to. Any further ideas ?

[2017-08-10 11:51] Ralim commented on #36
Glad to hear it's getting better for you. Users enjoying the features is the reason I like to keep adding features (Plus I get to enjoy the features too).

The blinking during sleep was an accident. Its only meant to be blinking in the cool down mode (and only if its turned on!). That has hopefully been fully patched in the latest release :D

[2017-08-10 12:05] Vidalcris commented on #53
Yeah use HOT ;) its my latest idea lol

[2017-08-10 12:06] Vidalcris commented on #58
mhm ok the sponge is a good idea :p
Let see what other people think about that !

[2017-08-11 03:34] JoshuaACNewman commented on #54
Really interesting! Thanks!

I'm trying out Mono, but it's outside my field, and it's giving me an error. Thanks for the offer to output my icon, but I don't want to ask you to run around for me! I'm enjoying your work developing for this tightly constrained environment. I'm happy to wait until it's cross-platform.

[2017-08-11 03:49] Ralim commented on #54
No problem, sorry I can't give a magic answer about this.
It was a design choice I had to make early on sadly.

Honestly, im happy to convert files at the moment for people who are stuck without an easy means to convert the file. Since cross platform could be a bit further away as its not a big priority as of yet.

[2017-08-11 04:27] Ralim commented on #42
@ErhardDu Have you made any further progress on this? Can you confirm if you are using the windows built in copy feature or another tool?

[2017-08-11 04:29] Ralim commented on #39
@ErhardDu
Have you tried the latest releases to look at this? Is the blinking okay or would you prefer full inversion?

[2017-08-11 05:53] Trezona commented on #58
I must say I prefer it the way it is. But then again I only use my iron for soldering.

[2017-08-11 06:10] Ralim commented on #58
@Trezona I haven't changed it yet. Going to let this one sit or a bit and see what people suggest.
I'm personally with you as well. (But open to what the community wants).

[2017-08-11 06:33] Ralim commented on #38
@Aglezabad Could you please test the release I just pushed up. Should add support for the accentuation. Let me know you spot any errors (you will spot them way faster than me).

[2017-08-11 06:34] Ralim commented on #51
@awigen @Vidalcris The latest push includes a mask on the accelerometer. Can you please test and check it works on your devices?

[2017-08-11 06:39] Vidalcris commented on #51
It work well on my side ;)

[2017-08-11 07:35] Aglezabad commented on #38
Ok, i will try it asap.

2017-08-11 8:33 GMT+02:00 Ben V. Brown <notifications@github.com>:

[2017-08-11 09:25] Vidalcris opened #59 "Boot logo as screen saver ?"
Is this possible to use the boot logo as screen saver.
This screen should appear only on the main screen (after 5sec delay or so ..)

At start the logo should stay forever until we press a button ;)

[2017-08-11 11:12] csdpm commented on #58
I've only had my TS100 a couple of days but I was a bit confused not to find a default temperature setting in the Settings menu when I first opened it.

[2017-08-11 11:18] Vidalcris commented on #58
Oh btw i dont say that the temperature parameter should not be available in heating mode.
I just ask for the temperature parameter to be added in the menu ;)

@csdpm thanks for your help :)

[2017-08-11 11:20] csdpm commented on #53
As a new user, the 'Cool' (I understand that it was intended to be 'Cooling') does seem a odd when, from the flashing temperature indication, it definitely isn't cool!

Given that the only way to restart at this point is by pressing the 'On' button, then what about 'OFF'?

[2017-08-11 14:13] ErhardDu commented on #39
Awesome!
For me it would work best if the whole thing  would invert.
Thanks for your effort!

[2017-08-11 14:16] ErhardDu commented on #42
Hi, on my second try the whole thing works for me. Must have made a fault the first time.  Great!

[2017-08-11 14:18] ErhardDu commented on #42
By the way: What does the F and T in the settings mean? Is it an abbreviation?

[2017-08-11 14:24] #42 closed

[2017-08-11 14:32] ErhardDu opened #60 "German translation"
I bet I'm not right here but I'm new to github and so I don't know where to post this:
 I hereby offer to make a German translation if it's not too hard. If you tell me the source file I'll download it and modify.
Have a nice weekend!

[2017-08-11 23:20] Ralim commented on #60
Yep, you have the correct location :)
Issues as basically used to organize stuff that's happening (good or bad).

The file that holds the text is [strings.c](https://github.com/Ralim/ts100/blob/master/workspace/ts100/src/Strings.c)

If you can provide a translation of the text in the file (just copy and paste the English text and update where needed, then post back here). I'll make up a test build

[2017-08-11 23:21] Ralim commented on #42
F / T = False / True
Glad it worked on the second try. No idea why it didnt the first time around.

[2017-08-12 00:36] Aglezabad commented on #38
Hi:
I have updated the ts100 and I really like the new font. Good job. I didn't found any problem nor typo in the screen, so it's working for me.

Also, the short words of the settings menu will be the same, to avoid confusion. So the translation is done for now.

Have a nice weekend.

[2017-08-12 07:14] perillamint commented on #25
I purchased Olimex STM32-H103 board and flashed that "DO NOT FLASH_Flash Backup.hex". After some configuration (Pull down PC11), It boots successfully on that board.

I think I could start bootloader development on this board rather then directly on iron.

[2017-08-12 07:51] Ralim commented on #25
Hey,
Yeah I have been using one of the blue common f103 breakout boards to work on. I just haven't had much time. The only issue I could see with this is getting the bootloader working well without the crystal. As I'm not sure if it *just works* at room temperature, or if they are performing a calibration on the internal oscillator. Since I think the internal oscillator tolerance is wider than USB

[2017-08-12 08:50] kokein opened #61 "What is the font =] ??"
Hi Ralim,

Can You tell me/us what font did you used ? :)
It's very nice !

[2017-08-12 10:10] Ralim commented on #61
Uhhh, It's from a font pack I picked up somewhere online (Attached).
[font.zip](https://github.com/Ralim/ts100/files/1219665/font.zip)

[2017-08-12 10:36] perillamint commented on #25
@Ralim I tested it using rcc_clock_setup_in_hsi_out_48mhz() instead of     rcc_clock_setup_in_hse_8mhz_out_72mhz(). It enumerates well and works well.

Host used: Dell XPS 9550

[2017-08-12 11:12] Ralim commented on #25
Awesome, if you want to develop it in a branch of this repo I can give you push access if that's easier? (Lets us keep the code for the iron fairly central). Thoughts ?

[2017-08-12 11:15] csdpm opened #62 "Display blanks in Cooling mode while still too hot to touch"
Hi,

I've noticed that the display goes blank in 'Cooling mode' before the tip has reached a safe temperature (before flashing stops). I guess this is a potential burn risk. (V1.17 Alpha 4).

I am using: Tip temperature 320C, Sleep timeout 1min, Sleep temp 200C, Shutdown time 5mins.

The solution might be to prevent display turn-off until the temperature is below the 50C flashing threshold. Maybe

[2017-08-12 11:27] Ralim commented on #62
Hi,
I've confirmed the issue here. The fix should be fairly easy. I'll push it out probably tomorrow. Thank you :)

I agree with the other thread and will be changing the cool in the next release.

[2017-08-12 13:36] ErhardDu opened #63 "Calibrating tip temperature with boiling water?"
Just tried to calibrate temperature with boiling water as this may give the most precise way to do it unless you live on Mount Everest. I noticed that this is not possible and gives an calibration error.
Is it possible to change this behavior?

[2017-08-12 13:39] Ralim commented on #63
The tip calibration is for calibrating offset, not actual temperature, as the thermocouple used has a fairly well controlled response curve.

So to use the temperature calibration you calibrate when the tip and the unit are at room temperature. (there is a temperature sensor inside the handle that is used for this as well as cold Junction compensation)

[2017-08-12 13:58] kokein commented on #61
Ok =) Thank You!
Nick

sob., 12.08.2017, 12:10 użytkownik Ben V. Brown <notifications@github.com>
napisał:

--
Pozdrawiam,
Mikołaj Sadowniczy
m.sadowniczy@gmail.com

[2017-08-12 14:04] ErhardDu commented on #63
OK thanks :)

[2017-08-12 14:04] #63 closed

[2017-08-12 14:16] perillamint commented on #25
BTW, I tried to load original firmware using DAPBoot. It *seems* loads find but Stock firmware's USB does not enumerate with error -71

I suspect clock configuration but I'm not sure. Does anyone know any clue about this?

[2017-08-12 14:27] perillamint commented on #25
Hey @Ralim, Could you make documentation about pads on small STM32F103 board in TS100?

I'm planning to get another TS100 in September and that information will be great help

[2017-08-12 15:05] ErhardDu commented on #60
[code]

[2017-08-12 17:49] Cpt-Huck commented on #60
Nice ! but actualy I like the eng lang more :P.. still will try the german version in the future since im from germany.

[2017-08-12 18:18] Maartenwut commented on #25
![untitled-1](https://user-images.githubusercontent.com/17366381/29243280-5d4a8ed4-7f9b-11e7-8547-0dfb2c55ac3c.png)

[2017-08-12 19:17] vifino commented on #25
Wow!
Looks like some progress happened!

My iron will be here in the next couple of days - tell me if you need testers.

[2017-08-13 02:05] Ralim commented on #25
Hi all,
@perillamint I'll try and document the pads for you. I recently picked up another one from work for working on the bootloader. I'm 99% sure it will be the clock configuration. The firmware expects the bootloader to setup the clocks for 72MHz. Also ensure the bootloader is compiling and fitting, as the firmware expects to start at 0x8004000 off memory (so therefore size of the bootloader sh

[2017-08-13 02:06] #61 closed

[2017-08-13 02:38] Ralim commented on #38
Awesome, I'll close this issue for now, and Ill re-open it & tag you if newer firmwares need translation :)

[2017-08-13 02:38] #38 closed

[2017-08-13 02:40] Ralim commented on #51
I'm going to close this for now as @Vidalcris has found it working, and it works on both of my units.
Anyone can re-open this if there are any future issues with this.

[2017-08-13 02:40] #51 closed

[2017-08-13 02:51] Ralim commented on #39
@ErhardDu The latest (1.17.5) release adds display inversion instead. Can you test this please ?

[2017-08-13 02:53] Ralim commented on #60
@ErhardDu @Cpt-Huck The latest release has the German option available for download. Could you please test and share any feedback? Hopefully, all the text worked in the font correctly. If anything didn't can you please let me know :)

[2017-08-13 02:54] Ralim commented on #59
The OLED screen used on the iron can suffer from burn-in quite quickly. This was the main reason for the screen turning off automatically (it doesnt really use much power).

However having the boot logo stay until you press a button makes sense. :)

[2017-08-13 02:56] Ralim opened #64 "Adding logo support & smaller font"
This was originally started by @Vidalcris.
Adding logo's as an option instead of the text on the shutdown and sleep screens instead of the text.

This will probably be a 2 part issue. Firstly getting the image showing and working, and secondly having smaller text font to show a warning next to the image.

[2017-08-13 03:23] perillamint commented on #25
I dumped rcc memory regions and it differ quite a bit. I'll try document this changes and apply this hack on bootloader.

I think this change could not merged back into dapboot mainline, so I think only option is fork and maintain dapboot for TS100.

[2017-08-13 03:29] Ralim commented on #25
Yeah, I agree that we will have to maintain our own fork of dapboot.
Should not be too hard to maintain, and will just need to keep an eye on what happens to it.

[2017-08-13 09:34] Vidalcris commented on #59
Yeah i said screen saver but this is not really what i mean ;)
The screen should continue to turn off automatically but after showing the boot logo :)

[2017-08-13 09:42] Cpt-Huck commented on #60
#ifdef LANG_DE
const char* SettingsLongNames[14] =
		{
		/*These are all the help text for all the settings.*/
		/*All must start with 6 spaces so they come on screen nicely.*/
		"      Stromversorgung. Setzt Abschaltspannung <DC 10V> <S 3.3V pro Zelle>",
				"      Ruhetemperatur <C>", "      Ruhemodus nach <Minuten>",
				"      Abschaltzeit <Minuten>",
				"      Bewegungsempfindlichkeit <0.Aus

[2017-08-13 10:38] Ralim commented on #59
Could be fairly easy to add it so that it shows when the unit is idle on the main screen (where the symbol of the iron normally appears) when its in-active until the screen turns off. Don't really want to cover up the screens you use when using it (sleep, shutdown, soldering) and in the other ones (settings, calibration) your actively using the unit. Thoughts ?

[2017-08-13 10:42] Vidalcris commented on #59
Yes i agree with everything you said ;)

[2017-08-13 10:49] Vidalcris commented on #64
Oh that will be an option on the menu ?
Next step is a software to modify the theme :p

[2017-08-13 10:56] Vidalcris opened #65 "Sleep mode not working (accelerometer/gyro not calibrated ?)"
I even tried to reduce the sensibility to 2 but this is not activating sleeping mode anymore.

[2017-08-13 11:05] csdpm commented on #62
Unfortunately extending the display timeout has introduced (re-introduced?) a bug.

I've had to turn off the temperature blink in the 'Shut' screen - that whole screen invert flashing is _horrible_ (sorry). With blinking turned off, the screen goes into rapid flashing between the time it was turning off previously and when it finally blanks. Moving the iron during this period restores steady displ

[2017-08-13 11:24] Vidalcris commented on #65
Mhm weird i solved the problem by installing the original firmware again then come back to your..
My accelerometer was not working correctly anymore. Even with Alpha4.

If the accelerometer is working like in my quadcopter we should be able to calibrate him, right ?
Also even at Msense = 9 i need a pretty big movement to get out sleep mode.

[2017-08-13 12:09] Ralim commented on #65
Hi,
Did you power cycle the iron after changing the sensitivity? At the moment It only changes on power up. (that *is* something I need to fix as people forget).

It is only an accelerometer (no gyro and no magnetometer) so there is very little we can calibrate as there is no combination filter to tune (ie madwick or kalman). Furthermore the software actually uses a built in sensing function to th

[2017-08-13 12:20] csdpm commented on #39
I know I'm not the original thread owner but to me, the full screen flashing inversion is, um, horrible (sorry, just one opinion, everyone else might really like it!).

P.S. @Ralim: Can you please re-open #62

[2017-08-13 12:32] Ralim commented on #39
I personally don't like inversion, but as it's a feature that defaults off* I just leave it turned off.

I'll wait and see what others think, I can easily change it back to just blinking the temp if that is what people prefer.

* I only bump settings version on full releases, which means if you follow along on alphas not all settings are 'reset' after programming.

RE: PS normally just wait and I'

[2017-08-13 12:40] Vidalcris commented on #65
Yes i tried to restart the iron.
I had to hit the ts100 to be able to get out of sleep mode even at 9 for the sensitivity.

About the accelerometer this is what i think is weird, because imo it need to calibrate to know when he is not moving.
They should have used a gyro instead :-/ (oh btw the accelerometer allow the screen orientation ;) )

[2017-08-13 12:47] #62 closed

[2017-08-13 12:53] csdpm commented on #39
Many thanks Ralim - I wasn't trying to hassle you, I'm just not that familiar with how github works yet when it comes to closed issues, ie. whether you would automatically see it. :)

[2017-08-13 12:54] Ralim commented on #39
I get an email for *any* reply to *any* issue atm :) Or you can use the @ symbol to tag others into the conversation.

[2017-08-13 12:55] Ralim commented on #65
That's... Very odd. Out of curiosity have you opened your iron at any point in time? The one time I had issues with the sensitivity was the small inner board actually coming loose (it caused other issues too).

A sensitivity level of 9 the IMU is nearly as sensitive as possible. Which is one limitation for this application that if you move too small we just can't measure it above the noise level o

[2017-08-13 12:56] csdpm commented on #39
I should have guessed that! Just me being dumb, I should have realized. Thanks for the tip.

[2017-08-13 13:03] Ralim commented on #60
I've updated in the latest alpha to your translation. I have no idea which would work for the cooling prompt. Though in the next version I'll be adding a symbol, so we may actually just remove the text eventually.

[2017-08-13 13:17] Vidalcris commented on #65
I have not opened my ts100 and i received it 10days ago, so its a new unit ;)
I'm pretty sure that the accelerometer was in a sort of bug..
I restarted many time and as i said, i had to hit pretty hard the iron to get out of sleep mode.

That happened just after i flashed the latest Alpha 5. at this point i was unable to get into sleep mode.
Then i flashed Alpha 4 and i got the problem to get out

[2017-08-13 14:49] csdpm commented on #59
It would be nice to have a settings option to completely turn off the screensaver (the animated picture of soldering iron?) and have the iron power up straight to the Shut (Off) screen.

It would then be immediately possible to see the ambient tip temperature, calibrate it, calibrate the voltage etc. There is already direct access to the setting menu from there (you just can't get back). It would

[2017-08-13 15:04] Vidalcris commented on #65
Ok the problem happen again .. i was using msense =9.
Now even if i go back to 7 this is not working.

[2017-08-13 18:09] csdpm commented on #62
Excellent, thanks Ralim. Confirmed fixed... and I definitely like Off better :)

[2017-08-14 05:55] Trezona commented on #39
I think i prefer just the temperature flashing!

[2017-08-14 09:15] Ralim commented on #64
That was my plan, as some users may prefer the text. (And it's very little extra code).

Maybe one day, that would be alot more work :)

[2017-08-14 09:33] Ralim commented on #59
Hmm this is interesting,
The Shutdown (Off) screen and the ambient temperature screens are technically different. However, I see where you are going with this.

Currently, there is still only one press (as the bootup image is shown for fixed time).
Would it work instead to have two options:
1. Replace the logo with the current tip temperature (Which would also disable the cooling/off/shut prompt)

[2017-08-14 09:55] csdpm commented on #59
Thanks. that sounds like a good compromise... I think.  I'm all for anything that saves you too much additional coding. :)

One of the reasons I mentioned going straight to the Off screen was that I hadn't (yet) found a way of getting to the Temperature Cal. that didn't involve some degree of (accidental) tip heating, ie. turn on, immediately do the two button turn-off to get to the Off screen (ma

[2017-08-14 10:02] Ralim commented on #65
Hi,
It's interesting, I have noticed the accelerometer sometimes does not behave well at high sensitivities, however, it usually gets locked into "movement occurred" mode rather than not triggering movement.

Can you try a force-reset of your settings (hold the button near the USB while booting until it tells you it reset) and then power cycle?

I currently don't have an active hex for debugging t

[2017-08-14 10:09] csdpm commented on #59
Edit: Found the direct path - 2 button press from the main screen. Sorry.

What you suggest sounds ideal then!

[2017-08-14 10:11] Vidalcris commented on #65
Hi :)
So i just tried a reset then msense = 8 the problem is the same.
Then i changed back to 7 and restart.
It work but when in sleep mode i have to do a fast movement to reactivate.
If i move slowly i have to do a 180° to reactivate ^^

[2017-08-14 10:14] Ralim commented on #59
Thanks :)
The amount of code is not an issue, more trying to keep it simple so upkeep is easier. 😄

Normally to enter temperature calibration I follow the following :
1. Press both buttons on the idle screen (shows the soldering iron picture / logo)
2. The unit will now show the current tip temperture
3. Press the button near the usb end, and you are in calibration mode :)

Also, you *really* don'

[2017-08-14 10:17] Ralim commented on #65
Damn :/ This might be an issue in your accelerometer. Ill make up some testing firmware when I get a chance. :/

[2017-08-14 10:21] Vidalcris commented on #65
Oh dont worry, anyway if there is a problem with the accelerometer that can not be solved a debug will maybe not change anything...
But ^^ i'm pretty sure it is working correctly with original firmware.. i will try again right now ;)

[2017-08-14 10:24] Ralim commented on #65
The original firmware does not use the built in motion detection, but instead reads the value of the acceleration values. This means there is a completely different algorithm. I'll make up a testing firmware that shows the threshold on screen and shows when motion was tripped.

[2017-08-14 10:29] Vidalcris commented on #65
oh ok this is weird then .. am i the only one to have this problem ? ^^
Is the method they use more complicated to code ? :p

[2017-08-14 10:41] Ralim commented on #65
The method they used would not work correctly in some situations (never let the iron sleep), and it also slowed down the entire system as it polled the unit for measurements really often.

Basically what they did was looked to see if the acceleration in the axis changed significantly, which meant it took more deviation to trigger a wakeup, and because of the polling nature it would completely miss

[2017-08-14 10:59] Ralim commented on #65
If you are reading the datasheet, chapter 5.6 "Freefall and Motion detection" is the part of the chip we use. The sleep/wake-up is just used to save power in the accelerometer which we don't use.

[2017-08-14 11:14] Vidalcris commented on #65
I see that there is offset that we can modify OFF_X, OFF_Y,OFF_Z.
That could maybe solve my problem ? :)

[2017-08-14 14:25] csdpm commented on #39
It just goes to show how many different viewpoints there can be on one display aspect.... If anything, I might have said the opposite and suggested 'Off' when it turns off and 'Cool' when it is cool (It might be different if there was space to write 'Cooling')  :)

[2017-08-14 14:40] Trezona commented on #39
Yes i was hoping that the text size could be reduced to fit in "Cooling" during the cooling fase, then display "Off" when it reaches 50 degrees, which is actually in an "Off" state :-)

[2017-08-14 17:19] EricJanVanDenBogaard opened #66 "Temperature when element off"
Would be nice to be able to see if iron is already cold when switched off/idle/standby mode.

[2017-08-14 17:21] #66 closed

[2017-08-14 17:21] EricJanVanDenBogaard commented on #66
sorry is already a topic i just saw.

[2017-08-14 18:12] EricJanVanDenBogaard commented on #39
would also be nice > when cutting power, and applying power again, when tip is still hot, show flashing hot temperature again until cool down and go to iron icon again, or other idle mode

[2017-08-14 23:55] Ralim commented on #39
I think it is certainly possible to have the text change once the unit has cooled down. At this point in time, all text is created from a pre-rendered font that is a fixed size. Could I add scrolling text instead? Would this be more or less annoying?

@EricJanVanDenBogaard It would be easy to have it check the tip temperature, and if its hot have it go automatically to the temperature warning scre

[2017-08-14 23:59] Ralim commented on #65
The IC automatically uses all 3 axis to detect movements for us, as it looks for a change in the measurements. I.e. if any of the axis change by more than the threshold amount for a period of time it will trigger the movement detection.

The absolute offset of any of the axis does not actually apply in this case as we are only looking at the change per period time.

One option would be to reduce t

[2017-08-15 16:14] dogtopus opened #67 "Report sensor error if the tip is not plugged in/broken"
This feature is available on the official firmware (it will display something like "SEN ERR" instead of showing a wrong temperature reading)

[2017-08-15 18:44] tigert opened #68 "left hand orientation and settings image is confusing"
The left / right hand screen orientation and the settings image ("press this button for settings") image is confusing because it is flipped compared to the iron you are holding on your hand.

So while it is correct in the image itself, the tip of the iron could point to the actual tip of the iron, so it would not be backwards and you wouldnt accidentally press the right button where the arrow poin

[2017-08-15 18:53] tigert commented on #58
Currently it remembers the last temperature you set it to, so you will need to change it if you do something different.

I guess if the last saved temperature would also appear as a "setting" as the first item of the Settings menu, it could help this case and the downside would be rather minor, as you don't normally* use the Settings menu very often.

(* we are not normal, we get excited about fir

[2017-08-15 18:57] EricJanVanDenBogaard commented on #39
That would be great !

[2017-08-15 18:58] Vidalcris commented on #58
Also @Ralim i would personnaly prefer to be able to stop the iron from heating will just pressing usb button, instead of the two button (there is way too much space between those button imo ...)
And then use both button to change temperature setting.

Like that i could just stop the iron each time i'm not using it instead of waiting for the sleep mode :)

[2017-08-15 23:51] Ralim commented on #58
@tigert Who said that we had to be *normal*.

I think I will add this as a menu option to the settings menu. Not sure how many people will use it, but cant really hurt to add it I guess.

@Vidalcris Can you split that out to a different issue :P

[2017-08-15 23:55] Ralim commented on #68
This is indeed linked into #64, as it will need to come after I make up the smaller font 😄

I'm surprised this wasn't an issue already, it must have been mentioned somewhere as I thought I've touched on this already. But anyway, yes this is on the road map for after #64 is completed. I intend to polish up a fair few of the screen writing code functions so updating this image at the same time makes

[2017-08-16 00:05] Ralim commented on #67
Hi,
Yes this certainly can be added. Can I ask if you have had a tip fail? (I've not heard of any yet so just curious)

[2017-08-16 03:13] dogtopus commented on #67
No I didn't. I only tested the case where the tip is unplugged.

[2017-08-16 07:21] Vidalcris opened #69 "Buttons usage"
i would personnaly prefer to be able to stop the iron from heating will just pressing usb button, instead of the two button (there is way too much space between those button imo ...)
And then use both button to change temperature setting.

Like that i could just stop the iron each time i'm not using it instead of waiting for the sleep mode :)
What are you all thinking about that ?

[2017-08-16 10:17] tigert commented on #68
I can help with the font, I like pixels :-) But the format is mysterious for me.
How does one define fonts?

[2017-08-16 12:42] perillamint commented on #25
My backup iron arrived today. I soldered ST-Link and flashed my bootloader.

It successfully loads stock firmware (without USB) and OLED shows text on it. However when I put your firmware, it does not turn on display.

Do you have any idea about it?

[2017-08-16 13:06] Ralim commented on #25
Interesting,
I'm using the same initialisation code as they do for the clocks etc, does your code jump to 0x4000?

Not massively sure what would cause it to hang, I'm happy to try on my development iron shortly (hectic week at the moment).

Can I ask which firmware you loaded? Also if you can inspect the program counter on the crash. My current best guess would be that the bootloader is not placin

[2017-08-16 14:00] perillamint commented on #25
I succeeded! The problem was this: https://github.com/perillamint/dapboot/commit/9966fbd641f371386cdb7a19c8ccacbd7eb4daf1

TS100 stock firmware assumes its bootloader turned on some STM32 peripherals. After I turn on USB and I2C, it works just fine.

[2017-08-16 14:02] perillamint commented on #25
Now, we need some way to flash patched DAPBoot bootloader using stock bootloader.

[2017-08-16 14:23] perillamint commented on #25
BTW, DAPBoot is not quite "fool proof" -- it could brick itself when user put large blob on it. I think we should mitigate this problem.

[2017-08-16 18:14] csdpm commented on #69
I have to admit, I'm rather hamfisted with the two button press too.

[2017-08-17 00:31] Ralim commented on #69
Thanks for splitting this out @Vidalcris.

A few people have had issues with the two finger button press, so this is definitely an issue.
However, I would rather not force a button change on users of the iron.
Would having a setting to swap the button functions work (ie swap double button press and the single B button press)? The alternative is supporting long button pressing the B button to exit

[2017-08-17 03:10] Ralim commented on #60
@ErhardDu @Cpt-Huck
Any further feedback on this or is it good to go?
Doesn't have to be perfect for now, just good enough for the first release, can always change/update this later on.

[2017-08-17 08:12] Vidalcris commented on #69
Yeah if you think users need to change temp often, this is not my case and i think most of the users are not changing temp all day long ;)
Anyway an option in the menu will work.

Tap detection is not a serious option imo..

I think the menu should have submenu soon :p

[2017-08-17 08:29] Trezona commented on #69
I also don’t change the temperature at all. I just use the "Boost" function every now and again.
I have also got so used to using the 2 buttons for powering off, this is really not an issue for me at all.

[2017-08-17 08:36] Vidalcris commented on #69
I dont know how u can use both button with no problems. And my hands are big..
I'm thinking to 3D print button with a better design...

I dont understand why those buttons are so far away ... even the original firmware use both buttons :-/
This is a flaw in the design imo..

[2017-08-17 08:41] Ralim commented on #69
I'm happy to add a menu option to effectively swap the functions :)
Tap detection was a joke (though possible technically).

I normally just use my thumb over both buttons to press them at the same time, or both hands. But it's not too hard to swap (I'll default the option to off).

[2017-08-17 11:35] karatektus opened #70 "Temperature on Startup screen"
I've been using this for  a while now and im loving it so far. One issue i ran into multiple times was this:

Im done soldering and need my Battery for something else. so i unplug the iron. A short time later im done and want to pack up, but I don't know how hot the iron is. If i now power it up again it doesnt show the temperature but the graphic which tells me how to start soldering.

It would b

[2017-08-17 12:11] Vidalcris commented on #70
U can press both button on main screen to see temp :)
But i agree that could be cool to see it directly on main screen.

[2017-08-17 12:18] karatektus commented on #70
oh thanks!
yeah it would still be usefull. if you miss one button it would heat up :/

[2017-08-17 15:26] perillamint commented on #25
I fixed self-brick issue with https://github.com/perillamint/dapboot/commit/e3a5a633d44b422397f8cb4b01636647ab44d84a this commit.

IMHO, we could do some beta(or alpha?)-testing from now.

What do you think @Ralim?

[2017-08-17 18:26] EricJanVanDenBogaard commented on #70
I agree with karatektus, this would be a good/necessary feature, it would  also be a warning when tip is hot, or use it as a feature, when power is interrupted, or when making ready for transport, and store equipment in backpack.

[2017-08-17 18:31] Vidalcris commented on #70
In fact the actual main screen is useless so we could just show some information like :
-Actual temperature (with danger logo if higher than 50°C)
-Heating temperature setting
-Boost setting...
-Even more .. but look like a lot of people dont want small fonts :-/

[2017-08-17 18:37] EricJanVanDenBogaard commented on #70
a auto cycle through (as temporary screensaver) of this info would be possible ? with option to switch on by button press.

[2017-08-17 18:50] Vidalcris commented on #70
Everything is possible .. the hardest thing is to found something ok for everyone :-/
Here is approximately what i mean : https://ibb.co/eVLtuv

[2017-08-17 19:35] erpalma opened #71 "Add lock mode to disable buttons"
Hi, thanks for the nice work!

I'd like to suggest you a new feature: lock mode. Sometimes it happens that I press buttons during soldering, usually when soldering in bad positions. It would be nice to be able to lock the buttons by, e.g., keeping one pressed for 5/10 sec, same for unlocking. Of course a on screen "LOCKED" message is necessary when a button is pressed.

[2017-08-17 22:39] EricJanVanDenBogaard commented on #70
I must say i like the current font, and would prefer a cycle through per item on the screen instead of adding a smaller in-screen font, but i guess that's personal taste of me.

[2017-08-17 22:50] karatektus commented on #70
I wpuld like to always be able to see the current temperature. But you could show that on the legt side and something else on the right.

[2017-08-17 23:52] Ralim commented on #25
Hi,
Can you confirm if this bootloader protects you from trying to flash to anywhere below 0x8004000?
I'm happy to make up some conversion firmware that would re-flash the bootloader. Just rather busy at the moment.

[2017-08-18 00:11] Ralim commented on #70
Hi,
I would have to agree with @EricJanVanDenBogaard that smaller fonts cannot be the only method used. I'm okay with extra information being shown in a small font, but cannot use small fonts for critical information (such as the current tip temperature).

I like the design by @Vidalcris with the logo setup and the text to the side. It would make a fairly decent replacement for the current idle lo

[2017-08-18 00:19] Ralim commented on #68
I have a reference font I'll currently go with most likely. So mostly I just need to sit down and encode it. 😄

FYI The format for the pixels is :
The screen is actually treated as a 8 bit high x 192 pixel wide strip. Where each byte in order is one 'strip' of pixels down the screen. The Most Significant Bit (MSB) of each byte is the top most pixel, then the next bit (7th) is the next pixel down e

[2017-08-18 00:38] Ralim opened #72 "Improve button handling to use up event rather than down"

[2017-08-18 00:41] Ralim commented on #71
Hi,
This is a very logical feature to add if users are running into this issue 😄
Currently this is not possible to implement until I re-work the button handling code a bit further to handle long button press detection (#72). Which is currently aimed for the 1.18 release.

This would probably end up being a feature on long press of the B button (the one near the usb end). Would that work ?

[2017-08-18 01:34] perillamint commented on #25
@Ralim Since DAPBoot does not support DfuSe, I don't think user could put negative number on `current_dfu_offset`

https://github.com/devanlai/dapboot/blob/master/src/dfu.c#L232

However, if we need real fool-proof, I think I could extend this patch(https://github.com/perillamint/dapboot/commit/e3a5a633d44b422397f8cb4b01636647ab44d84a) little bit to implement only allows flashing command within th

[2017-08-18 02:22] perillamint commented on #25
BTW, I think I could work on bootloader flasher in next week (or 2-weeks later, depends on my other works :)).

Since stock bootloader is quite fragile, I think bootloader flasher should implement some safety mechanism like payload checksum check to protect devices from "hard brick" scenario.

Another question is: Should we "merge" DAPBoot fork into your firmware repository? or should we create GH

[2017-08-18 02:42] Ralim commented on #25
Good to hear, I wasn't sure of memory how much protection it had for trying to flash the wrong thing :) Mostly just asking :)

It might be worth adding the extra protection just in case, can't hurt to add it :)

Yeah, I'm hoping I'll have more time soon to keep working on the firmware for this, just been a bit too busy with working. The .HEX file itself has a rough checksum in it, and the dfuse pr

[2017-08-18 06:18] perillamint commented on #25
I think cloning this repo to new group and put migration notice on this repo will be enough for redirecting people to new repo.

BTW, I'm planning to buy ES120 next month. It looks quite nice. I guess this DAPBoot port will work on ES120 without huge effort. I hope they didn't lock flash on ES120 like TS100 did. :)

[2017-08-18 06:23] perillamint commented on #25
Just FYI, I'm trying to mainline some of the patches from DAPBoot fork to original DAPBoot. Although we could not mainline all of our changesets, some parts like flash overrun protection will be helpful to other hardware.

https://github.com/devanlai/dapboot/issues

[2017-08-18 08:48] Ralim commented on #25
Hi @perillamint
I would have to transfer the repository rather than clone because I need to keep the links working, considering the number of people who seem to have issues finding the *releases* page I don't want to make them have to find a new home for it too :stuck_out_tongue:
Also, would need to ensure all links transfer correctly and don't break.

Heh, the TS100 flash is not locked afaik (was

[2017-08-19 09:23] EricJanVanDenBogaard commented on #25
Never had any problems with the boot loader on my Mac Book Pro,
is it possible to revert to the factory firmware with a new/different boot loader ?

[2017-08-19 09:37] EricJanVanDenBogaard commented on #64
About adding a logo... is maybe not that important, but maybe the option to enter a ID text/name could be useful if one is soldering at a workshop with people who also have a TS100 and soldering there. some tools are just a common thing :)

[2017-08-19 09:41] EricJanVanDenBogaard commented on #70
maybe have the display showing tip temperature when TS100 is vertical with tip up ?

[2017-08-19 10:30] Kenneth-N commented on #65
+1
I have the same issue.
With motion sense on 7, it works fine, set to 8 it never sleeps.
Nice fw by the way.

[2017-08-19 18:56] EricJanVanDenBogaard commented on #71
Long button press instead of the simultaneous button press ? that would be great ! you can even multiply functionality by giving separate functions to the tip and usb buttons that way.

[2017-08-19 19:48] thanks4opensource commented on #11
Just now joined GitHub to post my Ralim/ts100 Linux upgrade experience in case it's of help to others.

First: Thanks, Ralim. Awesome work! I'll probably be offering unnecessary design enhancement suggestions and begging for help as I try to compile and hack on the source code.

On to my Linux firmware flash ...

Bottom line is I had no problems flashing the v1.16.3 ts100.hex file from the release

[2017-08-20 00:25] MarSoft commented on #11
@thanks4opensource, according to README the decision to stop using mass storage mode for configuration was made by Ralim to simplify the firmware itself and to free up some space for additional functions. This mode is not needed anymore anyway because now settings can be changed from the soldering iron itself through an interactive menu (which was not possible in the stock firmware).

[2017-08-20 10:47] Ralim commented on #25
You have been lucky :smile: It seems to be really hit and miss as to who has it work perfectly and who has issues.

The new DFU should completely support the factory firmware, they are separate pieces of code entirely. Eventually, we will also provide code to let you swap back as well just in case the newer factory firmware has any issues.

[2017-08-20 10:49] Ralim commented on #64
This is more for being able to show logos/images on the screens such as the cooling down screen (like a heat warning). The current method of showing a startup logo will stay as probably the best method for branding your unit apart from changing the case :)

[2017-08-20 10:53] Ralim commented on #70
@EricJanVanDenBogaard That would definitely be possible to achieve. Should be a fairly easy change to add if the orientation detection in the accelerometer works for this.

Could you maybe break that out into a separate issue to implement? Since I think adding it is separate to this one?

[2017-08-20 10:56] Ralim commented on #65
Good to have a second person with the issue.

I will tweak the filtering time in the next release to see if this improves the issue :)

Also @Kenneth-N & @Vidalcris, what power source are you using to power your irons?

[2017-08-20 11:05] Ralim commented on #11
Hi @thanks4opensource,
Don't panic about pressing buttons when powered off USB, it checks the input voltage before it starts to heat the iron (which is 0V as no input). So there is no risk to your computer :smile:

The TS100.HEX contents do change because of how the DFU works, it actually writes the file to the flash as it is copied from the pc (as ram is much smaller than flash). And so the file

[2017-08-20 11:39] Vidalcris commented on #65
24V 4A or lipos 4S.

[2017-08-20 15:13] Kenneth-N commented on #65
18V Li-Ion 5S (Makita 18V battery pack).

[2017-08-20 16:46] thanks4opensource commented on #11
Thanks @MarSoft, and (again for all the hard work), @Ralim.

Yes, as I said, I understand why USB mass storage access isn't needed with the Ralim firmware. And I'm also painfully aware of the code size implications of USB. I haven't done mass storage, but I did get the HAL USBD (serial communications over USB) API/driver working on an STM MCU and it was  a nightmare.

Very glad to hear about the f

[2017-08-20 22:10] EricJanVanDenBogaard commented on #64
Okay.

[2017-08-20 22:13] EricJanVanDenBogaard commented on #70
okay.

[2017-08-20 22:24] EricJanVanDenBogaard opened #73 "Display tip temperature when holding tip up"
To have the display show tip temperature while holding the TS100 vertical with tip up,
would be a handy feature, this feature should be available in all modes also startup/idle mode,
(also when just plugging in from a short disconnection)
the vertical & tip up position would not give conflict with other functionality.

[2017-08-21 13:13] Vidalcris opened #74 "Heating is faster on boost mode ^^"
I'm pretty sure my iron is faster to heat if i press the boost button.
Is this the Pterm that is so low that the power is different depending on the command ?
`pidSettings.kp = 8;
 pidSettings.ki = 1;
 pidSettings.kd = 0; //Not using D atm`

As a geek i would like to be able to change the PID in the menu ;)

[2017-08-21 19:58] av8er commented on #73
Why make this so complicated? If the iron is plugged in with the temperature above 60c or whatever value we pick, just have it display the temp until it's below.

[2017-08-21 22:35] Ralim commented on #73
I believe the intent behind this was to provide an easy way to view the temperature no matter what temperature it is at?

[2017-08-21 22:38] Ralim commented on #74
I do have a build that allows you to change the PID values. However at the moment increasing any further causes large fluctuations in the tip temperature (control loop is unstable).

I can enable editing the PID in the menu in a special build for you to play with though. I'm more than open to new tuning parameters (just remember I will test them on multiple tips here before I use new ones 😄 )

[2017-08-21 22:43] Ralim commented on #11
You're welcome 😄

Generally Opening a new Issue is the best idea for each core idea. So for each group of changes etc you open a new issue to discuss. As this avoids causing emails to be sent to everyone else already in the thread. Anyone who has a Github account can open a new issue for discussion :)

If the ideas are really wacky or are off-topic for the firmware development feel free to email m

[2017-08-22 04:06] novirium commented on #11
Just flashed v1.17-alpha6 onto a stock TS100 running 3.43, from Arch Linux. Incrementally tried advice from above, and can confirm that the process worked with the all caps filename ("TS100.HEX"), but did not with lower case (as mentioned, msdos mount was also required).

[2017-08-22 04:09] thanks4opensource commented on #65
Just another confirmation of strange sensitivity/accelerometer behavior: I've had times (using Ralim 1.16.3) where the iron wouldn't go into sleep mode despite no motion occurring. Also, subjectively seems like there's a difference between wake-from-sleep sensitivity and flip-left-right-upsidedown-LCD sensitivity. I've been using 7, 8, or 9 sensitivity setting (higher the better; I have no problem

[2017-08-22 04:13] Ralim commented on #65
Hi,
The screen rotation and the movement detection are completely separate. The screen rotation has a much, much longer filter period on it and requires a significant rotation to flip. This is deliberate so that the screen will keep its current rotation when the screen is leveled facing up (ie if you solder with screen straight up, rather than at the typical ~30 deg angle. When getting the screen

[2017-08-22 04:49] thanks4opensource opened #75 "Sub-1-minute sleep, longer version display enhancement"
My wish list, in order of importance:

Sub-1-minute sleep: The TS100 heats up so fast it's up to temperature by the time I move it from my homemade stand to the PC board. No need to be oxidizing the tip for full minute before going to SLTMP. (Although if I had a hardware wish list it would be for a piezo buzzer to beep when up to temperature.) Are there enough characters on the LCD to display "SLT

[2017-08-22 05:18] Ralim commented on #75
Hi,
Hopefully I can help with these :)
For your first requirement, it already exists! Keep cycling through the options and it will give you the options of 10,20,30,40,50 seconds as well :smile:

I'm not sure what the cycle rating on the tip is, but quite a few people use these as their daily use irons and haven't had any issues (and tips are cheap really).

I reduced the display time to be really

[2017-08-22 06:00] thanks4opensource commented on #75
Thanks, @Ralim. Did you add the sub-1-minute values starting with the 1.17 alphas? I just now tried it again and 1.16.3 for me increments from 01 to 30 and then cycles back to 01 and starts again. All using the front/tip button while in SETTINGS with the SLTIM option displayed. Maybe I'm doing something wrong.

I had another thought about the version string: Maybe don't display it at startup but h

[2017-08-22 06:13] thanks4opensource commented on #65
@Ralim wrote:

Thanks! Just tried it, and of course you're absolutely right. Works perfectly once one understands it. I would get frustrated and think, "The screen's not flipping, maybe the accelerometer's  not giving a strong enough signal, I'd better shake it hard to make it flip." Totally the wrong thing to do.

Never underestimate a user's ability f*** things up.  ;) ;) ;)

[2017-08-22 07:39] Vidalcris commented on #74
Oh that could be really awesome :p can you also reverse temperature setting and stop on heating mode if this is not too long ? ;)
That will be my firmware for a long time for sure !

[2017-08-22 08:08] Vidalcris commented on #75
You should try latest release before asking improvement ;)
btw those modifications are available in the latest alpha.

[2017-08-22 09:27] Ralim commented on #74
What do you mean by the second half?

[2017-08-22 09:31] Vidalcris commented on #74
I would like to press usb button to stop ;)

[2017-08-22 09:31] Ralim commented on #75
@thanks4opensource
Sorry I completely forgot to mention it's in 1.17.x versions. The 1.17 proper release should be out soon when I have a chance to push it up :smile:.

Putting version string in the settings menu could work, and shouldn't be too hard either. Hmm, that might come soon :)

[2017-08-22 09:35] Ralim commented on #65
No problem at all, The feature I'm using is built into the accelerometer and is what phones also use, so it works in exactly the same way :)

The actual issue with the accelerometers I will look into though :)

[2017-08-22 14:24] thanks4opensource commented on #75
Thanks for the info, @Vidalcris and @Ralim. I'll switch to 1.17 when the proper release is up.

[2017-08-22 14:53] thanks4opensource commented on #25
Just to clarify: Does flashing the Ralim (or other) firmware .hex file also flash/overwrite the DFU? I.e., if the .hex file is bad or something goes wrong with the flash can you end up with not only a non-working iron due to corrupted firmware, but a bricked one that can't be re-flashed successfully?

I looked at a binary file converted from 1.16.3 TS100.hex and didn't find the strings "DFU" or "3

[2017-08-22 15:30] vifino commented on #25
@thanks4opensource It does not, so it shouldn't be possible to completely brick it without flashing the bootloader seperately first.
But even then, with a JTAG/SWD dongle, you should be able to recover, although that might take a while, depending on whether you are used to stuff like this, which I am guessing not.

The DFU is not able to overwrite itself, or at least shouldn't. Unsure of the defau

[2017-08-22 15:48] thanks4opensource commented on #54
@Ralim
You mentioned above doing a Python equivalent of the Logo Editor. Would you like me to take a try at writing that?

I looked at Form1.cs and despite being C# (right? I don't even know that) (and I'll be honest about my anti-anything-that's-not-Linux prejudices) it looks very straightforward. I'd use PIL -- the Python Imaging Library which I have a lot of experience with -- for reading JPEG/

[2017-08-22 16:13] thanks4opensource commented on #25
Thanks for the education and allying my fears, @vifino

I actually am doing a bunch of ARM/STM development over ST-LINK/SWD right now, although I'm a newbie to it. I'd like to hack on the TS100 firmware myself but the idea of flashing a binary (hex) and hoping for the best scares me. I'm used to having OpenOCD/GDB/etc and I don't like the thought of debugging with, at best, printfs to the LCD disp

[2017-08-23 05:06] perillamint commented on #25
@thanks4opensource FYI: there is debug port. STM32 MCU board part has test pads on it and it is wired Vcc(3v3) GND SWCLK SWDAT. However, you must solder RESET pin on capacitor C17 since they're not broken out via test pads. Only that part (Soldering on C17) is tricky.

[2017-08-23 05:11] perillamint commented on #25
@vifino Original DAPBoot has a bug that may brick itself when user puts large enough payload which could damage bootloader, but I fixed that bug and mainlined fix for that.

Except for that bug, there is no way (unless another bug discovered) to go back below 0x08004000, where bootloader sits on flash, so I think it could be considered as "safe for normal use"

[2017-08-23 08:36] Ralim commented on #25
@perillamint You don't have to solder the reset pin if you use software reset on the SWD link to reset the mcu for programming :smile:. One less thing to solder :)

I think it would be entirely safe for use for all practical use cases. At least in this product, they gave us the debugging pins to connect to...
"They" is miniware which is owned by e-Design as far as I understand the hierarchy.

[2017-08-23 08:42] Ralim commented on #54
Please do, I haven't had time to even look at it, at the moment.

Yes indeed it is C#, I code under mono most of the time these days on Linux, but just never really liked python much. :confused:

No one would hate it :smile: I mostly provided a GUI because it was easy to do at the time for most users.

The main things to be aware of are :

- The intel hex must have a width of 16 bytes per line
- T

[2017-08-23 13:16] JoshuaACNewman commented on #54
On MacOS, the preview would be generated as soon as you looked at it. And I think anyone who cares about this kind of thing is going to be comfortable making a 1-bit image and orienting it appropriately, anyway. The only real concern is knowing how to add it to the firmware code.

Furthermore, you can get the file path in MacOS simply by dropping a file onto the term window. So a command line prog

[2017-08-23 15:29] thanks4opensource commented on #54
Thanks for the info. I'll take a crack at doing the Python translation.

@Ralim, your C# code is very clear, clean, and well-documented. Your meta-comments, above, are also very helpful -- I was confused as to why btnSaveHex_Click() was allocating 1024 bytes for 16*96 pixel image encoded at 1-bit-per-pixel == 192 bytes. I'll add an "invert" option, and another to switch between the original `(r+g+

[2017-08-23 15:46] thanks4opensource commented on #25
Just want to say I understand about the debug test pads being brought out, and am very impressed that miniware/e-Design/whoever was so open with both the hardware and firmware. I voted for them with my money! ;)

When I said "Wish there could have been a debug port" I meant a physical jack/connector. Sorry I wasn't clear about that. And I understand why physical size constraints and target market

[2017-08-23 17:43] erpalma commented on #71
Yes I think that would work perfectly!

[2017-08-24 11:39] vifino commented on #25
@perillamint Thanks for clarification, I already knew that you fixed it before, I just wondered about the default one, the one that gets shipped from the factory.

I have no doubts that your fork will be much better than the original DFU, safety-wise and usability-wise (at least for Linux/Mac users).
I'll happily try to flash it, as soon as you got a flashing firmware that just writes dapboot into

[2017-08-25 07:04] thanks4opensource commented on #54
I've got the Python port of the TS100 Logo Editor mostly working. Could someone post and attach an image file and matching Intel hex format output so I can see if I'm doing it right? (I can't run the C# version myself -- that's the whole reason for this exercise).
Mostly not sure if the Python IntelHex library can output the correct type of Address Record, but also want to check the pixel/byte/bit

[2017-08-25 13:31] erpalma commented on #74
Maybe you could simply set the power to 100% until 80/90% of the target temp is reached, then PID kiks in.

[2017-08-25 14:10] Vidalcris commented on #74
@erpalma Yeah i think its a really good idea :)

[2017-08-25 17:31] thanks4opensource commented on #74
Isn't that the whole point of PID? If you power 100% until 80/90% of target that's open loop -- you're betting you won't over- or undershoot, which will be different for every tip, ambient temperature, airflow, whether you're tinning the tip,  etc., etc.  Then when the PID kicks in it might take more time fixing things up than if it had been running all along.

Control algorithms are hard. :(

[2017-08-25 17:41] Vidalcris commented on #74
You are right, but that become part of the PID loop and we are in a sense improving it :)
That could even become a new setting in the menu.

This is not a quadcopter so anyway that will work ^^ (personnaly i dont need a perfect 320° from start, i mean if there is a little jump over the setpoint that is not a big issue. At least for me ;) )

[2017-08-25 19:36] erpalma commented on #74
Yes, of course this is far from ideal. But as @Vidalcris said, we are not in a critical application and this solution could be a good compromise. A fine tuned PID is better, but it would probably require tuning by the user since optimal parameters vary with (eg) application and tip. Also a faster startup time is better than a rock solid temperature set point, if this is not the case you could easi

[2017-08-26 06:54] Ralim commented on #60
As far as I am aware this is done, so I'm closing the issue.

[2017-08-26 06:54] #60 closed

[2017-08-26 06:56] Ralim commented on #39
This should be closeable with the latest 1.17 release.
The temperature blinks (not the inverting screen).
The iron will also jump to the cooling screen with temperature if it starts up and the tip is still hot.

[2017-08-26 06:56] #39 closed

[2017-08-26 07:01] Ralim commented on #75
@thanks4opensource The latest 1.17 release is up.

[2017-08-26 09:42] sreichholf commented on #54
sure, here's my bootlogo in png and hex

![dreamlabs](https://user-images.githubusercontent.com/348410/29740300-888c270c-8a53-11e7-9074-b04e22a23307.png)
[flashable.zip](https://github.com/Ralim/ts100/files/1253552/flashable.zip)

[2017-08-26 10:35] csdpm opened #76 "Bug report: Error temperature display when off and cooling down V1.17"
Sorry to come up with a bug report so soon after the V1.17 release.

When the iron is 'Off and cooling down (flashing enabled) I've found a strange temperature display jump. Flashing stopped as expected at 50'C and the temperature display continued to fall. Once the temperature display hit 37'C I decided to touch the tip and thought 'ouch that still feels pretty hot!'.

Watching the display furthe

[2017-08-26 10:58] Ralim commented on #76
This is known as an issue that currently occurs.
The last part of code from the original software from miniware was the adc -> temperature conversion formula, which does this because of the way it seems to do compensation. You can also notice this if you watch really carefully as the iron heats up.

As their formula appears to be accurate at both room temperature and the soldering temperatures I h

[2017-08-26 13:14] perillamint commented on #25
I think I could start working on bootloader flasher from Monday. I'm considering I should add USB CDC-ACM console for user interaction (check payloads SHA256sum, confirm flash using some crude Y/N prompt, show flashing progress, confirm it should wipe out itself to enforce next boot mode to bootloader, etc).

I want to hear comment about this. Will it helpful or not?

[2017-08-26 15:08] merwynv opened #77 "cannot upgrade"
hi love your work, currently i have the APPV217.hex loaded on my soldering iron. i wanted to upgrade it, when i copy the DO NOT FLASH_Flash Backup.hex file onto the drive it disconnects and reconnects before copying the whole file and it does not show the empty drive space as well.  so when i click try again button it doesn't copy the file.

please help

[2017-08-26 16:09] mikromCZ commented on #77
why you're flashing file named DO_NOT_FLASH?
just use https://github.com/Ralim/ts100/releases/download/v1.17/ts100.hex for update

[2017-08-26 16:13] thanks4opensource commented on #25
@perillamint -- Those are very good features.

[2017-08-26 16:17] merwynv commented on #77
Done..... Thank you...

[2017-08-26 16:17] #77 closed

[2017-08-26 16:51] thanks4opensource commented on #54
Thanks, @sreichholf . That's exactly what I needed.

Looks like the Python lib will only do RECTYP 03 Start Segment Address Record or 05 Start Linear Address Record, and @Ralim wants 04 Extended Linear Address Record.   :(

I'll figure something out. Maybe post-process the Python data, or fix the lib, or just port Ralim's original C# Intel hex generation  code.

Thanks again for the example.

[2017-08-26 16:54] vifino commented on #25
@perillamint It definitly sounds very useful.

[2017-08-26 17:00] thanks4opensource commented on #75
Thanks, @Ralim. I'll be flashing it and enjoying the sub-1-minute sleep times!

[2017-08-27 02:14] Ralim commented on #25
@perillamint I wouldn't worry about the USB-CDC implementation, but would instead just print everything to the OLED and use the buttons for confirmation. That way the user doesn't need to bother trying to get the CDC port working just to be able to continue with the flash.

Verifying the checksum would be a good idea, and also verify it again once its been flashed as well.

You should be able to t

[2017-08-27 03:06] Ralim commented on #54
@thanks4opensource Yeah, there are a lot of different ways to get to the same goal with intel hex. I'm sticking with that format as both the newer bootloader will support it, and the original bootloader also supports it.

[2017-08-27 03:07] Ralim commented on #53
I have added the two button exit in the 1.17 proper release.
It would be more effort to add the auto stop, but I can look into it if there is still demand?

[2017-08-27 04:52] thanks4opensource commented on #54
Almost finished with the Python version. I went with coding my own Intel hex writer from scratch -- it was the easiest thing to do (and also removes the dependency on the IntelHex module).

@Ralim wrote:

Do you mean the file itself -- in Intel hex ascii format -- has to be over ~1K, or that it has to contain over 1K of binary data?

The example file @sreichholf posted is 11550 bytes long and cont

[2017-08-27 05:00] Ralim commented on #54
There is a magic value, somewhere over 1K that the bootloader will accept as a minimum, I couldn't be bothered to find the exact value so I just repeated the values multiple times. (to bloat out the file with technically valid data). Also the hex file must contain the data for one page of flash (as the bootloader cannot write anything less than one page). Which is why the array is 1K exactly.

So

[2017-08-27 05:07] thanks4opensource commented on #54
Thanks for the info. Will do as you suggest.

[2017-08-27 06:07] thanks4opensource commented on #54
Got it working. Byte-identical output on the @sreichholf test case (except for DOS "\r\n" vs UNIX "\n" line endings -- will that hurt anything?).

A little cleanup and documentation and it will be ready for testing and/or usage. @Ralim: My GitHub-fu was never very good, plus it's a bit rusty now. I can try doing a `git push` and a pull request. Or can I send it to you at your website email address

[2017-08-27 06:18] Ralim commented on #54
I would make it output the same as the one mine does just as we know that one works.

Basically, easiest way is if you fork this repository to your own account, then push your file into that one (your fork) then you can create a pull request to this one. That way I can merge it in and it keeps the history of who wrote it :)

[2017-08-27 11:23] csdpm commented on #76
Thanks Ralim. At least it's a known problem then, I guess there must be an accumulating error that they have to 'fix' before getting down to ambient.

The workaround is simple anyway, don't deliberately touch the tip. :)

[2017-08-27 13:51] EricJanVanDenBogaard commented on #73
didn't thought this one over i guess av8er is right, that should be enough. close this one,
does the voltage still need to be calibrated for the cell protection voltage, when setting the cell count ?

[2017-08-27 16:28] perillamint commented on #25
@Ralim I considered using OLED for verification process but I worry about it is not suitable for displaying full SHA256sum of payload.

Maybe RTC is much more suitable for bootloader flag rather than erasing 0x08004000.

[2017-08-27 18:16] thanks4opensource commented on #54
Fork created and pull request made. Hope I did it right. ;)

From pull request:

@Ralim (or anyone else), please test when you get the chance and give feedback, bug reports, suggestions. If it's completely wrong and/or useless that's OK, too -- we can just delete it and move on. ;)

[2017-08-27 22:18] Cpt-Huck commented on #60
I'm  native German, but in the hobby of FPV drones, everybody uses english.. Banggood is in English, Betaflight an BLHeliSuite is English or most people use it with English language, because all the howto's are made in English language.. Also for me, English sounds better than German.. So I switch back to English.. Also the translation is just half finished.. All the short things when you enter th

[2017-08-28 09:13] Ralim commented on #25
You don't strictly need to show the entire hash, even if you just showed the last part then it would give a confidence boost. Or you could use a crc32 which will fit on the screen?

[2017-08-28 20:17] Cpt-Huck opened #79 "Moskito bite shocker"
Is there any way to get the temperature constantly to 51 degrees?

Because always when I fly my quads an moskito storm is incoming and I get like 5 bites in a minute..

Moskito spray didn't work BTW

To prevent the moskito bites getting bigger, you need to apply heat to the bite..
And I remember one device which heats up to 51 degrees..

I think my english is brilliant ¯\_(ツ)_/¯

Okay maybe if it'

[2017-08-29 03:03] Ralim commented on #79
Hi,
Technically there is no issue to doing this, except for the current unresolved issue of the thermocouple temperature curve code that is a leftover from the original code. When I re-profile the thermocouple code to work correctly at low temperatures, this would be completely doable.

At the moment I could drop the lower limit down, however, I do not think that the temperature will be very stabl

[2017-08-29 03:06] Ralim commented on #60
Hi @Cpt-Huck
The translations were mostly just to be for the short settings names since it might be preferable for some users to have the reminders in their native language. There is no pressure to use the translations, however, they are easy to add so why not  😁

[2017-08-29 05:16] tigert commented on #74
If precise temperature control is not a critical application for a soldering iron with precise temperature control, I don't know what is.

[2017-08-29 06:10] Vidalcris commented on #74
@tigert lol...

[2017-08-29 07:10] tigert commented on #74
I mean, it's a simple firmware for a very simple device, a soldering iron. There probably should be some thought on what the scope for the default firmware is - it doesn't feed your dog (yet?) or heat your cup of tea (!) and maybe it shouldnt.

Because the basic uses are the ones that matter, and the more stuff gets added, there is always the risk of making things more complex, inconsistent and fu

[2017-08-29 07:32] Vidalcris commented on #74
Heating faster is part of basics features of this iron. Read the description again.
And when i say that this become a part of the PID loop that also mean that with this modification the iron will heat faster and also heat correctly and accurately.
But anyway you are fun ;) lol

[2017-08-29 07:56] Vidalcris commented on #74
@Ralim I see that you changed the PID some time ago.
`-	pidSettings.kp = 15;
 -	pidSettings.ki = 2;
 -	pidSettings.kd = 3;
 +	pidSettings.kp = 8;
 +	pidSettings.ki = 1;
 +	pidSettings.kd = 0; //Not using D atm`

Is this change the main reason ?
`-		delayMs(50); //Slow the system down a little bit
 +		delayMs(30); //Slow the system down a little bit`

[2017-08-29 09:57] mkninc commented on #74
@Vidalcris I've reimplemented the control loop. Decoupled it from the Display/UI handling. Maybe you could try my version and give me some feedback.
https://github.com/mkninc/ts100_ng

[2017-08-29 09:59] Ralim commented on #74
@Vidalcris There were a few things that led up to that change.
I dropped the delay to speed up the system (which brings in the maximum output from the pid, but from this, I must have bought it in too far and I will be patching this in a day or two when I get time to test further).

I also reduced the filtering on the incoming temperature measurements, which makes it fluctuate a lot more but also m

[2017-08-29 10:05] Vidalcris commented on #74
@mkninc i will try it for sure ;)

@Ralim Thanks a lot for the explanation !
I still dont understand why D = 0 and how increasing it cannot help.. but i never did another pid tuning than on quadcopter :p

[2017-08-29 10:07] Ralim commented on #74
@Vidalcris It basically had less effect that I was hoping for and added instability under some tests (especially when operating at the high end on higher voltages).

[2017-08-29 10:26] mkninc commented on #74
@Ralim Sure, feel free to merge whatever you like :)

[2017-08-29 10:31] Ralim commented on #74
@mkninc Awesome, I actually have a 2.0 version I started on about 2 weeks back before a pile of work came up that's a complete re-write from the ground up. I'll try and keep the git possible so you can merge in/out of it if you wish :)

[2017-08-29 10:47] Vidalcris commented on #74
@mkninc i just measured the time to get from room temperature to 320°C : 4.95sec !
I will update with the result with Ralim's firmware as soon as possible ;)

[2017-08-29 10:49] Ralim commented on #74
Mine will be a bit slower because of the current tunings :/

[2017-08-29 10:55] Vidalcris commented on #74
6.40sec for your. But the temperature on screen is way more stable.
On mkninc's firmware when i press boost with a setting of 450 this is moving from 430 to 500.

[2017-08-29 11:06] Ralim commented on #74
@Vidalcris Yeah usually to have massively fast rise time means more oscillation is easier to hit. Ideally a midpoint between the two would be ideal 😁 That said if i get 2.0 out it should be nice

[2017-08-29 11:14] mkninc commented on #74
@Vidalcris I removed all of the filtering/averaging of the temperature display. But when the target temperature is reached, it should be pretty stable.

[2017-08-29 16:19] erpalma commented on #74
@mkninc I've tested your v0.9.1. There is a bit of overshooting (<10°C) at startup but then it's pretty stable. No overshoot for @Ralim but the temperature reaches 377/8 and then slowly goes to 380 in a matter of seconds. I have done no tests on the reaction speed while soldering large pads or wires.

Here is a benchmark between the two versions (from ambient to 380, @19v):
@mkninc 12s, same with

[2017-08-29 22:18] #73 closed

[2017-08-29 22:30] EricJanVanDenBogaard commented on #25
only thing i noticed is on my macbook, when i "eject" the TS100 with the OS option, it boots again when you're not fast enough to pull the plug. But i don't see this as a problem, when i have to use it by usb for updates. (i hope for a future USB-C version of the TS100, i think the non polarity plug feature a nice feature for that alone worth it)

[2017-08-30 15:56] thanks4opensource opened #80 "Problem with MSENSE 8 and 9"
On my TS100, MSENSE 8 and 9 seem to be "infinite" sensitivity. Can someone test the following on theirs and confirm or disprove this?

I would like the iron to stay awake during normal soldering, but go to sleep very quickly when stationary in its stand. I'm using these settings:
[code]

With "MSENSE 7" it's too "insensitive" -- it goes to sleep during normal soldering motions and requires a signi

[2017-08-31 00:22] Ralim commented on #80
Hi,
This is a duplicate of #65
This is on the roadmap to be fixed in the next version as soon as I can track down whats causing it :)
The problem was worse in the earlier release, however the issue here is basically a trade off between bottom end sensitivity and noise wakeups

[2017-08-31 00:28] lukedempsey opened #81 "Low Volts on reasonable voltage"
Hi, Im getting a low voltage when my voltage is at 16.3v on a 4s. Ive checked voltage calibration and its accurate

[2017-08-31 00:36] thanks4opensource commented on #80
Thanks, @Ralim. Apologies for the duplicate. I searched unsuccessfully for "MSENSE" but should have searched for "sleep". Or not forgotten that I had already commented in #65. ;)   My bad. Closing this. Will test alphas as soon as you come up with something to try.

[2017-08-31 00:37] #80 closed

[2017-08-31 01:13] Ralim commented on #81
Hi,
Can you confirm that the voltage remains stable under the full load of the iron (ie when heating from cold)? This is the most common issue of this occurring.

[2017-09-02 01:39] Ralim commented on #76
Just letting you know this has been patched in the coming 2.0 re-write (complete rewrite of the temperature measurement code fixed this issue completely)

[2017-09-05 22:10] dbrgn commented on #79
Basically emulating [this](https://www.amazon.de/bite-away-Elektronischer-Schwellungen-Insektenstichen/dp/B003CMKQTS/). Great idea :)

[2017-09-05 23:44] Ralim commented on #79
I have re-written the thermocouple code in the coming release that should allow for this to be added as a mode to the iron :)

[2017-09-07 09:27] gkrystev opened #82 "Bulgarian translation"
As there are some translations already available, I propose a translation for Bulgarian language
Here is the code with the translation.

[code]

[2017-09-07 10:00] Ralim commented on #82
Hi,
Thank you for the translation :smile:
The current font does not have all the symbols used, but more can be added :)

This might take a little bit to get added as I will need to expand the font if that's okay?

[2017-09-07 10:32] gkrystev commented on #82
Yes, that's fine :)

[2017-09-07 20:30] tigert commented on #79
I am joking, but I'm just saying that maintaining a consistent 56.5C on a water bath will result in perfect medium rare Sous Vide beef steak...

[2017-09-08 00:18] Ralim commented on #79
You joke.. But would be tempting to try just to see 😀

[2017-09-08 04:41] numinit opened #83 "License"
Hate to be that guy, but is a license for this project listed anywhere?

[2017-09-08 05:35] Ralim commented on #83
No problem being that guy,
I do not know a fully correct answer to that question as the original source is (as far as I know) not give a licence. As this firmware 1.x fork did ultimately come from that code I do not feel comfortable pinning a specific licence on the code. However, as far as I am concerned I treat the code as being free to use however you see fit in your application.

There is a co

[2017-09-08 06:00] tigert commented on #83
I cannot speak for @numinit but having a clearly defined license would make things more clear for contributions – you know what you can do with the codebase and how your contributed code can be used.

[2017-09-08 06:05] Ralim commented on #83
That makes sense, I just couldn't really feel how to settle on one considering the lack of direction from the original manufacturer. Would you have a preferred licence you prefer to work with that you would suggest in this situation?

[2017-09-08 06:53] numinit commented on #83
@tigert Pretty much what I was after :-)

@Ralim How much of the code is copied directly from the original firmware?

[2017-09-08 07:36] Ralim commented on #83
Yeah that's fair enough,
At this point, the current code would probably be MIT style, though I'm hesitant to put a licence on the current code. In 1.x very, very little of the code is left except the setup code now along with the idle screen graphics. However, I am adverse to picking one out specifically since it is a Chinese product and they do not use a licence style system see "Gongkai" [as bun

[2017-09-08 07:47] dbrgn commented on #79
You joke... But a sous-vide cooker for 50$ ain't bad :laughing:

[2017-09-08 08:29] numinit commented on #83
Personally, I'm a fan of the GPL, as far as keeping the source "free and open" goes. It's rare to see firmware with such a license, especially considering that it would otherwise be binary blobs or not provided entirely.

[2017-09-08 16:23] EricJanVanDenBogaard commented on #83
The harware of the TS100 is Open Source, that's the nice thing of it, and this software is also openly shared for everybody to use or modify, to make it better, closed/copyrighted software is a bad thing for the community, Open Source is licenced to everybody by the correct GPL rules, keyword Arduino :)

[2017-09-08 19:39] numinit commented on #83
@EricJanVanDenBogaard well, open source isn't _exactly_ the same as free and open source. The GPL is an infectious license, so anything that's derived has to be made available under the GPL.

For example, it would be a shame if a knockoff of the TS100 was made with closed-source firmware derived from this repository. The GPL ensures that, if this happens, you at least have some of the standing to

[2017-09-08 19:40] tigert commented on #83
so, I am fine with any open source license. GPL is kinda

I can redraw the graphics if that helps, though you'd need to convert tgem to the correct format.

[2017-09-10 09:12] dchosking opened #85 "Thermal run away"
I am having an issue wich seems like a thermal run away. I flashed the ralim firmware and the iron seemed to perform nicely. I then whent through the settings and changed a few

What I can remeber changing is the following.
1) set power mode to dc
2) set boost temp to 450

I then changed to a different tip and attempted to enter the calibration mode by pressing both buttons simultaneously.

The ir

[2017-09-10 09:30] Ralim commented on #85
Hi,
This is a serious problem and should not have occurred. It honestly sounds more like a hardware change that has caused this rather than software. If the tip is heating without even turning on the soldering mode that means that the output mosfet is latched on for one reason or another.

Can you confirm where you bought the iron from and also if the issue persists with the original firmware.
You

[2017-09-10 09:32] Ralim commented on #83
@numinit I agree about the knockoff iron idea, which is why for the 2.x branch I will be adding a GPL licence to the code.

@tigert If you do happen to feel like making images I might take you up on that soon :)

[2017-09-10 09:33] dchosking commented on #85
So I just did exactly that and flashed back the original firmware and it does the exact same thing. The only conclusion is that it has to be a hardware issue. It is really depressing as I used thr iron a total of once 😕

[2017-09-10 09:38] Ralim commented on #85
Yeah 😢
The fact that it happened on the first try also makes it look like a hardware failure (I have abused mine quite a lot and not had it fail from *use*).

Did you buy yours as a "TS100" or as one of the rebrands? (If you don't mind saying?)

[2017-09-10 09:41] dchosking commented on #85
It is this one that I got from banggood
https://m.banggood.com/MINI-TS100-Digital-OLED-Programable-Interface-DC-5525-Soldering-Iron-Station-Built-in-STM32-Chip-p-984214.html?rmmds=myorders

[2017-09-10 10:56] awigen commented on #85
Hi dchosking,

It sounds like the output mosfet has shorted (CJQ4953). MOSFETs will often fail short. I'd start looking there.

Cheers,
Alex

[2017-09-10 11:17] EricJanVanDenBogaard commented on #85
btw... That font on that Banggood picture looks also different from the original software it has to start with ?
Are most components replaceable of the TS100 pcb ?

[2017-09-10 11:48] dchosking commented on #85
I am going to ask banggood for a refund I think, and if they dont then will maybe try fix it.
This is a quick video I made showing the issue.
https://youtu.be/pkZr3zR97O4

[2017-09-10 11:49] #85 closed

[2017-09-10 15:02] tigert commented on #83
Sure, I can do the bitmaps.

I assume you would be coding them into header files by hand?

I guess I would need a list of images in use and in particular the pixel sizes?

Battery images come to mind, also heating and cooling and steady? Settings too, where one probably should separate the image of the iron with two buttons from the labels /arrows.

Anything else?

I can file a separate issue abou

[2017-09-10 15:09] tigert opened #86 "New graphics needed for licensing the new codebase"
So as discussed in #83, the new codebase will have a proper license, and since the licensing of the original firmware files are unclear, we need a new set of graphics not derived from the old project files. This issue exists for that.

You can assign this issue to me.

[2017-09-10 16:58] EricJanVanDenBogaard commented on #86
GPL ?

[2017-09-10 17:17] EricJanVanDenBogaard commented on #83
thought of GPL as a thing you get the code for free to work with, and if some one is able to make it better, everybody has profit from that. otherwise you get Raceflight drama's
btw the hardware is also under GPL ?

[2017-09-10 19:23] mikromCZ commented on #86
maybe just two ovals like buttons instead of whole iron picture? (POWER) (SETTINGS)

[2017-09-11 07:47] Ralim commented on #85
@awigen I agree it's most likely the output mosfet that has failed.

Let us know if you don't get any help from banggood.

[2017-09-11 19:04] uncle-fed opened #87 "Russian / Ukrainian Translation"
I can supply Russian / Ukrainian translation when / if you get the font ready.
Alternatively, I can try and supply Cyrillic font, if I can learn a bit more about how it is encoded in the source code. Can you provide direct hint regarding this?

[2017-09-12 00:46] Ralim commented on #87
That would be awesome,
I have a tool thats a modification of the boot up creator.
If you can provide a bitmap image for each symbol (16 high, ~11 wide).
 They are drawn as 12 wide but each digit has slight space around it.
Alternately if you can provide a bitmap font image (the grid table of all the letters) that is approximately the correct size, I can digitize that in as well.

[2017-09-12 02:49] dogtopus commented on #74
There is an automated PID tuning routine implemented in Marlin (a 3d printer firmware). Its implemention can be found [here](https://github.com/MarlinFirmware/Marlin/blob/e337df2/Marlin/temperature.cpp#L218) (for reference)

Implement a similar feature in TS100 firmware would easily solve the tuning problem

[2017-09-12 03:07] Ralim commented on #74
Would be nice to convert it over.
I would make it a settings menu option to run the algorithm and store the result, though almost all of the tips have very similar responses so it probably isn't necessary to run it on every iron?

Currently looking at moving over to a nice fixed point PID which would make an auto tuner easier to use too.

[2017-09-12 08:40] uncle-fed commented on #87
Sure, I can provide the bitmaps. I can even digitise it too, so you have less work to do, if you tell me how it is encoded. BTW, Russian alphabet has 33 characters, 11 of which can be expressed with the existing Latin font, but 22 has to be added. Is there a limit to the characters you can have? If this becomes problematic, there are ways to work around the limitation.

[2017-09-12 09:10] Ralim commented on #87
There is no limitation to the characters I can add, as I'm just adding the extension characters to the font table as they would be in order in utf8 usually.
The digitisation is easy to do with software, but if you want to, the format is documented in another issue on here somewhere. I'll get a link shortly.

[2017-09-12 10:37] erpalma opened #88 "Italian translation"
You can replace character "à" with "a'" to keep it ASCII.

[code]

[2017-09-12 12:03] mikromCZ opened #89 "Unite all translation strings"
I suggest unite all strings. Why some of them has no "values" hint, some of them has space as separator, some has dot, some equal..
[code]

I've corrected English strings to
[code]

now I think someone good in english could check capital letters at the begining of the words :)

I am also working on Czech translation

[2017-09-12 12:13] uncle-fed commented on #61
Make sure the font license allows its free usage and is compatible with GPL, if you intend to use GPL in the end. Licensing can get very nasty.

[2017-09-12 12:21] uncle-fed commented on #87
I could not find the format in the issues, but I already figured it out myself. Will work on the Cyrillic bitmaps now and probably will submit pull request.

[2017-09-12 12:28] uncle-fed commented on #83
Make sure the fonts that you used for text characters are 1) allowed to be used in your project 2) compatible with the license you decide to go with.

[2017-09-12 12:30] mikromCZ commented on #89
[code]

[2017-09-12 23:13] Ralim commented on #61
It was released for anyone to use freely in 2007. While no specific licence was attributed with the pack, GPL or MIT would be closest to what I interpret to be the original creator's intention as of when the original pack was posted. I do not know if the original poster of said font pack was the actual original creator but appears to be. The font itself has also appeared in many, many, other open

[2017-09-12 23:14] Ralim commented on #83
@uncle-fed Please see my response to your comment on issue #61 .
As far as I am aware and can confirm the font is ok to be used in this way.

[2017-09-12 23:15] Ralim commented on #87
Thanks, It's not a terribly hard encoding scheme if you have worked with LCD's in the past.

[2017-09-12 23:16] Ralim commented on #88
Hi, the à character is already in the font map so it *should* just work :)

[2017-09-13 00:02] dogtopus opened #90 "Allow building the project using a Makefile"
Not all people wants to install and learn how to use System Workbench just so they can build this project. By adding a Makefile to the project, the build can be done by just typing a single make command (with the appropriate toolchain installed), which simplifies the things a lot. It also allows automated build which is crucial to several things (e.g. continuous integration)

[2017-09-13 00:05] Ralim commented on #90
Hi,
I agree I need to make a general one that is in the repository. At the moment I'm using the generated makefile for building everything.

I'll try to get this added shortly :)

[2017-09-13 03:53] thanks4opensource commented on #90
Yes! I've been wanting to request the same thing. Thanks in advance for offering to do this, @Ralim.

I'd like to try hacking on some of the outstanding issues -- like #65 ;) -- but am wary of doing so without easy debugging access. I'd have a lot more confidence if I could build the sources into a .hex file that's byte-identical to the distributed one, though any changes in compiler version or op

[2017-09-13 11:41] uncle-fed commented on #87
I've created this as a little helper. Perhaps it is also useful to you or others.
http://ipbox.linkpc.net/tsfed/

[2017-09-13 11:42] Vidalcris commented on #86
V2.0 with advanced screen is perfect imo ;)

[2017-09-13 12:18] Ralim commented on #87
That's nicer than the tool I hacked together, thank you :smile:

[2017-09-13 12:53] tigert commented on #79
Well. Yeah. And I was also planning to do a sous-vide cooker with an arduino.

[2017-09-14 07:34] tigert commented on #86
@EricJanVanDenBogaard Lets discuss the licensing on #83 -

The graphics will be part of the codebase anyway, with the same license. I'm fine with any open source license, GPL or MIT style, as long as it is free to share and modify.

@Vidalcris yeah, it's a few pieces anyway, fun excercise in pixel art, so we can even both give it a go and see how it goes.

[2017-09-14 08:07] tigert commented on #86
so from the top of my head I remember:

  * The "POWER/SETTINGS" image
  * "Heating" icon
  * "Cooling" icon
  * "Correct temperature" icon (?)
  * Battery icons
  * Warning for missingt tip?

Looks like workspace/ts100/inc/Font.h contains some more too, but I think these would be good for starters.

@Ralim The display is 96x16 pixels, would icons be 16x16 or how much memory does the device have f

[2017-09-14 12:07] Ralim commented on #86
@tigert
You are correct in that the following need replacement:

- Power/Settings prompt (I call it idle screen)
- Heating icon / image
- Cooling icon
- Correct temperature if one works (or just blank)

I made the current battery icon so I'm not worried about it, and the warning logo has actually already been made in concept form by @Vidalcris (attached)

I try to make images a multiple of 16x12 (

[2017-09-14 12:31] tigert commented on #86
Is the 2.0 branch usable by the way?

(I suddenly realize that I plan to run an unstable branch of firmware on my *soldering iron* ... :) )

But well, people spend their free time and energy on all kinds of things :-)

[2017-09-15 01:44] Ralim commented on #86
It's *mostly* usable (see the note at the top of the readme in that branch).

With the soldering iron there is only two failure modes:

- No Heating (iron doesn't heat)
- Runaway (heater doesn't turn off)

Only the latter is a bad issue, I *think* there is no risk of this in the new branch, but generally I would just keep an eye on the system. I've put in a safety timer for this in the code branch

[2017-09-15 06:24] tigert commented on #86
Ok, so .bmp is the preferred format?

I found a plugin for GIMP that exports as a header file in 1 bit: http://gimpscripts.com/2016/08/1bit-bitmap-exporter-to-c-header/ - it makes an output like this: https://pastebin.com/f5FwsM6x

That should be useful for testing, once we get the makefile stuff going.

[2017-09-15 08:39] tigert commented on #86
So, I played with the graphics a bit. Some thoughts related to layout:

Maybe we should always put the battery icon on the back end of the screen where the power plug is when you run off a LiPo. Similarly the heating / cooling symbols should be towards the hot end.

![image](https://user-images.githubusercontent.com/2587818/30473515-630cc4bc-9a09-11e7-8008-344080c71e72.png)

I am left handed so th

[2017-09-16 19:48] runy1984 opened #91 "Russian language"
please do Russian language !!!  all Russians will thank you !!!  Please !!!

[2017-09-16 20:59] Maartenwut commented on #91
You can do it yourself actually, take a look at https://github.com/Ralim/ts100/blob/master/workspace/ts100/src/Strings.c.

[2017-09-16 21:03] runy1984 commented on #91
I don't understand! could you help me to do it please!  please!  please!

[2017-09-16 22:16] Maartenwut commented on #91
Could you translate there strings (text) to Russian? It's just the things in apostrophes.

#ifdef LANG_RU
const char* SettingsLongNames[14] =
		{
		/*These are all the help text for all the settings.*/
		/*All must start with 6 spaces so they come on screen nicely.*/
		"      Power source. Sets cutoff voltage. <DC 10V> <S 3.3V per cell>",
				"      Sleep Temperature <C>", "      Sleep Timeout <Mi

[2017-09-16 22:37] runy1984 commented on #91
ок!!!

[2017-09-17 00:30] runy1984 commented on #91
#ifdef LANG_RU
const char* SettingsLongNames[14] =
		{
		/*These are all the help text for all the settings.*/
		/*All must start with 6 spaces so they come on screen nicely.*/
		"     Источник питания. Установка напряжения отключения. <DC 10V> <S 3.3 V на батарею>",
				"      Температура Сна  <С>", "    Переход в режим Сна <Минуты>",
				"       Переходит в режим ожидания <Минуты>",
				"      А

[2017-09-17 01:13] Ralim commented on #91
Thank you,
This is partially a duplicate of #87.
This will also be pending waiting on a font map being made that contains the required characters.

[2017-09-17 02:21] #88 closed

[2017-09-17 02:21] #89 closed

[2017-09-17 02:32] Ralim commented on #81
@lukedempsey
Is there any update to this ?

[2017-09-17 02:34] #72 closed

[2017-09-17 02:41] #53 closed

[2017-09-17 02:44] Ralim commented on #54
I have used the script twice now and its worked well for me, so thank you @thanks4opensource
@JoshuaACNewman Have you had a chance to try this alternate method?

[2017-09-17 02:45] Ralim commented on #58
FYI
In the 2.0 fork (which will eventually become mainline) there is the ability to adjust the soldering temperature from the idle screen by pressing both buttons at once.

[2017-09-17 05:10] runy1984 commented on #91
what else to do?

[2017-09-17 05:18] runy1984 commented on #91
#ifdef LANG_RU
const char* SettingsLongNames[14] =
{
/These are all the help text for all the settings./
/All must start with 6 spaces so they come on screen nicely./
" Источник питания. Установка напряжения отключения. <DC 10V> <S 3.3 V на батарею>",
" Температура Сна <С>", " Переход в режим Сна <Минуты>",
" Переходит в режим ожидания <Минуты>",
" Акселерометр <0. Выкл. 1. мин. чувствительный 9.

[2017-09-17 05:18] runy1984 commented on #91
what else to do?

[2017-09-17 05:59] runy1984 commented on #91
as an option [http://arduino-project.net/russkie-ukrainskie-shrifty-oled-i2c/](url)

[2017-09-17 06:00] runy1984 commented on #91
http://arduino-project.net/russkie-ukrainskie-shrifty-oled-i2c/

[2017-09-17 07:11] Ralim commented on #91
@runy1984
If you can source a 12x16 font then I can use that to create the characters for the font map.
However, the font must also have a licence of some form to go with it, as I don't want to be guessing and getting it wrong. 😄

Once I make up the font table for it (or you can make one like in issue 87 and save the code for each character) then I can add support for it and then make the build in

[2017-09-17 07:40] runy1984 commented on #91
[OLEDI2C.zip](https://github.com/Ralim/ts100/files/1308918/OLEDI2C.zip) ок ?

[2017-09-17 08:03] Ralim commented on #91
The code only includes a 6-pixel high font by the looks of it. This should be workable in the 2.x version for the small font. However, a large font will still need to be made (tiny fonts do not scale well sadly).

I will test porting the small font over however :)
It does look like the licence is supportable too which is good.

[2017-09-17 10:47] perillamint commented on #25
I started working on BL flasher. Currently, I'm porting OLED driver for libopencm3

http://github.com/perillamint/ts100-bl-flasher

[2017-09-17 12:44] runy1984 commented on #91
when can you do the translation???

[2017-09-17 14:37] lukedempsey commented on #81
Hi,
Sorry for the late reply. Only just got around to testing. Yup it sags below the threshold, my mistake.

Thanks

[2017-09-17 14:37] #81 closed

[2017-09-18 07:23] runy1984 commented on #91
when you can do it in Russian?

[2017-09-19 09:49] Ralim commented on #91
@runy1984
I need to create at a minimum a 12x16 font for the LCD which I have not been able to find online anywhere.
Making a font takes time and I mostly only have time to spend on this project during weekends at this point in time.

It will take some time to create the font from scratch (especially as I do not know the Cyrillic alphabet).

[2017-09-19 16:03] runy1984 commented on #91
OK! thank you very much for the help!!! they're Russian firmware!!! very much we wait!!!

[2017-09-19 16:12] perillamint commented on #25
I successfully ported OLED driver. Now, I have to integrate button input and CRC32 generator before first "beta" release.

Also, I think my driver port could work in DAPBoot since they share same foundation(libopencm3)

[2017-09-19 17:03] vifino commented on #25
Very nice, @perillamint! I look forward to progress there!

Poke me if/when you need a tester. I would like an above-50/50 chance of success, however! ;)

[2017-09-19 17:20] perillamint commented on #25
@vifino I just finished BL flasher! :)

However, I think I could polish bootloader "Little bit more": Utilize OLED to display it is active or not.

After that, I think I could do some kind of "beta testing". :)

[2017-09-19 17:59] perillamint commented on #25
Bad news: DAPBoot uses old version of libopencm3, so my driver port is incompatible. I think it takes awhile to make DAPBoot utilize OLED screen.

BTW, I think my bootloader port is "functional", so I think I could release it.

[2017-09-19 18:45] perillamint commented on #25
https://github.com/perillamint/ts100-bl-flasher/releases/tag/1.0.0

I released bootloader flasher with two `payload.rom` variants: Stock and DAPBoot.

I tested it

[2017-09-19 19:24] CrazyKoboldFPV opened #93 "Dont know how to convert my bmp to hex"
Hi Guys. It´s no issue. But I don´t know how to convert my logo into the needen .hex. The Wiki is telling me I should use the application TS100.Logo.Editor.exe, but this exe I can´t find in any availible download.

Maybe someone could help me? Thanks guys.

[2017-09-19 20:33] mikromCZ commented on #93
https://github.com/Ralim/ts100/releases/download/v1.15/TS100.Logo.Editor.exe

[2017-09-19 20:40] CrazyKoboldFPV commented on #93
@mikromCZ Thank you very much. I did not find that exe. It was a stupid mistake of my. Next page... sorry. Thanks again.

[2017-09-19 20:40] #93 closed

[2017-09-19 21:31] vifino commented on #25
I'll flash it after I cleaned up my mess here. Will be in a couple hours at max.

[2017-09-20 02:03] vifino commented on #25
@perillamint  Oops, forgot to report back.

It flashed successfully, DAPBoot loads. Now to flash back Ralim's firmware.

[2017-09-20 02:11] vifino commented on #25
@perillamint Having a bit of trouble flashing the firmware...
[code]

[2017-09-20 02:13] vifino commented on #25
Reflashing the flasher fails as well... Not great. :(

[2017-09-20 02:31] Ralim commented on #25
@vifino Just for the sake of it, have you tried the web-based flashing tool?

https://devanlai.github.io/webdfu/dfu-util/

[2017-09-20 02:33] vifino commented on #25
@Ralim No, but I think I know what I am doing wrong. I was feeding dfu-util a .hex, not a binary.

[2017-09-20 02:41] Ralim commented on #25
Ah okay, yeah I don't currently push up .bin files to avoid confusion to users.
There are converters around or I can provide some .bin files, later on, today if you need them.

[2017-09-20 02:44] vifino commented on #25
If you could poke me with a .bin, it'd be much appreciated, @Ralim. Currently, I am stuck with a windows machine, so there isn't much I can do.

[2017-09-20 02:52] Ralim commented on #25
[TS100.zip](https://github.com/Ralim/ts100/files/1316444/TS100.zip)
This is the V2.x release currently, so not perfect and may have some bugs but will let you get back to a working system hopefully and also let you test the bootloader.
Ill get some .bins for the latest 1.x release up tonight

[2017-09-20 03:25] perillamint commented on #25
I just woke up. @vifino Did it work well?

[2017-09-20 03:53] thanks4opensource opened #94 "Sleep vs. shutdown timeouts"
I hope I don't sound unappreciative, but IMO the current sleep vs. shutdown logic is wrong and can/should be improved.

It would be both more intuitive and more useful if the behavior was:
[code]
Either by design or coding error, the current (1.17/1.17.1) code instead does:
[code]
As an example of how this can be confusing and problematic, set SLTME=2 and SHTME=5 and do the following:
[code]

I th